$darkTheme: (
  dark2: #292b2f,
  dark3: #36393f,
  dark4: #2f3136,
  dark5: rgb(60, 63, 70),
  dark6: rgb(75, 80, 90),
  dark7: rgb(91, 97, 109),
);
$lightTheme: (
  light1: rgb(250, 250, 250),
  light2: rgb(240, 240, 240),
  light3: rgb(230, 230, 230),
  light4: rgb(220, 220, 220),
  light5: rgb(190, 190, 190),
  light6: rgb(180, 180, 180),
);

$colorTheme: (
  colorSlightFadedText: #4b505a,
);

:root {
  // --highlight-color:  #8a97c5;
  --highlight-color:  #18ec58;
}


////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI';
}
html {
  overflow: hidden;
  white-space: nowrap;
}
body {
  height: 100vh;
}

///////////////////////////////////////////////

.placeholder::placeholder {
  color: rgb(85, 85, 85);
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(130, 130, 130, 0.5);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 130, 130, 0.6);
}

#NanodeRtn {
  height: 36px;
  width: 36px;
  margin: 7px;
  background: url("/assets/Logo/NWafer.png");
  background-size: contain;
}

///////////////////////////////////////////////////////////////// MAIN
///////////////////////////////////////////////////////////////// MAIN
///////////////////////////////////////////////////////////////// MAIN

#databaseBackgroundMain {
  position: absolute;
  background-color: #e9e9e9;
  width: calc(100vw - 50px);
  height: 100vh;
  right: 0;
  background-size: cover;
  transition: box-shadow 0.3s;
  .dark-theme & {
    background-color: #26262b;
  }
  &.highlight {
    box-shadow: inset 0px 0px 15px 6px rgba(0, 0, 0, 0.4);
    .dark-theme & {
      box-shadow: inset 0px 0px 20px 10px rgba(150, 150, 150, 0.3);
    }
  }
}




.homepageBtnContainer {
  width: 40px;
  padding: 1px 10px;
}

#directoryLocation {
  display: flex;

  position: absolute;
  top: 28px;
  width: calc(100vw - 720px);
  left: 200px;
  height: 32px;
  box-sizing: border-box;
  border: none;
  color: map-get($colorTheme, colorSlightFadedText);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Segoe UI';
  resize: none;
  overflow: hidden;
  text-align: left;
  background: transparent;
  border-bottom: 1px solid var(--highlight-color);
  .dark-theme & {
    letter-spacing: 1px;
    font-weight: 200;
    color: map-get($lightTheme, light1);
  }
}

.dirBtn {
  height: 30px;
  max-width: 150px;
  padding: 2px 8px 0px 8px;
  border-radius: 3px;
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  &:hover {
    opacity: 1;
    background: rgba(0,0,0,0.1);
  }
}

.dirBtn-Hover {
  background: rgba(0, 0, 0, 0.15);
  .dark-theme & {
    color: var(--highlight-color);
    background: rgb(30, 30, 34);
  }
}

.currentDirBtn {
  opacity: 1;
}
.dirArrow {
  height: 30px;
  width: 30px;
  padding: 4px;
  background-image: url(https://drive.nanode.one/assets/svg/Arrow_Right_Black.svg);
  background-position: center;
  opacity: 0.4;
  user-select: none;
  .dark-theme & {
    background-image: url(https://drive.nanode.one/assets/svg/Arrow_Right_White.svg);
  }
}


.directoryLocationControls {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  max-width: 170px;
  width: 30%;
  top: 28px;
  z-index: 1;
  color: map-get($colorTheme, colorSlightFadedText);
  .dark-theme & {
    color: map-get($lightTheme, light1);
  }

  & > span {
    width: 45px;
    &:after {
      border-bottom: 4px solid var(--highlight-color);
    }
  }

  &.DLCLeft {
    left: 70px;
  }
  &.DLCRight {
    right: 285px;
    transition: right 600ms;
  }

  & .directoryControlButton {
    height: 40px;
    padding: 4px 8px;
    font-size: 22px;
    z-index: 1;
    text-align: center;
    color: map-get($colorTheme, colorSlightFadedText);
    cursor: pointer;
    .dark-theme & {
      color: #ccc;
    }
    &:after {
      display:block;
      content: '';
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }
    &:hover:not(.notActive) {
      opacity: 0.7;
    }
    &:hover:not(.notActive):after {
      transform: scaleX(1);
    }
    &.SelectedPage {
      box-shadow: inset 5px 0px 0px 0px var(--highlight-color);
      opacity: 0.7;
    }
  }

  & .notActive {
    opacity: 0.6;
    cursor: default;
  }
}

.fileContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 250px);
  top: 80px;
  padding: 0 24px 80px 40px;
  transition: box-shadow 0.3s;
  overflow-x: auto;
  height: inherit;
  transition: width 600ms;
  &.highlight {
    box-shadow: inset 0px 0px 15px 6px rgba(0, 0, 0, 0.4);
    .dark-theme & {
      box-shadow: inset 0px 0px 20px 10px rgba(150, 150, 150, 0.3);
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }


  .directoryControlNewSpan {
    width: 100%;
    height: 40px;
    margin: 24px 0 60px 0;
    padding: 8px;
    border: 1px dashed rgb(100, 100, 100);
    border-radius: 5px;
    text-align: center;
    color: rgb(100, 100, 100);
    user-select: none;
    background: rgba(0, 0, 0, 0.06);
    transition: background-color, border-color .2s ease-in-out;
    cursor: pointer;
    .dark-theme & {
      color: #666;
    }
    &:hover {
      color: #aaa;
      border-color: #aaa;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

///////////////////////////////////////////////////////////////// FOLDER FILE

.File_Image {
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  border-radius: 3px;
  object-fit: contain;
}
.Item_Image {
  position: absolute;
  padding-top: 8px;
}

.ContentContainer {
  height: fit-content;
  width: 100%;
  margin: 35px 0 0px 0;
  padding: 6px 6px 10px 6px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.03);
  .dark-theme & {
    background: rgba(0, 0, 0, 0.06);
  }

  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(105px, 1fr));
  grid-auto-rows: auto 1fr;
  grid-gap: 10px 6px;
  box-sizing: border-box;

  & a {
    grid-column: 1/-1;
    width: 50%;
    margin: 2px 0 0 22px;
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    color: map-get($darkTheme, dark2);
    .dark-theme & {
      color: #ecececd9;
    }
  }

  & div {
    position: relative;
    flex: 1;
    min-height: 120px;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: rgba(146,146,146,0.2);
    }

    & h4 {
      position: absolute;
      height: 30px;
      width: 100%;
      bottom: 0px;
      padding: 6px 2px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      transition: width .3s;
      .dark-theme & {
        color: #f2f2f2;
      }
    }

    & img {
      width: 100%;
      max-height: 120px;
      object-fit: cover;
    }
  }
}

.FolderNameEdit {
  height: fit-content;
  word-break: break-all;
  white-space: break-spaces;
  z-index: 999;
  background: #ccc;
  .dark-theme & {
    background: rgb(18, 18, 18);
  }
}

///////////////////////////////////////////////////////////////// LISTCONTENT

.ListContentContainer {
  width: 100%;
  margin: 15px 0 0 0;
  border-radius: 5px;
  transition: box-shadow 300ms;

  & a {
    position: absolute;
    margin: 10px 0 0 0;
    border-radius: 3px;
    padding: 0 12px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    user-select: none;
    color: map-get($darkTheme, dark2);
    background: transparent;
  
    .dark-theme & {
      color: #ecececd9;
    }
    &:active {
      border-bottom: 1px solid;
    }
  }

  & table {
    position: relative;
    width: 100%;
    margin: 35px 0 0 0;
    color: map-get($darkTheme, dark2);
    background: transparent;
    border-radius: 5px;
    border-spacing: 0px 2px;
    user-select: none;
    .dark-theme & {
      color: #f1f1f1;
    }
    & tr {
      &:hover:not(.noHover) {
        opacity: 0.7;
        transform: translateX(5px);
        // box-shadow: 0px 2px 0px var(--highlight-color);
        background: rgb(241, 241, 241);
        border-radius: 6px;
        .dark-theme & {
          background: rgba(0,0,0,0.2);
        }
      }
      height: 38px;
      cursor: pointer;
      & th {
        font-size: 14px;
        font-weight: 100;
        font-family: inherit;
      }
      & td {
        font-size: 14px;
        font-weight: 100;
        font-family: inherit;
        & img {
          object-fit: contain;
          height: 32px;
          width: 32px;
        }
      }
    }
    & td:nth-child(1) {width: 50px; padding: 4px 0 0 4px;}
    & th:nth-child(2) {max-width: 0; width: auto; min-width: 160px; overflow: hidden;}
    & th:nth-child(3) {width: 80px; min-width: 60px;}
    & th:nth-child(4) {width: 100px;}
    & th:nth-child(5) {width: 80px;}
  
    & td:nth-child(n+3) { text-align: center; }
  
    & tr:nth-child(1) { height: 20px; cursor: auto; opacity: 0.8; user-select: none; .dark-theme & {opacity: 0.6; &:hover {opacity: 0.6;}  }  &:hover { opacity: 0.8; transform: none; box-shadow: none; }}
    & tr:nth-child(even) {
      background: rgba(0, 0, 0, 0.06);
    }
    & tr:nth-child(odd) {
      background: rgba(0, 0, 0, 0.09);
    }
  }
}

.listItem-Placeholder {
  height: 38px;
  min-width: 200px;
  box-shadow: 0 0 3px black;
  padding: 2px 4px 4px 40px;
  font-size: 14px;
  font-weight: 100;
  font-family: inherit;
  z-index: 990;
  background: #f1f1f1;
  .dark-theme & { background: #1e1e22;  }

  & h5 {
    position: absolute;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.8;
    left: 40px;
    bottom: 3px;
  }

  & img {
    position: absolute;
    left: 4px;
    top: 3px;
    height: 32px;
    width: 32px;
    object-fit: contain;
  }
}


.listItem-Hover {
  box-shadow: 0px 0px 4px 0px var(--highlight-color);
}
.listSpan-Hover {
  box-shadow: 0px 0px 4px 1px var(--highlight-color);
}
///////////////////////////////////////////////////////////////// LEFTBAR
.PagePanel {
  position: fixed;
  height: 100%;
  width: 50px;
  box-shadow: -9px 12px 3px 10px #888;
  z-index: 20;
  background-color: #f1f1f1;
  overflow: hidden;
  .dark-theme & {
    background-color: #1a1a1d;
    box-shadow: -9px 12px 13px 4px #000;
  }

  & div {
    width: 100%;
    display: inline-grid;
    grid-auto-rows: max-content;
    grid-gap: 18px;

    & span {
      height: 36px;
      width: 36px;
      padding: 4px;
      margin-left: 7px;
      border-radius: 20px;
      font-size: 20px;
      text-align: center;
      opacity: 0.6;
      color: black;
      cursor: pointer;
      transition: all 200ms;
      .dark-theme & {
        color: #ccc;
      }
      &.SelectedPage {
        background: var(--highlight-color);
        box-shadow: 0px 0px 8px 0px var(--highlight-color);
        opacity: 1;
        color: #f1f1f1;
        .dark-theme & {
          color: #1a1a1d;
        }
      }
      &:hover {
        opacity: 1;
        color: var(--highlight-color);
      }
      
      // &:after {
      //   display:block;
      //   content: '';
      //   margin: -30px 0 0 -8px;
      //   height: 110%;
      //   transform: scaleY(0);
      //   transition: transform 0.2s ease-in-out;
      //   border-left: 5px solid var(--highlight-color);
      // }

      // &:hover:after {
      //   transform: scaleY(1);
      // }
    }
  }
  .PageControls {
    margin-top: 12px;
  }
  .PagesBottom {
    position: absolute;
    margin-bottom: 12px;
    bottom: 0px;
    left: 0;
  }

}

///////////////////////////////////////////////////////////////// FILE INFORMATION
.fileInformation {
  position: absolute;
  height: 100%;
  min-height: 500px;
  width: 240px;
  right: 0px;
  padding-top: 40px;
  transition: right 600ms;
  background:rgba(255,255,255,0.4);
  .dark-theme & {
    background: rgba(0,0,0,0.2);
    color: #ddd;
  }

  h2 {
    position: absolute;
    width: 70px;
    left: 35px;
    font-size: 22px;
    font-weight: 600;
  }

  .toggleDetailsBtn {
    position: absolute;
    height: 29px;
    width: 60px;
    right: 20px;
    padding: 4px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid var(--highlight-color);
    cursor: pointer;
    transition: text-align 300ms;
  }
}

.fileInformationSideBar {
  position: absolute;
  top: 36px;
  right: 218px;
  height: 40px;
  width: 40px;
  opacity: 0.5;
  background-image: url(https://drive.nanode.one/assets/svg/slideBarBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
  z-index: 5;
  transition: right 600ms;
  cursor: pointer;
  .dark-theme & {
    opacity: 0.7;
    background-image: url(https://drive.nanode.one/assets/svg/slideBarWhite.svg);
  }
}

.fileInformationContent {
  position: relative;
  height: calc(100% - 210px);
  width: 100%;
  top: 50px;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;

  .itemInformation {
    width: 100%;
    font-weight: 400;
    padding: 10px 0 0 8px;
    white-space: normal;
    .dark-theme & {
      font-weight: 100;
      color: #ccc;
    }

    &.itemInformationName {
      padding: 5px 0 5px 8px;
      color: map-get($darkTheme, dark2);
      .dark-theme & {
        color: #27ce8e;
      }
    }
    &.itemInformationBlock {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 16px;

      .itemInformationDirectory {
        width: 96%;
        font-size: 14px;
        padding: 4px;
        border-radius: 3px;
        border: none;
        background: rgba(0,0,0,0.05);
        border-bottom: 1px solid map-get($darkTheme, dark6);
        .dark-theme & {
          color: #93c0af;
          border-color: map-get($lightTheme, light6);
        }
      }

      &.itemInformationTable {
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
        border-collapse: collapse;
        table-layout: fixed;
        & td {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 28px;
        }
        & td:nth-child(1) { padding: 0 0 2px 20px; font-variant: all-petite-caps; opacity: 0.8; }
        & td:nth-child(2) { text-align: right; padding-right: 20px; font-family: 'Inter', sans-serif; font-size: 12px; }
      }
    }
  }
  .itemInformationUUID {
    padding: 4px 0 5px 8px;
    font-size: 10px;
    color: map-get($darkTheme, dark7);
    border-bottom: 1px solid map-get($darkTheme, dark6);
    .dark-theme & {
      color: map-get($lightTheme, light5);
      border-color: map-get($lightTheme, light6);
    }
  }

  .shareLinkIcon {
    padding: 5px 10px;
    cursor: pointer;
    color: map-get($darkTheme, dark3);
    .dark-theme & {
      color: map-get($lightTheme, light3);
    }
  }
  .shareableLinkInput {
    width: 78%;
    padding: 4px;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    background: rgba(0,0,0,0.05);
    color: map-get($darkTheme, dark3);
    border-bottom: 1px solid map-get($darkTheme, dark6);
    .dark-theme & {
      color: map-get($lightTheme, light3);
      border-color: map-get($lightTheme, light6);
    }
    ::placeholder {
      color: map-get($darkTheme, dark5);
      .dark-theme & {
        color: map-get($lightTheme, light5);
      }
    }
  }
}

///////////////////////////////////////////////////////////////// UPLOAD

.fileUploadControls {
  position: absolute;
  height: 150px;
  width: 100%;
  bottom: 0px;

  > .uploadNumber {
    position: absolute;
    height: 24px;
    width: 115px;
    right: 10px;
    bottom: 34px;
    padding: 1px;
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    user-select: none;
  }
  > #uploadClearItems {
    position: absolute;
    height: 24px;
    width: 100px;
    left: 10px;
    bottom: 34px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: not-allowed;
    &:hover {
      background: rgba(140, 140, 140, 0.2);
    }
  }
  > #uploadDirectory {
    position: absolute;
    height: 28px;
    width: 90%;
    font-size: 15px;
    margin: 8px 10px;
    padding: 1px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    user-select: none;
    .dark-theme & {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  > #fileBeingUploaded {
    position: absolute;
    bottom: 2px;
    font-size: 15px;
    font-weight: 100;
    padding: 0 8px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
  }

  > #uploadPercentage {
    position: absolute;
    display: block;
    width: 100%;
    height: 22px;
    bottom: 0;
    border-top: 1px solid;
    appearance: none;
    -webkit-appearance: none;
  }
  progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.05);
    .dark-theme & {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
  progress::-webkit-progress-value {
    background-color: rgb(43, 211, 107);
  }
}

#uploadStartStopButton {
	position: absolute;
  height: 32px;
  width: 180px;
  bottom: 70px;
  left: 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-variant: all-small-caps;
  border: 2px solid var(--highlight-color);
  background: var(--highlight-color);
  color: white;
  user-select: none;
  cursor: pointer;
  z-index: 5;

  &:hover {
    background: rgba(0,0,0,.1);
  }
}
.uploadSpanContainer {
  position: absolute;
  width: 220px;
  font-size: 14px;
  text-align: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top: 1px solid #bbb;
  user-select: none;
  cursor: pointer;
  z-index: 5;
  .dark-theme & {
    color: #f2f2f2;
    border-top: 1px solid #4e4e52;
  }
  & > div {
    height: 26px;
    padding: 2px 0px;
    border-radius: 6px;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
      color: var(--highlight-color);
     }
  }
}


// Upload and Download Container

.UpDownOverlayContainer {
  position: absolute;
  height: 170px;
  width: 100%;
  bottom: 150px;

  > .uploadOverlayBtn  {
    position: absolute;
    top: 12px;
    width: 60px;
    height: 30px;
    background: var(--highlight-color);
    border-radius: 2px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 3px;
    user-select: none;
    cursor: pointer;
    &:hover {
      top: 13px;
    }
  }
  > .UOFolder {
    left: 20px;
  }
  > .UOFile {
    right: 90px;
  }
  > .UOCancel {
    right: 20px;
    background: transparent;
    color: #1c1c1c;
    .dark-theme & {
      color: white;
    }
    &:hover {
      background: map-get($lightTheme, light4);
      .dark-theme & {
        background: map-get($darkTheme, dark6);
      }
    }
  }
}

.UpDownOverlayItems {
  position: absolute;
  height: calc(100% - 60px);
  width: 90%;
  top: 52px;
  font-size: 14px;
  left: 5%;
  padding: 0 8px;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  .dark-theme & {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.DODownload {
  position: absolute;
  height: 30px;
  width: 130px;
  top: 12px;
  left: 12px;
  padding: 3px;
  border-radius: 2px;
  text-align: center;
  color: #eee;
  // background: #dadada;
  background: var(--highlight-color);
  user-select: none;
  cursor: pointer;
  // background: #2a2a30;
}

.downloadIcon {
  position: absolute;
  height: 60px;
  width: 60px;
  left: calc(50% - 30px);
  margin: 12px 0;
  border: none;
  background-image: url(https://drive.nanode.one/assets/icons/Download_Black.svg);
  .dark-theme & {
    background-image: url(https://drive.nanode.one/assets/icons/Download_White.svg);
  }
}
.downloadStatus {
  position: absolute;
  width: 90%;
  bottom: 12px;
  text-align: center;
  font-weight: 100;
}


///////////////////////////////////////////////////////////////// POPUP
///////////////////////////////////////////////////////////////// POPUP
///////////////////////////////////////////////////////////////// POPUP

.BlockOut {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.centralActionMain {
  position: absolute;
  width: 400px;
  height: 150px;
  border-radius: 5px;
  left: calc(50vw - 200px);
  top: (calc(50vh - 150px));
  z-index: 10;
  font-size: 18px;
  padding: 15px 20px 0 20px;
  border: 1px solid rgb(172, 172, 172);
  background: map-get($lightTheme, light1);
  box-shadow: 0 4px 8px rgba(0,0,0,.32), 0 8px 40px rgba(0,0,0,.4);
  .dark-theme & {
    border: 1px solid rgb(66, 66, 66);
    color: rgb(197, 197, 197);
    background: map-get($darkTheme, dark4);
    box-shadow: 0 4px 8px rgba(48, 48, 48, 0.32), 0 8px 40px rgba(48, 48, 48, 0.4);
  }
  user-select: none;

  > input {
    position: absolute;
    top: calc(50% - 15px);
    left: 5%;
    width: 90%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
  }
  > div {
    position: absolute;
    height: 30px;
    width: 80px;
    bottom: 12px;
    padding: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }
  .AMAccept {
    right: 20px;
    background: #4285f4;
    border-radius: 2px;
    &:hover {
      bottom: 13px;
    }
  }
  .AMCancel {
    right: 120px;
    color: black;
    .dark-theme & {
      color: white;
    }
    &:hover {
      background: map-get($lightTheme, light4);
      .dark-theme & {
        background: map-get($darkTheme, dark6);
      }
    }
  }
}

.centralDirectoryInfoText {
  font-size: 15px;
  line-height: 22px;
  margin-top: 5px;
  padding: 3px;
  white-space: break-spaces;
  width: 100%;
  border-top: 1px solid #555;
}



.customTagsContainer {
  height: fit-content;
  max-height: 220px;
  top: (calc(50vh + 15px));
  overflow-y: scroll;
  padding: 12px;
}
.customTagsTable {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 5px;
  & tr {
    height: 34px;
  }
  & th {
    width: 100%;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 100;
    font-family: inherit;
    padding-top: 8px;
  }
  & td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    height: 30px;
  }
  & td:nth-child(1) { padding-left: 5px; width: 80px; font-size: 15px; font-weight: 100;}
  & td:nth-child(2) { text-align: right;}
}

.settingsInput {
  height: 28px;
  width: 100%;
  font-size: 14px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid var(--highlight-color);
  border-radius: 5px;
  text-align: left;
  background: none;
  .dark-theme & {
    color: #ccc;
  }
}
.settingsInputHalf {
  width: 120px;
}

.spanOptionsContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 255px;
  border: 1px solid #aaa;
}
.SpanDropdownOption {
  width: 100%;
  height: 24px;
  font-size: 14px;
  padding: 2px 0 0 10px;
  user-select: none;
  cursor: pointer;

  background: map-get($lightTheme, light1);
  color: #484848;
  .dark-theme & {
    background: map-get($darkTheme, dark4);
    color: #aaa;
  }
  &:hover {
    background: map-get($lightTheme, light4);
    .dark-theme & {
      background: map-get($darkTheme, dark6);
    }
  }
}

///////////////////////////////////////////////////////////////// COLOUR PICKER
///////////////////////////////////////////////////////////////// COLOR PICKER
///////////////////////////////////////////////////////////////// COLOUR PICKER

.colorContainer {
  position: absolute;
  user-select: none;
  height: 300px;
  width: 200px;
  top: calc(50vh - 150px);
  left: calc(50vw - 100px);
  padding: 6px;
  border-radius: 5px;
  color: #484848;
  box-shadow: 0px 0px 5px #555;
  background: #eee;
  z-index: 999;
  cursor: all-scroll;
  .dark-theme & {
    color: white;
    background: map-get($darkTheme, dark4);
  }
}
#closeColorPicker {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 4px;
  left: 10px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}
#acceptColorPicked {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 4px;
  right: 10px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}
.colorPickEntry {
  position: absolute;
  height: 26px;
  width: 86px;
  top: 5px;
  left: 57px;
  padding: 3px;
  border: none;
  text-align: center;
  background: transparent;
  border-bottom: 1px solid;
  color: #484848;
  font-size: 16px;
  font-weight: 500;
  .dark-theme & {
    color: white;
  }
}
.colorOptionsContainer {
  position: absolute;
  height: 260px;
  width: 188px;
  bottom: 5px;
  cursor: default;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  > div {
    height: 29px;
    width: 29px;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer;
    &:hover {
      border: 2px solid;
      border-radius: 4px;
    }
    &.selectedCol {
      border: 3px solid;
      border-radius: 16px;
    }
  }
}

///////////////////////////////////////////////////////////////// IMAGE
///////////////////////////////////////////////////////////////// IMAGE
///////////////////////////////////////////////////////////////// IMAGE

.displayImageLarge {
  position: absolute;
  max-height: 80vh;
  max-width: 80vw;
  object-fit: contain;
  border-radius: 5px;
}

///////////////////////////////////////////////////////////////// TEXT
///////////////////////////////////////////////////////////////// TEXT
///////////////////////////////////////////////////////////////// TEXT

.displayTextContainer {
  position: absolute;
  height: 80vh;
  min-width: 400px;
  width: 34vw;
  border-radius: 5px;
  border: 1px solid #302f35;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: map-get($lightTheme, light2);
  box-shadow: 0 4px 8px rgba(0,0,0,.32), 0 8px 40px rgba(0,0,0,.4);
  .dark-theme & {
    color: rgb(197, 197, 197);
    background: #1e1e23;
  }
}
.displayTextTitle {
  position: relative;
  font-family: Noto Sans,Arial,sans-serif;
  width: 100%;
  height: 38px;
  padding: 9px 5px 5px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px dotted #5b616d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 100;
  background: map-get($lightTheme, light2);
  .dark-theme & {
    color: #eee;
    background: #1e1e23;
  }
}
.displayTextContent {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100% - 38px);
  padding: 15px;
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
  white-space: normal;
  overflow-y: auto;
  resize: none;
  border: none;
  outline: none;
  .dark-theme & {
    color: #ddd;
    background: #1e1e23;
  }
}

///////////////////////////////////////////////////////////////// LOCKED
///////////////////////////////////////////////////////////////// LOCKED
///////////////////////////////////////////////////////////////// LOCKED




.securityContainer {
  position: relative;
  width: 200px;
  height: 32px;
  border-radius: 3px;
  margin: 10px 0 0 10px;
  padding: 2px;
  box-shadow: 0 0 8px #666;
  .dark-theme & {
    color: #d8d8d8;
    background-color: #2d2d38;
    box-shadow: 0 0 8px #1e1e1e;
  }
}
.securityEntry {
  &:hover {
    box-shadow: inset 0px 0px 4px #666;
  }
}
.itemLockIcon {
  position: relative;
  left: 0;
  padding: 5px 3px 0 6px;
  font-size: 16px;
}
.panelSecureInput {
  height: 24px;
  width: 164px;
  margin: 2px 0 0 4px;
  padding: 0 0 0 6px;
  border: none;
  border-radius: 3px;
  font-family: monospace;
  font-size: 15px;
  color: #484848;
  background-color: #dbdbdb;
  .dark-theme & {
    color: #bebebe;
    background-color: #232328;
  }
}
#panelSecureInput::placeholder {
  font-size: 13px;
  font-style: italic;
}



//////////////////////////////// RIGHTCLICK rightclick /////////////////////////////////



#rightClickContainer {
  display: none;
  position: fixed;
  user-select: none;
  z-index: 999;
  width: 180px;
  border-radius: 4px;
  padding: 6px 0px;
  box-shadow: 0px 0px 10px 4px rgba(180, 180, 180, 0.7);
  background:map-get($lightTheme, light2);
  .dark-theme & {
    box-shadow: 0px 0px 10px 4px rgba(20, 20, 20, 0.7);
    background: map-get($darkTheme, dark2);
    color: #ddd;
  }
  li {
    font-size: 14px;
    font-family: 'Segoe UI';
    list-style: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    &.Nano_SPLIT {
      margin: 6px;
      padding: 0;
      opacity: 0.4;
      border-top: 1px solid black;
      cursor: auto;
      .dark-theme & {
        border-top: 1px solid whitesmoke;
      }
    }
  }
  :not(.nano_SPLIT):hover {
    background: #d3d3d3;
    .dark-theme & {
      background: #6b779f;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}






///////////////////////////////////////////////

@media only screen and (max-width: 1000px) {
  .fileContainer {
    top: 82px;
  }
  .directoryLocationControls {
    top: 48px;
  }
  .DLCLeft {
    left: 82px;
  }
  #directoryLocation {
    top: 10px;
    left: 50px;
    width: calc(100% - 340px);
  }
}

@media only screen and (max-width: 800px) {
  #directoryLocation {
    left: 26px;
    width: calc(100% - 300px);
  }

  .DLCLeft {
    left: 55px;
  }

  .fileContainer {
    width: 100% !important;
    padding: 0 15px;
    height: calc(100% - 60px);
  }

  .fileInformation {
    background: #f1f1f1;
    right: 0px;
    z-index: 1;
    .dark-theme & {
      background-color: #1a1a1d;
    }
  }

}

@media only screen and (max-width: 600px) {

  #directoryLocation {
    width: calc(100% - 100px);
    left: 22px;
    top: 30px;
  }

  .fileContainer {
    top: 65px;
  }

  .ListContentTable {
    & th:nth-child(4) { display: none !important;}
    & th:nth-child(5) { display: none !important;}
    & td:nth-child(4) { display: none !important;}
    & td:nth-child(5) { display: none !important;}
  }

  .placeholder {
    height: 40px;
    width: 200px;
    background: red;
    border: 5px solid blue;
  }

  .PagePanel {
    display: none;
  }
  #databaseBackgroundMain {
    width: 100vw;
  }

  .directoryLocationControls {
    position: fixed;
    height: 40px;
    min-width: 50%;
    top: calc(100% - 40px);
    background: #e9e9e9;
    box-shadow: -5px 0px 5px 0 #555;
    margin-left: 0;
    .dark-theme & {
      background-color: #202028;
    }

    &.DLCLeft {
      z-index: 4;
      left: 0;
    }
    &.DLCRight {
      left: 50%;
    }
  }

  .homepageSpanContainer {
    margin: 20px 0 0 0;
  }
  .fileInformation {
    height: calc(100% - 40px);
  }
  .displayTextContainer {
    width: 90%;
  }

}

@media only screen and (max-width: 500px) {
  .centralActionMain {
    width: 90%;
    left: 5%;
  }
  
  .ListContentTable {
    & th:nth-child(3) { display: none !important;}
    & td:nth-child(3) { display: none !important;}
  }
  
  .Item > img {
    object-fit: contain;
  }
}