$colors: (
  background_dark: #171b21,
  background_dark_1: #20262f,
  background_dark_2: #292c32,
  background_dark_3: #282c3c,
  background_light: #fff,
  background_light_1:#eff3f5,
  background_light_2:#eaf0f4,
  background_light_3:#f1f2f2, // #c8dce6  #d4d4d5

  border_dark: #3f4755,
  border_light:#e6e8eb,

  dark_2: #23262a,
  light_2: #e0e0e0,

  dark_popup: #202328,
  light_popup: #ededed,
  dark_popup_highlight: #282c32,
  light_popup_highlight: #fafafa,

  text_light_1: #0e0e0e,
  text_light_2: #151616,
  text_light_3: #282829,

  text_dark_0: #f1f1f1,
  text_dark_1: #fafafa,
  text_dark_2: #e0e3e4,
  text_dark_3: #dbdbdb,

  input_dark: #282c32,
  input_light:#cdd0d5,

  hover_dark: #1c1c1d,
  hover_light: #f5f6f7,
);

// Background: #0f1923
// Light Blue: #99ccff
// Yellow: #f0e800
// map-get($colors, text_light_2);

:root {
  // --highlight-color:  #18ec58;
  // --highlight-color:  #18baec;
  // --highlight-color: #89b79c;
  --highlight-color: #99ccff;
  // #0be512
  // #00c2ff
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');


////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', 'Segoe UI', 'monospace';
  letter-spacing: 0.3px;
}
html {
  overflow: hidden;
}
body {
  display: grid;
  grid-template-columns: 220px auto 240px;
  grid-template-rows: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

///////////////////////////////////////////////

.placeholder::placeholder {
  color: rgb(85, 85, 85);
  font-size: 14px;
}


::-webkit-scrollbar { height: 5px; width: 5px; }
::-webkit-scrollbar-track { background: map-get($colors, background_light); .dark-theme & { background: map-get($colors, background_dark);} }
::-webkit-scrollbar-thumb { border-radius: 4px; background: map-get($colors, border_light); .dark-theme & { background: map-get($colors, border_dark); }}
::-webkit-scrollbar-thumb:hover { background: linear-gradient(40deg, #a4b4af, #a9c7d5); }

// background: rgba(130, 130, 130, 0.6);


.Frame {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  width: 235px;
  right: 4px;
  z-index: 1001;

  button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 3px 10px;
    cursor: pointer;
    opacity: 0.6;
    color: map-get($colors, text_light_2);
    .dark-theme & {
      color: map-get($colors, text_dark_1);
    }
    &:hover {
      opacity: 1;
    }
  }
  .clientStatus {
    position: absolute;
    height: 20px;
    width: 150px;
    top: 4px;
    right: 70px;
    padding: 0px 8px;
    border-radius: 20px;
    background: #f4f9fd;
    user-select: none;
    z-index: 1001;
    .dark-theme & {
      background:#282c3c;
    }

    div {
      display: inline-block;
      height: 4px;
      width: 4px;
      border-radius: 2px;
      margin: 0px 0 3px 5px;
      box-shadow: 0px 0px 6px 1px;
    }

    #Recon_Btn {
      position: absolute;
      height: 20px;
      width: 126px;
      right: 0px;
      text-align: center;
      color: #f1f1f1;
      line-height: 17px;
      font-variant: all-petite-caps;
      border-radius: 10px;
      background: linear-gradient(40deg, #ba3472, #b21c2a);
      box-shadow: none;
      user-select: none;
      cursor: pointer;
      z-index: 1002;
    }
  }
}

///////////////////////////////////////////////

.PageList { // left bar
  position: relative;
  max-width: 220px;
  z-index: 20;
  overflow: hidden;
  background-color: map-get($colors, background_light);
  border-right: 1px solid map-get($colors, border_light);
  cursor: auto;

  .dark-theme & {
    background: map-get($colors, background_dark);
    border-right: 1px solid map-get($colors, border_dark);
  }

  div {
    display: inline-grid;
    grid-auto-rows: max-content;
    grid-gap: 14px;
    width: 100%;
    
    a {
      height: 20px;
      width: 130px;
      margin: 30px 0 15px 25px;
      background: url('/assets/main/nanode.svg');
      background-size: contain;
      background-repeat: no-repeat;
      filter: brightness(0);
      .dark-theme & { filter: none; }
    }

    span {
      display: flex;
      height: 36px;
      width: 85%;
      padding: 4px 20px;
      font-size: 18px;
      line-height: 20px;
      opacity: 0.6;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: all 200ms;
      color:#222223;
      cursor: pointer;

      .dark-theme & { color: #ccc; }

      &:hover {
        opacity: 1;
        color: var(--highlight-color);
      }

      i { padding: 5px 9px; }
      p { font-size: 18px; padding: 4px; }
    }

    .SelectedPage {
      opacity: 1;
      color:#121213;
      background: map-get($colors, background_light_3);
      .dark-theme & {
        color: #f1f1f1;
        background: map-get($colors, background_dark_3);
      }
    }
  }

  .PagesTwo {
    position: absolute;
    left: 0;
    bottom: 100px;
    margin-bottom: 12px;
  }

  .Storage {
    position: absolute;
    height: 94px;
    width: 80%;
    left: 10%;
    bottom: 0;
    padding: 8px 0;
    font-size: 14px;
    color: map-get($colors, text_light_3);
    border-top: 1px solid map-get($colors, border_light);
    .dark-theme & {
      color: map-get($colors, text_dark_3);
      border-top: 1px solid map-get($colors, border_dark);
    }

    h3 {
      font-size: 15px;
      opacity: 0.8;
      letter-spacing: 0.25px;
      font-weight: 400;
    }

    p {
      position: absolute;
      top: 40px;
      font-size: 13px;
      color: map-get($colors, highlight-color);
    }
    progress {
      position: absolute;
      height: 6px;
      width: 100%;
      top: 70px;
      border-radius: 5px;

      &::-webkit-progress-bar {
        border-radius: 5px;
        background-color: map-get($colors, border_light);
        .dark-theme & { background-color: map-get($colors, border_dark); }
      }
      &::-webkit-progress-value {
        background-color: var(--highlight-color);
        border-radius: 5px;
      }
    }
  }

}



.PageContainer {  // databaseBackgroundMain
  position: relative;
  transition: box-shadow 0.3s, filter 0.3s, width 600ms;
  background-size: cover;
  background-color: map-get($colors, background_light);
  height: 100%;
  cursor: auto;

  .dark-theme & {
    background-color: map-get($colors, background_dark);
  }

  &.highlight {
    filter: brightness(0.9);
    box-shadow: inset 0px 0px 20px 10px rgba(254, 254, 254, 0.3);
  }
}



.PageHeader { // location && search
  display: flex;
  height: 68px;
  padding: 22px 24px 14px 24px;

  #directoryLocation  {
    flex: auto;
    display: flex;
    box-sizing: border-box;
    border: none;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 19px;
    resize: none;
    overflow: hidden;
    text-align: left;
    background: transparent;

    .dark-theme & {
      color: map-get($colors, text_dark_1);
    }

    .dirBtn {
      height: 30px;
      max-width: 150px;
      padding: 3px 8px 0px 8px;
      border-radius: 3px;
      opacity: 0.6;
      overflow: hidden;
      user-select: none;
      cursor: pointer;
      
      text-overflow: ellipsis;
      // &:not(:last-child) {
      //   text-overflow: ellipsis;
      // }

      &:hover {
        opacity: 1;
        background: rgba(0,0,0,0.1);
      }
    }
    .dirBtn-Hover {
      background: rgba(0, 0, 0, 0.15);
      .dark-theme & {
        color: var(--highlight-color);
        background: rgb(30, 30, 34);
      }
    }
    .currentDirBtn {
      opacity: 1;
    }
    .dirArrow {
      width: 30px;
      background-image: url(https://nanode.one/assets/svg/Arrow_Right_Black.svg);
      background-position: center;
      opacity: 0.4;
      user-select: none;
      .dark-theme & {
        background-image: url(https://nanode.one/assets/svg/Arrow_Right_White.svg);
      }
    }
  }

  .search {
    width: 150px;
    padding: 0 8px 2px 8px;
    border-radius: 5px;
    font-size: 15px;
    color: map-get($colors, text_light_1);
    border: 1px solid map-get($colors, border_light);
    background: transparent;
    transition: width 300ms;

    &:focus { width: 300px; }
    .dark-theme & {
      color: map-get($colors, text_dark_1);
      border: 1px solid map-get($colors, border_dark);
    }
  }

  .PageInformationToggle {
    padding: 0px 8px;
    font-size: 22px;
    z-index: 5;
    opacity: 0.7;
    color: map-get($colors, text_light_0);
    cursor: pointer;

    .dark-theme & {
      color: map-get($colors, text_dark_0);
    }
    &:hover {
      opacity: 1;
    }
  }

  .PageControls { // back forward
    display: flex;
    justify-content: space-between;
    width: 80px;
    z-index: 1;
    color: map-get($colors, text_light_2);
    .dark-theme & {
      color: map-get($colors, text_dark_2);
    }
  
    span {
      display: inline;
      width: 40px;
      height: 40px;
      padding: 7px;
      font-size: 22px;
      z-index: 1;
      text-align: center;
      color: map-get($colors, text_light_2);
      cursor: pointer;
      .dark-theme & {
        color: #ddd;
      }
      &.notActive {
        color: #7e7e7e;
        cursor: default;
      }
  
      &:hover:not(.notActive) {
        color: #f0f0f0;
        text-shadow: 0px 0px 3px white;
      }
      &.SelectedPage {
        box-shadow: inset 5px 0px 0px 0px var(--highlight-color);
        opacity: 0.7;
      }
    }
  }
}



.Page { // central area
  height: calc(100% - 68px);
  overflow-y: auto;
  overflow-x: hidden;

  .fileContainer {
    display: grid;
    grid-gap: 30px;
    padding: 0 24px 24px 24px;
    transition: width 600ms;

    &::-webkit-scrollbar { display: none; }

    .ContentContainer {
      height: fit-content;
      width: 100%;
      padding: 12px 6px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.02);
      .dark-theme & {
        background: rgba(2, 6, 12, 0.1);
      }
    
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(105px, 1fr));
      grid-auto-rows: auto 1fr;
      grid-gap: 10px 6px;
      box-sizing: border-box;
    
      & a {
        grid-column: 1/-1;
        width: 50%;
        min-width: 200px;
        margin: 0 0 0 12px;
        font-size: 19px;
        font-weight: 600;
        user-select: none;
        color: map-get($colors, dark_2);
        .dark-theme & {
          color: #ecececd9;
        }
      }
    
      & div {
        position: relative;
        flex: 1;
        min-height: 120px;
        border-radius: 5px;
        transition: background-color .2s ease-in-out;
        box-sizing: border-box;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
        &:hover {
          background-color: rgba(146,146,146,0.2);
        }
    
        & h4 {
          position: absolute;
          height: 30px;
          width: 100%;
          bottom: 0px;
          padding: 6px 2px;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          transition: width .3s;
          .dark-theme & {
            color: #f2f2f2;
          }
        }

        .FolderNameEdit {
          height: fit-content !important;
          word-break: break-all;
          white-space: break-spaces;
          z-index: 999;
          background: #bcbcbc;
          .dark-theme & {
            background:#888a89;
          }
        }
    
        & img {
          width: 100%;
          max-height: 120px;
          object-fit: cover;
        }
      }
    }

    .ListContentContainer {
      // width: 100%;
      margin: 4px 0;
      border-radius: 5px;
      transition: box-shadow 300ms;
      background: rgba(0, 0, 0, 0.02);
      .dark-theme & { background: rgba(2, 6, 12, 0.1); }
    
      & table {
        position: relative;
        width: 100%;
        border-radius: 5px;
        border-spacing: 0px 2px;
        border-collapse: collapse;
        user-select: none;
        color: map-get($colors, text_light_2);
        background: transparent;
        .dark-theme & {
          color: map-get($colors, text_dark_0);
        }
        & tr {
          &:not(:first-child):hover:not(.noHover) {
            opacity: 0.7;
            transform: translateX(5px);
            background: rgb(241, 241, 241);
            border-radius: 6px;
            .dark-theme & {
              background: rgba(0,0,0,0.2);
            }
          }
          height: 42px;
          cursor: pointer;
          & th {
            font-size: 14px;
            font-weight: 100;
            font-family: inherit;
          }
          & td {
            font-size: 14px;
            font-weight: 100;
            font-family: inherit;
            & img {
              object-fit: contain;
              height: 32px;
              width: 32px;
            }
          }

          &.selected {
            background: map-get($colors, border_light);
            .dark-theme & { background: map-get($colors, input_dark); }
          }
        }

        & tr:nth-child(1) { height: 36px; cursor: auto; user-select: none;  &:hover { opacity: 1; transform: none; box-shadow: none; }}
        & tr:nth-child(n+2) { border-top: 1px solid map-get($colors, border_light); .dark-theme & { border-top: 1px solid #1f232b; } }

        & th:nth-child(1) {
          & input {
            position: absolute;
            min-width: 200px;
            top: 7px;
            left: 18px;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.5px;
            border: none;
            color: inherit;
            background: transparent;
            &:focus { padding-bottom: 3px; border-bottom: 1px solid #aaa; }
          }
        }
        & th:nth-child(2) {max-width: 0; width: auto; min-width: 160px; overflow: hidden;}
        & th:nth-child(3) {width: 80px; min-width: 60px;}
        & th:nth-child(4) {width: 100px;}
        & th:nth-child(5) {width: 80px;}
      
        & th:nth-child(n+3) { opacity: 1; font-variant: all-petite-caps; .dark-theme & {opacity:0.6;} }
        & td:nth-child(n+3) { opacity: 1; font-variant: all-petite-caps; text-align: center; font-size: 15px; .dark-theme & {opacity:0.8;} }
      
        & td:nth-child(1) { width: 50px; padding: 4px 0 0 4px;}
        & td:nth-child(2) input {
          height: 30px;
          width: 100%;
          font-size: 14px;
          border: none;
          color: inherit;
          background: transparent;
          &:focus { border-bottom: 1px solid; }
          &:disabled { cursor: pointer; }
        }
      }

      .expandBtn {
        height: 22px;
        width: 70px;
        border: none;
        line-height: 20px;
        color: inherit;
        background: map-get($colors, input_light);
        cursor: pointer;
        .dark-theme & { background: map-get($colors, border_dark); }
        &:hover { opacity: 0.7; }
      }
    }  

    .NewSpan {
      height: 40px;
      margin: 0 0 60px 0;
      padding: 8px;
      border-radius: 5px;
      text-align: center;
      font-variant: all-petite-caps;
      opacity: 0.6;
      color: map-get($colors, text_light_2);
      background: rgba(0, 0, 0, 0.02);
      transition: opacity 200ms;
      user-select: none;
      cursor: pointer;

      .dark-theme & {
        color: map-get($colors, text_dark_0);
        background: rgba(2, 6, 12, 0.1);
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}


.PageInformation { // right side bar
  position: relative;
  min-height: 500px;
  width: 240px;
  padding-top: 40px;
  transition: right 600ms;
  border-left: 1px solid map-get($colors, border_light);
  background: map-get($colors, background_light);
  cursor: auto;
  
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar { width: 4px; }

  .dark-theme & {
    border-left: 1px solid map-get($colors, border_dark);
    background: map-get($colors, background_dark);
  }

  .New {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 146px;
    left: 10px;
    padding: 7px 0;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(40deg, #4f9aa2, #1cb23d);
    color: map-get($colors, text_dark_0);
    cursor: pointer;
    user-select: none;

    i { font-size: 14px; margin-right: 6px; }
  }

  .toggleDetailsBtn {
    // position: absolute;
      position: relative;
      display: inline-block;
    height: 27px;
    width: 60px;
    // right: 12px;
      right: -17px;
      top: 3px;
    // margin-top: 3px;
    padding: 3px 4px;
    border-radius: 18px;
    font-size: 20px;
    color: map-get($colors, highlight-color);
    border: 1px solid map-get($colors, highlight-color);
    cursor: pointer;
    transition: text-align 300ms;
    user-select: none;
  }
  
  .NewOptions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
    color: white;
    div {
      display: inline-grid;
      width: 100px;
      padding: 1px;
      font-size: 18px;
      font-variant: all-petite-caps;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      &:hover {transform: translateY(-1px);}
    }
  }

  .ItemInformation {
    height: auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 0px;
    font-size: 15px;
    white-space: normal;
    border-top: 1px solid map-get($colors, border_light);
    color: #1a1a1d;
    .dark-theme & { color: #eee; border-color: map-get($colors, border_dark); }

    > section {
      position: relative;
      padding: 5px 10px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      box-shadow: 0px 2px 2px #d6dbdb;
      .dark-theme & { box-shadow: 0px 2px 2px #0f1515; }
    }

    .IIData {
      background: map-get($colors, background_light_3);
      .dark-theme & { background: #1a1f26; }
      z-index: 2;

      .ItemInfo_Name {
        width: 100%;
        font-size: 18px;
        padding: 8px 2px;
        background: transparent;
        border: none;
        .dark-theme & { color: var(--highlight-color); }
        &:focus {
          background: #343743;
        }
      }
      
      .ItemInfo_UUID {
        padding: 6px 0px;
        text-align: center;
        font-size: 11px;
        letter-spacing: 0.3px;
        opacity: 0.6;
        border-bottom: 1px solid #393c44;
      }
      
      img {
        position: relative;
        object-fit: cover;
        height: auto;
        max-height: 128px;
        width: auto;
        max-width: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin: 8px 0;
      }
      
      .ItemInfo_Directory {
        width: 100%;
        margin-top: -1px;
        padding: 12px 4px;
        border: none;
        background: transparent;
        border-top: 1px solid #393c44;
        border-bottom: 1px solid #393c44;
        color: inherit;
      }

      button {
        display: flex;
        justify-content: space-evenly;
        width: calc(50% - 10px);
        padding: 8px 5px;
        border-radius: 3px;
        border: none;
        color: inherit;
        background:rgba(0, 0, 0, 0.05);
        cursor: pointer;
        transition: box-shadow 300ms ease;
        > i {
          color: var(--highlight-color);
          font-size: 15px;
          padding: 1px 4px;
        }
        &:hover {
          box-shadow: 0 0 6px var(--highlight-color);
        }
        .dark-theme & { background: rgba(0, 0, 0, 0.2); }
      }
      
      table {
        width: 100%;
        margin: 16px 0;
        & td {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 28px;
    
          > input {
            height: 20px;
            width: 50px;
            border: none;
            background: transparent;
          }
        }
        & td:nth-child(1) { padding: 0 0 2px 15px; font-size: 12px; opacity: 0.8; }
        & td:nth-child(2) { text-align: right; padding-right: 15px; font-size: 14px; }
      }
      
      textarea {
        height: 50px;
        width: 100%;
        margin: 6px 0;
        padding: 3px 5px;
        resize: vertical;
        font-size: 13px;
        border: none;
        color: inherit;
        background: transparent;
        background: rgba(0, 0, 0, 0.05);
        .dark-theme & { background: rgba(0, 0, 0, 0.2);}
      }
    }
    
    .IIShare {
      background: #f8f8f8;
      .dark-theme & { background:#13181e; }
      transform: translateY(-16px);
      padding: 18px 10px 12px 10px;
      > span > input {
        height: 34px;
      }
    }
    
    sub {
      opacity: 0.8;
      padding: 0 1px;
      font-size: 11px;
    }

    span {
      display: inline-flex;
      justify-content: space-around;
      height: 34px;
      width: 100%;
      margin: 4px 0;
      color: inherit;
      > input {
        height: 38px;
        width: 100%;
        padding: 3px 4px 6px 8px;
        color: inherit;
        border: 1px solid#828489;
        background: transparent;
        .dark-theme & { background: rgba(0, 0, 0, 0.05); border-color: #393c44;}
      }
      .Input_Ops_Btn {
        display: inline-block;
        height: 31px;
        width: 30px;
        padding: 10px 4px;
        font-size: 12px;
        text-align: center;
        background: #afb4b9;
        border-radius: 2px;
        cursor: pointer;
        &:hover { color: var(--highlight-color); }
        .dark-theme & { background: #4e535a; }
      }
    }
  
    div {
      margin: -6px 0px 6px 0;
      span {
        justify-content: space-between;
      }
      button {
        width: 65px;
        &.selected {
          border: 1px solid var(--highlight-color);
        }
      }
      > input {
        height: 32px;
        width: 100%;
        padding: 3px 4px 6px 8px;
        color: inherit;
        border: 1px solid #828489;
        background: transparent;
      }
    }



    .Locked {
      margin: 6px 0;
      span {
        h3 {
          font-weight: 400;
          padding: 3px;
        }
        > i {
          height: 30px;
          width: 30px;
          padding: 6px;
          font-size: 18px;
          opacity: 0.6;
          cursor: pointer;
          &:hover { opacity: 1; }
        }
      }
      h5 {
        padding: 0px 6px 12px 6px;
        opacity: 0.7;
        font-weight: 400;
        font-size: 13px;
        font-style: italic;
      }
      .security_option {
        & i {
          padding: 8px 9px 9px 2px;
          font-size: 16px;
        }
      }
      .securityEntry {
        & input {
          padding: 3px 0 7px 0;
          border-radius: 8px;
          border: none;
          font-size: 17px;
          font-variant: all-petite-caps;
          color: map-get($colors, text_dark_0);
          background: linear-gradient(40deg, #e8ae68, #e63811);
          cursor: pointer !important;
          transition: transform 200ms;
          &:hover {
            transform: translateY(-2px);
            // background-image: linear-gradient(40deg, #4d9b9f, #1eb141);
          }
        }
      }
    }
  }
}


.BlockOut { // Pop_ups
  display: grid;
  place-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  z-index: 25;

  > * { box-shadow: 0 0 16px 0px 0 0 16px 0px rgba(0,0,0,0.5); }

  .Popup_Container {
    position: absolute;
    height: auto;
    width: 400px;
    font-size: 18px;
    user-select: none;
    color: #1a1a1d;
    .dark-theme & { color: #eee; border-color: map-get($colors, border_dark); }
    

    .Popup_Main {
      position: relative;
      height: 150px;
      width: 100%;
      border-radius: 5px;
      padding: 10px 15px;
      background: map-get($colors, background_light);
      .dark-theme & { background: map-get($colors, background_dark); }

      h3 {
        font-size: 18px;
        font-weight: 400;
        padding: 5px 0px;
      }

      > p {
        font-size: 15px;
        line-height: 22px;
        margin-top: 5px;
        padding: 3px;
        white-space: break-spaces;
        width: 100%;
        border-top: 1px solid #555;
      }

      span {
        position: absolute;
        right: 15px;
        bottom: 15px;

        > button {
          width: 90px;
          margin: 0 4px;
          padding: 6px;
          line-height: 18px;
          font-size: 16px;
          border: none;
          color: inherit;
          background: transparent;
          cursor: pointer;
          user-select: none;
          transition: all 200ms;
        }

        & .Popup_Accept {
          border-radius: 2px;
          color: white;
          background: #4285f4;
          &:hover { transform: translateY(-2px); }
        }
        & .Popup_Reject {
          &:hover {
            background: map-get($colors, border_light);
            .dark-theme & { background: map-get($colors, border_dark); }
          }
        }
      }

      .Popup_Input {
        position: absolute;
        width: calc(100% - 30px);
        left: 15px;
        padding: 6px 10px;
        border: none;
        border-radius: 3px;
        font-size: 15px;
        color: inherit;
        background: transparent;

        border: 1px solid map-get($colors, input_light);
        .dark-theme & {
          border: 1px solid map-get($colors, background_dark_2);
        }
        &::placeholder { color: inherit; opacity: 0.8; font-size: 15px; }
        &.Popup_Input_Name { top: 55px; }
      }
    }

    .Popup_Secondary {
      display: grid;
      grid-gap: 5px;
      position: relative;
      height: auto;
      width: 100%;
      border-radius: 5px;
      margin-top: 10px;
      padding: 10px 15px;
      background: map-get($colors, background_light);
      .dark-theme & { background: map-get($colors, background_dark); }

      & > * {
        background: transparent;
        padding: 5px 10px 8px 10px;
        font-size: 15px;
        font-weight: 400;
        border-radius: 3px;
        color: inherit;
        border: 1px solid map-get($colors, input_light);
        .dark-theme & { border: 1px solid map-get($colors, background_dark_2);}
      }

      h4 {
        padding: 0 0 4px 0 !important;
        opacity: 0.8;
        border: none !important;
      }
      textarea {
        height: 50px;
        resize: vertical;
        &::placeholder { color: inherit; opacity: 0.8; font-size: 14px; }
      }
      input {
        &::placeholder { color: inherit; opacity: 0.8; font-size: 14px; }
      }
      > button {
        text-align: left;
        font-size: 14px !important;
        user-select: none;  
        cursor: pointer;
      }
    }

    .Popup_Dropdown {
      position: absolute;
      font-size: 16px;
      &:hover .Popup_Dropdown_Content { display: block; }
    
      .Popup_Location {
        max-width: 200px;
        border-radius: 3px;
        padding: 4px 8px;
        text-align: center;
        background: map-get($colors, background_light_2);
        cursor: pointer;
        .dark-theme & { background: map-get($colors, background_dark_2); }
    
        p { display: inline-block; }
        i { padding-left: 8px; }
      }
      .Popup_Dropdown_Content {
        display: none;
        position: absolute;
        background-color: map-get($colors, border_light);
        max-width: 200px;
        margin-top: 3px;
        right: 0;
        padding: 3px;
        border-radius: 3px;
        font-size: 14px;
        box-shadow: 0px 8px 16px 0px #00000066;
        z-index: 5;
        .dark-theme & { background: map-get($colors, dark_2); }
        a {
          display: block;
          padding: 8px 10px;
          &:hover {
            background-color: map-get($colors, hover_light);
            .dark-theme & { background-color: map-get($colors, hover_dark); }
          }
        }
      }
    }
  }

  .Preview {
    display: grid;
    place-content: center;
    // padding: 50px;
    max-width: calc(100% - 4vw);
    background: white;
    .dark-theme & { background: black; }

    .ViewImage {
      max-height: 80vh;
      max-width: calc(100vw - 20px);
      object-fit: contain;
      border-radius: 5px;
      user-select: none;
      z-index: 1;
    }
    
    .ViewText {
      max-height: calc(100vh - 80px);
      max-width: 800px;
      border-radius: 3px;
      overflow-y: auto;
  
      border: 1px solid map-get($colors, border_light);
      background: map-get($colors, background_light);
      color: map-get($colors, text_light_0);
      z-index: 1;
  
      .dark-theme & {
        border: 1px solid map-get($colors, border_dark);
        background: map-get($colors, background_dark);
        color: map-get($colors, text_dark_0);
      }
    
      > pre {
        padding: 15px;
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 20px;
        font-family: monospace;
        white-space: pre-wrap;
        overflow-y: scroll;
      }
    }
  }
}


///////////////////////// MOVE /////////////////////////
///////////////////////// MOVE /////////////////////////

.listItem-Placeholder {
  height: 38px;
  min-width: 200px;
  box-shadow: 0 1px 3px 0px rgba(160, 160, 166, 1);
  padding: 2px 20px 4px 40px;
  font-family: inherit;
  z-index: 990;
  color: #292b2f;
  background: map-get($colors, background_light_1);
  .dark-theme & {
    color: #f1f1f1;
    box-shadow: 0 1px 3px 0px rgba(18, 18, 20, 1);
    background: map-get($colors, background_dark_1);
  }

  > h5 {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    white-space: nowrap;
    padding-right: 10px;
  }

  & img {
    position: absolute;
    left: 4px;
    top: 3px;
    height: 32px;
    width: 32px;
    object-fit: contain;
  }
}

.listItem-Hover {
  box-shadow: 0px 0px 4px 0px var(--highlight-color);
}
.listSpan-Hover {
  box-shadow: 0px 0px 4px 1px var(--highlight-color);
}

///////////////////////// MISC /////////////////////////
///////////////////////// MISC /////////////////////////

.Upload_Container {
  position: fixed;
  height: 100px;
  max-width: 360px;
  width: 100%;
  bottom: 20px;
  right: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.5);
  background: #fafafa;
  color: map-get($colors, text_light_1);
  z-index: 10;
  .dark-theme & { background: map-get($colors, input_dark); color: map-get($colors, text_dark_1); }

  > div {
    height: 50%;
    border-radius: 5px;
  }

  .UC_Top {
    background: rgba(0,0,0,0.05);
    .dark-theme & { background: rgba(0,0,0,0.2); }

    .Upload_Control {
      position: absolute;
      height: 34px;
      margin: 8px;
      padding: 7px 14px;
      border-radius: 4px;
      color: map-get($colors, text_dark_1);
      font-weight: 400;
      background: linear-gradient(40deg,#46a14d,#098d62);
      cursor: pointer;
      user-select: none;
    }
    span {
      display: flex;
      justify-content: space-around;
      position: absolute;
      height: 50px;
      width: 100px;
      right: 0;
      padding: 9px 0;
      font-size: 20px;
      opacity: 0.8;
      i {
        display: grid;
        place-items: center;
        height: 32px;
        width: 32px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        &:hover { background: rgba(0, 0, 0, 0.2); }
      }
    }
  }

  .UC_Bottom {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 16px;
    
    button {
      height: 30px;
      width: 80px;
      border: none;
      line-height: 20px;
      font-weight: 400;
      color: inherit;
      cursor: pointer;
      background: map-get($colors, background_light_3);
      .dark-theme & { background: map-get($colors, border_dark); }
      &:hover {transform: translateY(-2px);}
    }
    p {
      // width: 70px;
      margin: 5px 0;
      font-size: 15px;
      text-align: center;
    }

    .Upload_Progress {
      visibility: hidden;

      display: flex;
      justify-content: space-around;
      position: absolute;
      height: 30px;
      width: 100%;
      padding: 0 20px;
      text-align: center;
      background: #fafafa;
      .dark-theme & {background: map-get($colors, input_dark);}

      > progress {
        height: 6px;
        width: 80%;
        border-radius: 5px;
        margin-top: 12px;

        &::-webkit-progress-bar {
          border-radius: 5px;
          background-color: map-get($colors, border_light);
          .dark-theme & { background-color: map-get($colors, border_dark); }
        }
        &::-webkit-progress-value {
          background-color: var(--highlight-color);
          border-radius: 5px;
        }
      }
      > p {
        width: 40px;
        font-size: 14px;
      }
    }
  }

  .UC_Queue_Viewer {
    visibility: hidden;
    position: absolute;
    max-height: 180px;
    height: initial;
    width: 100%;
    bottom: 110px;
    padding: 7px 10px;
    overflow-y: scroll;
    color: map-get($colors, text_light_3);
    background: map-get($colors, light_popup);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
    .dark-theme & { background: map-get($colors, dark_popup); color: map-get($colors, text_dark_2); }

    &::-webkit-scrollbar-track { background: map-get($colors, background_light_3); .dark-theme & {background: transparent;} }

    table {
      position: relative;
      width: 100%;
      border-radius: 6px;
      border-spacing: 0px 2px;
      border-collapse: collapse;
      tr {
        height: 39px;
        font-family: inherit;
        td {
          i {
            &.yellow { color: #ff8d00; }
            &.green { color: #108910; .dark-theme & {color: #00ff37;} }
            &.dark_red { color: maroon; .dark-theme & {color: #bc1717;} }
            &.red { color: red;}
          }
        }
        &.active_upload { background: map-get($colors, background_light_3); .dark-theme & {background: map-get($colors, border_dark);} }

        & td:nth-child(1) {width: auto; max-width: 200px; font-size: 14px; text-overflow: ellipsis; overflow: hidden; padding: 0 10px;}
        & td:nth-child(2) {min-width: 65px; text-align: center; font-size: 13px; opacity: 0.6;}
        & td:nth-child(3) {width: 50px; font-size: 18px; text-align: center;}
      }
      & tr:nth-child(n+2) { border-top: 1px solid map-get($colors, background_light_3); .dark-theme & { border-color: map-get($colors, border_dark); }}
    }

  }

  .UC_Showing {
    visibility: visible !important;
  }
}

.UploadBtns {  input { display: none; } }

.RightClickContainer {
  display: none;
  position: fixed;
  user-select: none;
  z-index: 999;
  width: 180px;
  border-radius: 4px;
  padding: 6px 0px;
  box-shadow: 1px 1px 4px 0px rgba(180, 180, 186, 1);
  background: map-get($colors, background_light_1);
  .dark-theme & {
    box-shadow: 1px 1px 4px 0px rgba(20, 20, 22, 1);
    background: map-get($colors, background_dark_1);
    color: #ddd;
  }
  li {
    font-size: 14px;
    font-family: 'Segoe UI';
    list-style: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    &.Nano_SPLIT {
      margin: 6px;
      padding: 0;
      opacity: 0.4;
      border-top: 1px solid black;
      cursor: auto;
      .dark-theme & {
        border-top: 1px solid whitesmoke;
      }
    }
  }
  :not(.nano_SPLIT):hover {
    // background: #d3d3d3;
    background: rgba(200, 220, 230, 1);
    .dark-theme & {
      // background: #6b779f;
      background: rgba(70, 95, 120, 1);
    }
  }
}

.colorContainer {
  position: absolute;
  user-select: none;
  height: 300px;
  width: 200px;
  top: calc(50vh - 150px);
  left: calc(50vw - 100px);
  padding: 6px;
  border-radius: 5px;
  color: #484848;
  box-shadow: 1px 1px 3px 0px rgba(160, 160, 166, 1);
  background: map-get($colors, background_light_1);
  z-index: 999;
  cursor: all-scroll;
  .dark-theme & {
    color: white;
    box-shadow: 1px 1px 3px 0px rgba(20, 20, 22, 1);
    background: map-get($colors, background_dark_1);
  }

  #closeColorPicker {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 4px;
    left: 10px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
  }
  #acceptColorPicked {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 4px;
    right: 10px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
  }
  .colorPickEntry {
    position: absolute;
    height: 26px;
    width: 86px;
    top: 5px;
    left: 57px;
    padding: 3px;
    border: none;
    text-align: center;
    background: transparent;
    border-bottom: 1px solid;
    color: #484848;
    font-size: 16px;
    font-weight: 500;
    .dark-theme & {
      color: white;
    }
  }
  .colorOptionsContainer {
    position: absolute;
    height: 260px;
    width: 188px;
    bottom: 5px;
    cursor: default;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  
    > div {
      height: 29px;
      width: 29px;
      border-radius: 5px;
      margin: 4px;
      cursor: pointer;
      &:hover {
        border: 2px solid;
        border-radius: 4px;
      }
      &.selectedCol {
        border: 3px solid;
        border-radius: 16px;
      }
    }
  }
}

.Loading_SVG {

  position:absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);

  &.medium { max-width: 36px; }
  &.small { max-width: 24px; }

  animation: 2s linear infinite svg-animation;
  max-width: 24px;
  circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: #2f3d4c;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
    .dark-theme & { stroke: #f1f1f1; }

    @keyframes circle-animation {
      0%, 25% { stroke-dashoffset: 280; transform: rotate(0); }
      50%, 75% { stroke-dashoffset: 75; transform: rotate(45deg); }
      100% { stroke-dashoffset: 280; transform: rotate(360deg); }
    }
  }
  @keyframes svg-animation {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg) }
  }
}

///////////////////////// @media /////////////////////////
///////////////////////// @media /////////////////////////

// Min Width

// @media only screen and (min-width: 600px) {
//   .PageList {
//     display: block !important;
//   }
// }

// Max Width

@media only screen and (max-width: 1000px) {
  body { grid-template-columns: 80px auto 240px; }

  .PageList {
    width: 80px;
    > div {
      > a {
        height: 30px;
        width: 30px;
        margin: 25px 0 10px 25px;
        filter: none;
        background: url('/assets/logo/Nanode_Light.svg');
        .dark-theme & { background: url('/assets/logo/Nanode_Dark.svg'); }
      }
      > span > p {
        display: none;
      }
    }
    .Storage {
      h3 {display: none;}
      p {display: none;}
      progress {
        transform: rotate(90deg);
        top: 45px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .ListContentTable {
    & th:nth-child(4) { display: none !important;}
    & td:nth-child(4) { display: none !important;}
  }
  .PageHeader > .search { width: 80px; }
}

@media only screen and (max-width: 800px) {
  .fileContainer {
    padding: 0 15px;
  }
  .ListContentTable {
    & th:nth-child(3) { display: none !important;}
    & td:nth-child(3) { display: none !important;}
  }
}

@media only screen and (max-width: 700px) {
  body { grid-template-columns: 80px auto 0px; }

  .PageHeader {
    top: 32px;
    // .PageControls {top: 28px;}
  }

  .ListContentTable {
    & th:nth-child(5) { display: none !important;}
    & td:nth-child(5) { display: none !important;}
  }
  .clientStatus {display: none;}
}

@media only screen and (max-width: 600px) {
  body { grid-template-columns: 0px auto 0px; }
  .PageList {width: 0px;}
}

@media only screen and (max-width: 500px) {
  .centralActionMain {
    width: 90%;
    left: 5%;
  }
  
  .ListContentTable {
    & th:nth-child(3) { display: none !important;}
    & td:nth-child(3) { display: none !important;}
  }
  
  .Item > img {
    object-fit: contain;
  }
}