$colors: (
  // Colours
    PC_0: #99ccff, // Logo
    PC_1: #4285f4, // Blue
    PC_2: #1199bb, // Blue Green
    PC_3: #033860, // Indigo
    PC_4: #33c357, // Green
    PC_5: #ff453a, // Red
    PC_6: #f0e800, // Yellow
    PC_7: #3e4f5f, // Dull Blue (Dark RC Hover)
    PC_8: #c8dce6, // Light Blue (White RC Hover)
    PC_9: #a266ee, // Dev Purple,
    PC_10: #e53329, // Rich Red

  // Palette_Dark - https://coolors.co/080a0e-0e0f11-141517-191b1e-282c32-565b61-83898f-cacccf-f5f6f7
  // OLDER = https://coolors.co/010b14-171b21-282c32-383c42-5c5f64-919396-cacccf-f5f6f7
    PD_0: #080a0e, // Black
    PD_1: #0e0f11, // Basically Black
    PD_2: #141517, // Component_1
    PD_3: #191b1e, // Component_2
    PD_4: #282c32, // Border_1 | Selected_1
    PD_5: #565b61, // Border_2 | Selected_2
    PD_6: #83898f, // Highlighted
    PD_7: #cacccf, // Text Secondary
    PD_8: #f5f6f7, // Text
    
  // Palette_Light - https://coolors.co/080a0e-191b1e-cacccf-e1e2e4-e8e9eb-eeeff1-f5f5f7-fbfbfd-fefefe
  // OLDER = https://coolors.co/080a0e-191b1e-cacccf-e1e2e4-eeeff1-fbfbfd-fefefe
    PL_0: #fefefe,  // White
    PL_1: #fbfbfd,  // Background
    PL_2: #f5f5f7,  // Background Darker
    PL_3: #eeeff1,  // Right-Click | Inter
    PL_4: #e8e9eb,  // Hover  | Dropdown
    PL_5: #e1e2e4,  // Button | Inputs
    PL_6: #cacccf,  // Border | Box-Shadow
    PL_7: #191b1e,  // Text Seconday
    PL_8: #080a0e,  // Text
);

:root {
  // --highlight-color:  #18ec58;
  // --highlight-color:  #18baec;
  // --highlight-color: #89b79c;
  --highlight-color: #99ccff;
  // #0be512
  // #00c2ff
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');


////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', 'Segoe UI', 'monospace';
  letter-spacing: 0.3px;
}
html {
  overflow: hidden;
  background: map-get($colors, PL_1);
  .dark-theme & { background: map-get($colors, PD_3); }
}
body {
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

///////////////////////////////////////////////

::-webkit-scrollbar { height: 5px; width: 5px; }
::-webkit-scrollbar-track { background: map-get($colors, PL_1);
  .dark-theme & { background: map-get($colors, PD_1);} }
::-webkit-scrollbar-thumb { border-radius: 4px; background: map-get($colors, PL_6); 
  .dark-theme & { background: map-get($colors, PD_4); }}
::-webkit-scrollbar-thumb:hover { background: linear-gradient(40deg, #a4b4af, #a9c7d5); }


.Frame {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  width: 240px;
  right: 0px;
  z-index: 25;

  height: 57px;
  background: map-get($colors, PL_2);
  .dark-theme & { background: map-get($colors, PD_2); }

  button {
    background-color: transparent;
    font-size: 18px;
    margin-right: 18px;
    padding: 3px 10px;
    opacity: 0.6;
    border: none;
    cursor: pointer;
    color: map-get($colors, PL_8);
    .dark-theme & { color: map-get($colors, PD_8); }
    &:hover { opacity: 1; }
  }
  .clientStatus {
    position: absolute;
    height: 20px;
    width: 150px;
    top: 18px;
    right: 80px;
    padding: 0px 8px;
    border-radius: 20px;
    user-select: none;
    z-index: 1001;
    background: map-get($colors, PL_3);
    .dark-theme & {
      background: map-get($colors, PD_3);;
    }

    div {
      display: inline-block;
      height: 4px;
      width: 4px;
      border-radius: 2px;
      margin: 0px 0 3px 5px;
      box-shadow: 0px 0px 3px 0px;
      .dark-theme & { box-shadow: 0px 0px 6px 1px; }
    }

    #Recon_Btn {
      position: absolute;
      height: 20px;
      width: 126px;
      right: 0px;
      text-align: center;
      color: map-get($colors, PD_8);;
      line-height: 17px;
      font-variant: all-petite-caps;
      border-radius: 10px;
      background: linear-gradient(40deg, #ba3472, #b21c2a);
      box-shadow: none;
      user-select: none;
      cursor: pointer;
      z-index: 1002;
    }
  }
}

///////////////////////////////////////////////

.PageList { // left bar
  position: relative;
  max-width: 220px;
  z-index: 20;
  overflow: hidden;
  background-color: map-get($colors, PL_2);
  cursor: auto;

  .dark-theme & {
    background: map-get($colors, PD_2);
  }

  div {
    display: inline-grid;
    grid-auto-rows: max-content;
    grid-gap: 14px;
    width: 100%;
    
    a {
      height: 20px;
      width: 130px;
      margin: 30px 0 15px 25px;
      background: url('/assets/home/nanode.svg'); // background: url('/assets/main/nanode.svg');
      background-size: contain;
      background-repeat: no-repeat;
      filter: brightness(0);
      .dark-theme & { filter: none; }
    }

    span {
      display: flex;
      height: 36px;
      width: 85%;
      padding: 4px 20px;
      font-size: 18px;
      line-height: 20px;
      opacity: 0.6;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: all 200ms;
      color: map-get($colors, PL_8);
      cursor: pointer;

      .dark-theme & { color: map-get($colors, PD_7); }

      &:hover {
        opacity: 1;
        color: var(--highlight-color);
      }

      i { padding: 5px 9px; }
      p { font-size: 16px; padding: 5px; }
    }

    .SelectedPage {
      opacity: 1;
      color:#121213;
      background: map-get($colors, PL_4);
      box-shadow: inset 5px 0px 0px 0px var(--highlight-color);
      
      .dark-theme & {
        color: map-get($colors, PD_8);
        background: map-get($colors, PD_4);
      }
    }
  }

  .PagesTwo {
    position: absolute;
    left: 0;
    bottom: 100px;
    margin-bottom: 12px;
  }

  .Storage {
    position: absolute;
    height: 94px;
    width: 80%;
    left: 10%;
    bottom: 0;
    padding: 8px 0;
    font-size: 14px;
    color: map-get($colors, PL_7);
    border-top: 1px solid map-get($colors, PL_6);
    .dark-theme & {
      color: map-get($colors, PD_7);
      border-top: 1px solid map-get($colors, PD_4);
    }

    h3 {
      padding-top: 3px;
      font-size: 15px;
      opacity: 0.8;
      letter-spacing: 0.25px;
      font-weight: 400;
    }

    p {
      position: absolute;
      top: 40px;
      font-size: 13px;
      color: map-get($colors, highlight-color);
    }
    progress {
      position: absolute;
      height: 6px;
      width: 100%;
      top: 70px;
      border-radius: 5px;

      &::-webkit-progress-bar {
        border-radius: 5px;
        background-color: map-get($colors, PL_4);
        .dark-theme & { background-color: map-get($colors, PD_4); }
      }
      &::-webkit-progress-value {
        background-color: var(--highlight-color);
        border-radius: 5px;
      }
    }
  }

}


.PageHeader { // location && search
  display: flex;
  height: 57px;
  padding: 14px 24px;
  background: map-get($colors, PL_2);
  .dark-theme & { background: map-get($colors, PD_2); }

  #directoryLocation  {
    display: flex;
    align-content: flex-end;
    box-sizing: border-box;
    flex-flow: row wrap;
    overflow: hidden;
    flex: auto;
    
    border: none;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 17px;
    resize: none;
    overflow: hidden;
    text-align: left;
    background: transparent;

    .dark-theme & {
      color: map-get($colors, PD_8);
    }

    .dirBtn {
      height: 30px;
      max-width: 200px;
      padding: 5px 8px 0px 8px;
      border-radius: 3px;
      opacity: 0.8;
      overflow: hidden;
      user-select: none;
      cursor: pointer;
      text-overflow: ellipsis;

      &:hover {
        opacity: 1;
        background: map-get($colors, PL_6);
        .dark-theme & { background: map-get($colors, PD_5); }
      }
    }
    .dirBtn-Hover {
      opacity: 1;
      background: map-get($colors, PL_6);
      .dark-theme & {
        color: var(--highlight-color);
        background: map-get($colors, PD_5);
      }
    }
    .currentDirBtn {
      opacity: 1;
      background: map-get($colors, PL_5);
      .dark-theme & { background: map-get($colors, PD_4); }
    }
    .dirArrow {
      width: 30px;
      background-image: url(https://nanode.one/assets/svg/Arrow_Right_Black.svg);
      background-position: center;
      opacity: 0.4;
      user-select: none;
      .dark-theme & {
        background-image: url(https://nanode.one/assets/svg/Arrow_Right_White.svg);
      }
    }
  }

  .search {
    width: 200px;
    padding: 0 8px 2px 8px;
    border-radius: 5px;
    font-size: 15px;
    color: map-get($colors, PL_8);
    border: 1px solid map-get($colors, PL_6);
    background: transparent;
    transition: width 300ms;

    &:focus { width: 300px; }
    .dark-theme & {
      color: map-get($colors, PD_8);
      border: 1px solid map-get($colors, PD_4);
    }
  }

  .PageControls { // back forward
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin-right: 10px;
    z-index: 1;
    
    span {
      display: inline;
      width: 40px;
      height: 32px;
      padding: 3px;
      font-size: 22px;
      z-index: 1;
      text-align: center;
      cursor: pointer;
      color: map-get($colors, PL_7);
      .dark-theme & { color: map-get($colors, PD_7); }

      &.notActive {
        color: map-get($colors, PL_6);
        cursor: default;
        .dark-theme & { color: map-get($colors, PD_6); }
      }
  
      &:hover:not(.notActive) {
        color: map-get($colors, PL_8);
        text-shadow: 0px 0px 3px black;
        .dark-theme & {
          color: white;
          text-shadow: 0px 0px 3px white;
        }
      }
    }
  }
}


.Pages {
  background-color: map-get($colors, PL_2);
  .dark-theme & { background-color: map-get($colors, PD_2); }

  >section {
    display: none;
    grid-template-columns: auto 240px;
    grid-template-rows: 100vh;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    &.PageDisplay { display: grid !important; height: 100%; width: 100%; }

    & .PageData { // Central Area
      height: calc(100% - 57px);
      padding-top: 20px;
      border-top-left-radius: 8px;
      overflow-y: auto;
      overflow-x: hidden;
      background: map-get($colors, PL_1);
      box-shadow: inset 6px 6px 6px -6px map-get($colors, PL_6);
      .dark-theme & {
        background: map-get($colors, PD_3);
        box-shadow: inset 6px 6px 6px -6px map-get($colors, PD_0);
      }
    }
    & .PageInformation { // Right Bar
      position: relative;
      min-height: 500px;
      width: 240px;
      margin-top: 57px;
      transition: right 600ms;
      cursor: auto;
      overflow: hidden;
      overflow-y: auto;
      background: map-get($colors, PL_1);
      box-shadow: inset 0px 6px 6px -6px map-get($colors, PL_6);
      &::-webkit-scrollbar { width: 4px; }
      
      .dark-theme & {
        background: map-get($colors, PD_3);
        box-shadow: inset 0px 6px 6px -6px map-get($colors, PD_0);
      }
    }
    & .PageContainer {
      position: relative;
      height: 100%;
      transition: box-shadow 0.3s, filter 0.3s, width 600ms;
      background-size: cover;
      background-color: map-get($colors, PL_2);
      cursor: auto;
    
      .dark-theme & {
        background-color: map-get($colors, PD_2);
      }
    }
  }

  >.Page_Loading {
    display: grid;
    position: absolute;
    width: calc(100% - 220px);
    grid-template-columns: auto;
  }

  >.main_Page {
    
    .PageData {
      .fileContainer {
        display: grid;
        grid-gap: 30px;
        padding: 0 24px 24px 24px;
        transition: width 600ms;
    
        &::-webkit-scrollbar { display: none; }
    
        .ContentContainer {
          // height: fit-content;
          // width: 100%;
          padding: 12px 6px;
          border-radius: 5px;
          transition: box-shadow 300ms;
          color: map-get($colors, PL_8);
          background: map-get($colors, PL_2);
          .dark-theme & { color: map-get($colors, PD_8); background: map-get($colors, PD_2); }
        
          display: grid;
          grid-template-columns: repeat(auto-fill,minmax(105px, 1fr));
          grid-auto-rows: auto 1fr;
          grid-gap: 10px 6px;
          box-sizing: border-box;
    
          &>input {
            grid-column: 1/-1;
            width: 50%;
            min-width: 200px;
            margin: 0 0 0 12px;
            font-size: 16px;
            letter-spacing: 0.5px;
            font-weight: 600;
            border: none;
            user-select: none;
            color: inherit;
            background: transparent;
            &:focus { padding-bottom: 3px; border-bottom: 1px solid map-get($colors, PL_7); 
              .dark-theme & { border-bottom: 1px solid map-get($colors, PD_7); }
            }
          }
        
          &>div {
            position: relative;
            flex: 1;
            min-height: 120px;
            border-radius: 5px;
            box-sizing: border-box;
            cursor: pointer;
            user-select: none;
            &:hover {
              background: map-get($colors, PL_4); 
              .dark-theme & { background: map-get($colors, PD_4); }
            }
        
            & textarea {
              min-height: 30px;
              max-height: 60px;
              width: 100%;
              padding: 2px;
              font-size: 14px;
              font-weight: 400;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
              transition: width 300ms;
              border: none;
              color: inherit;
              background: transparent;
              resize: none;
              .dark-theme & {
                color: #f2f2f2;
              }
    
              &:focus { 
                resize: vertical;
                max-height: max-content;
                background: map-get($colors, PL_5);
                .dark-theme & {
                  background:map-get($colors, PD_4);
                }
              }
              &:disabled { cursor: pointer; }
            }
        
            & img {
              width: 100%;
              max-height: 120px;
              object-fit: cover;
            }
          }
        }
    
        .ListContentContainer {
          // width: 100%;
          margin: 4px 0;
          border-radius: 5px;
          transition: box-shadow 300ms;
          background: map-get($colors, PL_2);
          .dark-theme & { background: map-get($colors, PD_2); }
        
          & table {
            position: relative;
            width: 100%;
            border-radius: 5px;
            border-spacing: 0px 2px;
            border-collapse: collapse;
            user-select: none;
            color: map-get($colors, PL_8);
            background: transparent;
            .dark-theme & {
              color: map-get($colors, PD_8);
            }
            & tr {
              &:not(:first-child):hover:not(.noHover) {
                transform: translateX(5px);
                background: map-get($colors, PL_4);
                // border-radius: 6px;
                .dark-theme & {
                  background: map-get($colors, PD_0);
                }
              }
              height: 42px;
              cursor: pointer;
              & th {
                font-size: 14px;
                font-weight: 100;
                font-family: inherit;
              }
              & td {
                font-size: 14px;
                font-weight: 100;
                font-family: inherit;
                & img {
                  object-fit: contain;
                  height: 32px;
                  width: 32px;
                }
              }
            }
    
            & tr:nth-child(1) { height: 36px; cursor: auto; user-select: none;
              &:hover { opacity: 1; transform: none; box-shadow: none; }}
            & tr:nth-child(n+2) { border-top: 1px solid map-get($colors, PL_4); 
              .dark-theme & { border-top: 1px solid map-get($colors, PD_4); } }
    
            & th:nth-child(1) {
              & input {
                position: absolute;
                min-width: 200px;
                top: 8px;
                left: 18px;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.5px;
                border: none;
                color: inherit;
                background: transparent;
                &:focus { padding-bottom: 3px; border-bottom: 1px solid map-get($colors, PL_7); 
                  .dark-theme & { border-bottom: 1px solid map-get($colors, PD_7); }
                }
              }
            }
            & th:nth-child(2) {max-width: 0; width: auto; min-width: 160px; overflow: hidden;}
            & th:nth-child(3) {width: 80px; min-width: 60px;}
            & th:nth-child(4) {width: 100px;}
            & th:nth-child(5) {width: 80px;}
          
            & th:nth-child(n+3) { opacity: 1; font-variant: all-petite-caps; .dark-theme & {opacity:0.6;} }
            & td:nth-child(n+3) { opacity: 1; font-variant: all-petite-caps; text-align: center; font-size: 15px; .dark-theme & {opacity:0.8;} }
          
            & td:nth-child(1) { width: 50px; padding: 4px 0 0 4px;}
            & td:nth-child(2) input {
              height: 30px;
              width: 100%;
              font-size: 14px;
              border: none;
              color: inherit;
              background: transparent;
              &:focus { border-bottom: 1px solid; }
              &:disabled { cursor: pointer; }
            }
          }
        }  
    
        .NewSpan {
          height: 38px;
          padding: 8px;
          border-radius: 5px;
          text-align: center;
          font-variant: all-petite-caps;
          color: map-get($colors, PL_7);
          background: map-get($colors, PL_2);
          transition: background-color 300ms;
          user-select: none;
          cursor: pointer;
    
          .dark-theme & {
            color: map-get($colors, PD_7);
            background: map-get($colors, PD_2);
          }
          &:hover {
            background: map-get($colors, PL_4);
            .dark-theme & { background: map-get($colors, PD_1); }
          }
        }
      }
    }
    
    .PageInformation { // right side bar      
      .New {
        position: relative;
        display: inline-block;
        height: 36px;
        width: 146px;
        top: 10px;
        left: 10px;
        padding: 8px 0;
        border-radius: 8px;
        text-align: center;
        background: linear-gradient(40deg, #4f9aa2, #1cb23d);
        color: map-get($colors, PD_8);
        cursor: pointer;
        user-select: none;
        
        &:hover { >i { transform: rotate(180); } }
        i { font-size: 14px; margin-right: 6px; transition: transform 300ms; }
      }
    
      .toggleDetailsBtn {
          position: relative;
          display: inline-block;
        height: 27px;
        width: 60px;
        right: -17px;
        top: 13px;
        padding: 3px 4px;
        border-radius: 18px;
        font-size: 20px;
        color: map-get($colors, highlight-color);
        border: 1px solid map-get($colors, highlight-color);
        cursor: pointer;
        transition: text-align 300ms;
        user-select: none;
      }
      
      .NewOptions {
        display: flex;
        justify-content: space-around;
        margin: 20px 0px -15px 0px;
        text-align: center;
        color: map-get($colors, PD_8);
        div {
          display: inline-grid;
          width: 100px;
          padding: 1px;
          font-size: 18px;
          font-variant: all-petite-caps;
          border-radius: 5px;
          cursor: pointer;
          user-select: none;
          &:hover {transform: translateY(-1px);}
        }
      }
    
      .ItemInformation {
        position: relative;
        top: 15px;
        height: calc(100% - 130px);
            // height: auto;
        margin: 15px 0;
        width: 100%;
        border-radius: 0px;
        font-size: 15px;
        white-space: normal;
        color: #1a1a1d;
        border-left: 1px solid map-get($colors, PL_5);
        .dark-theme & { color: map-get($colors, PD_7); border-color: map-get($colors, PD_4); }
    
    
        > section {
          position: relative;
          padding: 5px 10px;
          box-shadow: 0px 2px 6px -2px #d6dbdb;
          .dark-theme & { box-shadow: 0px 2px 6px -2px map-get($colors, PD_1); }
        }
    
        .IIData {
          z-index: 2;
    
          .ItemInfo_Name {
            width: 100%;
            font-size: 18px;
            padding: 8px 2px;
            background: transparent;
            border: none;
            .dark-theme & { color: var(--highlight-color); }
            &:focus {
              background: map-get($colors, PL_4);
              .dark-theme & { background: #343743; }
            }
          }
          
          .ItemInfo_UUID {
            padding: 6px 0px;
            text-align: center;
            font-size: 11px;
            letter-spacing: 0.3px;
            opacity: 0.6;
            border-bottom: 1px solid #393c44;
          }
          
          img {
            position: relative;
            object-fit: cover;
            height: auto;
            max-height: 128px;
            width: auto;
            max-width: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin: 8px 0;
          }
          
          .ItemInfo_Directory {
            width: 100%;
            margin-top: -1px;
            padding: 12px 4px;
            border: none;
            background: transparent;
            border-top: 1px solid #393c44;
            border-bottom: 1px solid #393c44;
            color: inherit;
          }
    
          button {
            display: flex;
            justify-content: space-evenly;
            width: calc(50% - 10px);
            padding: 8px 5px;
            border-radius: 3px;
            border: none;
            color: inherit;
            background:rgba(0, 0, 0, 0.05);
            cursor: pointer;
            transition: box-shadow 300ms ease;
            > i {
              color: var(--highlight-color);
              font-size: 15px;
              padding: 1px 4px;
            }
            &:hover {
              box-shadow: 0 0 6px var(--highlight-color);
            }
            .dark-theme & { background: rgba(0, 0, 0, 0.2); }
          }
          
          table {
            width: 100%;
            margin: 16px 0;
            & td {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              height: 28px;
        
              > input {
                height: 20px;
                width: 50px;
                border: none;
                background: transparent;
              }
            }
            & td:nth-child(1) { padding: 0 0 2px 15px; font-size: 12px; opacity: 0.8; }
            & td:nth-child(2) { text-align: right; padding-right: 15px; font-size: 14px; }
          }
          
          textarea {
            height: 50px;
            width: 100%;
            margin: 6px 0;
            padding: 3px 5px;
            resize: vertical;
            font-size: 13px;
            border: none;
            color: inherit;
            background: transparent;
            background: rgba(0, 0, 0, 0.05);
            .dark-theme & { background: rgba(0, 0, 0, 0.2);}
          }
        }
        
        .IIShare {
          transform: translateY(-16px);
          padding: 18px 10px 12px 10px;
          > span > input {
            height: 34px;
          }
        }
        
        sub {
          opacity: 0.8;
          padding: 0 1px;
          font-size: 11px;
        }
    
        span {
          display: inline-flex;
          justify-content: space-around;
          height: 34px;
          width: 100%;
          margin: 4px 0;
          color: inherit;
          > input {
            height: 38px;
            width: 100%;
            padding: 3px 4px 6px 8px;
            color: inherit;
            border: 1px solid#828489;
            background: transparent;
            .dark-theme & { background: rgba(0, 0, 0, 0.05); border-color: #393c44;}
          }
          .Input_Ops_Btn {
            display: inline-block;
            height: 31px;
            width: 30px;
            padding: 10px 4px;
            font-size: 12px;
            text-align: center;
            background: #afb4b9;
            border-radius: 2px;
            cursor: pointer;
            &:hover { color: var(--highlight-color); }
            .dark-theme & { background: #4e535a; }
          }
        }
      
        div {
          margin: -6px 0px 6px 0;
          span {
            justify-content: space-between;
          }
          button {
            width: 65px;
            &.selected {
              border: 1px solid var(--highlight-color);
            }
          }
          > input {
            height: 32px;
            width: 100%;
            padding: 3px 4px 6px 8px;
            color: inherit;
            border: 1px solid #828489;
            background: transparent;
          }
        }
    
    
    
        .Locked {    
          background: map-get($colors, PL_2);
          .dark-theme & { background: map-get($colors, PD_2); }
    
          > span {
            justify-content: space-between;
             > h3 {
              font-weight: 400;
              padding: 3px;
            }
            > i {
              height: 30px;
              width: 30px;
              padding: 5px;
              font-size: 18px;
              opacity: 0.6;
              cursor: pointer;
              &:hover { opacity: 1; }
            }
          }
          h5 {
            padding: 0px 6px 12px 6px;
            opacity: 0.7;
            font-weight: 400;
            font-size: 13px;
            font-style: italic;
          }
          .security_option {
            & i {
              padding: 8px 9px 9px 2px;
              font-size: 16px;
            }
            > input {
              height: 30px;
            }
          }
          .securityEntry {
            & input {
              height: 30px;
              padding-bottom: 6px;
              border-radius: 8px;
              border: none;
              font-size: 17px;
              font-variant: all-petite-caps;
              color: map-get($colors, PD_8);
              background: linear-gradient(40deg, #e8ae68, #e63811);
              cursor: pointer !important;
              transition: transform 200ms;
              &:hover {
                transform: translateY(-2px);
                // background-image: linear-gradient(40deg, #4d9b9f, #1eb141);
              }
            }
          }
        }
      }
    }
  }

  >.bin_Page {

    .PageHeader {
      display: grid;
    }

    .PageData {

      .binContainer {
        display: grid;
        place-items: center;

        table {
          width: 100%;
          max-width: 750px;
          padding: 0 24px;
          border-spacing: 0px 14px;
          color: map-get($colors, PL_8);
          .dark-theme & { color: map-get($colors, PD_8); }

          & tr {
            height: 46px;
            text-align: center;
            opacity: 0.8;
            font-size: 12px;
            cursor: pointer;
            transition: background-color 100ms;
            background: map-get($colors, PL_2);
            .dark-theme & { background: map-get($colors, PD_2); }

            &.selected {
              background: map-get($colors, PL_5);
              .dark-theme & { background: map-get($colors, PD_6); }
            }

            &:hover:not(.noHover) {
              background: map-get($colors, PL_6);
              .dark-theme & { background: map-get($colors, PD_4); }
            }

            & >td:nth-child(1) {
              width: 50px;
              padding-top: 3px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            & >td:nth-child(2) {
              text-align: left;
              padding: 0 20px;
              font-size: 14px;
            }
            & >td:nth-child(n+3) { opacity: 0.8; .dark-theme & {opacity:0.6;} }
            & >td:nth-child(3) { width: 80px; }
            & >td:nth-child(4) { width: 100px; }
            & >td:nth-child(5) {
              width: 80px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            } 
          }
        }
      }

      .binIsEmpty {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        text-align: center;
        color: #565b61;
        user-select: none;
        pointer-events: none;
        opacity: 0;
        transition: opacity 300ms;

        &.displayBinIsEmpty { opacity: 1; }

        >img {
          width: 100%;
          height: 140px;
          margin-bottom: 20px;
          filter: opacity(0.1);
          .dark-theme & { filter: opacity(0.4); }
        }
      }
    }

    .binInfoPopup {
      position: absolute;
      height: 20px;
      width: 80%;
      bottom: -30px;
      left: 50%;
      border-radius: 10px;
      text-align: center;
      font-size: 13px;
      line-height: 20px;
      color: map-get($colors, PD_8);
      background: map-get($colors, PC_1);
      transform: translateX(-50%);
      opacity: 0;
      transition: bottom 300ms, opacity 300ms;

      &.displayPopup { bottom: 10px; opacity: 1; }

      i {
        position: absolute;
        top: 2px;
        right: 8px;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .PageInformation {
      display: flex;
      >.binInformation {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        padding: 5px 20px;
        gap: 20px;
        border-left: 1px solid map-get($colors, PL_6);
        .dark-theme & { border-left: 1px solid map-get($colors, PD_4); }

        .binSize {
          text-align: center;
          color: map-get($colors, PL_7);
          .dark-theme & { color: map-get($colors, PD_7); }
        }
  
        .binUsage {
          position: relative;
          height: 200px;
          width: 200px;
          padding: 20px;
          border-radius: 50%;
          background: map-get($colors, PL_5);
          .dark-theme & { background: map-get($colors, PD_4); }
          >div {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: map-get($colors, PL_1);
            .dark-theme & { background: map-get($colors, PD_3); }
          }
        }
  
        .binItemData {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 20px;
          width: 200px;
          margin-top: 10px;
          border-radius: 8px;
  
          p {
            color: map-get($colors, PL_8);
            padding-bottom: 10px;
            border-bottom: 1px solid map-get($colors, PL_6);
            .dark-theme & {
              border-bottom: 1px solid map-get($colors, PD_4);
              color: map-get($colors, PD_8);
            }
          }
  
          table {
            font-size: 14px;
            color: map-get($colors, PL_7);
            .dark-theme & { color: map-get($colors, PD_7); }
            & tr {
              height: 24px;
              & >td:nth-child(2) {
                text-align: right;
              }     
            }
          }
  
          .binRestoreBtn {
            border-radius: 2px;
            border: 1px solid #4285f4;
            background: #4285f433;
            color: #4285f4;
            &:hover {
              background: #4285f4;
              color: map-get($colors, PD_8);
            }
          }
          .binDeleteBtn {
            border-radius: 2px;
            border: 1px solid #ff453a;
            background: #ff443a33;
            color: #ff453a;
            &:hover {
              background: #ff453a;
              color: map-get($colors, PD_8);
            }
          }
        }

        .binBtn {
          height: 30px;
          width: 200px;
          max-width: 100%;
          border: none;
          cursor: pointer;
          user-select: none;
          transition: background-color 300ms, color 300ms;
        }

        .binEmptyContainer {
          padding-top: 20px;
          border-top: 1px solid map-get($colors, PL_6);
          .dark-theme & { border-top: 1px solid map-get($colors, PD_4); }

          >.binEmptyBtn {
            border-radius: 5px;
            color: map-get($colors, PD_8);
            background: map-get($colors, PC_10);
            &:hover {
              background-color: #ff443a33;
              color: #ff453a;
            }
          }
        }
      }
  
    }

  }
}


.BlockOut { // Pop_ups
  display: grid;
  place-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  z-index: 25;

  .Popup_Container {
    position: absolute;
    height: auto;
    width: 400px;
    font-size: 18px;
    user-select: none;
    color: map-get($colors, PL_8);
    .dark-theme & { color: map-get($colors, PD_8); }
    

    .Popup_Main {
      position: relative;
      height: 150px;
      width: 100%;
      border-radius: 5px;
      padding: 10px 15px;
      background: map-get($colors, PL_1);
      .dark-theme & { background: map-get($colors, PD_3); }

      h3 {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        padding: 5px 0px;
      }

      h5 {
        display: inline-block;
        font-size: 13px;
        padding: 4px;
        vertical-align: text-top;
      }

      > p {
        font-size: 15px;
        line-height: 22px;
        margin-top: 5px;
        padding: 3px;
        white-space: break-spaces;
        width: 100%;
        border-top: 1px solid map-get($colors, PL_6);
        .dark-theme & { border-color: map-get($colors, PD_4); }
      }

      span {
        position: absolute;
        right: 15px;
        bottom: 15px;

        > button {
          width: 90px;
          margin: 0 4px;
          padding: 6px;
          line-height: 18px;
          font-size: 16px;
          border: none;
          color: inherit;
          background: transparent;
          cursor: pointer;
          user-select: none;
          transition: all 200ms;
        }

        & .Popup_Accept {
          border-radius: 2px;
          color: white;
          background: map-get($colors, PC_1);
          &:hover { transform: translateY(-2px); }

          &.PUA_Red { background: map-get($colors, PC_5); }
        }
        & .Popup_Reject {
          &:hover {
            background: map-get($colors, PL_4);
            .dark-theme & { background: map-get($colors, PD_4); }
          }
        }
      }

      .Popup_Input {
        position: absolute;
        width: calc(100% - 30px);
        left: 15px;
        padding: 6px 10px;
        border: none;
        border-radius: 3px;
        font-size: 15px;
        color: inherit;
        background: transparent;

        border: 1px solid map-get($colors, PL_6);
        .dark-theme & {
          border: 1px solid map-get($colors, PD_4);
        }
        &::placeholder { color: inherit; opacity: 0.8; font-size: 15px; }
        &.Popup_Input_Name { top: 55px; }
      }
    }

    .Popup_Secondary {
      display: grid;
      grid-gap: 5px;
      position: relative;
      height: auto;
      width: 100%;
      border-radius: 5px;
      margin-top: 10px;
      padding: 10px 15px;
      background: map-get($colors, PL_1);
      .dark-theme & { background: map-get($colors, PD_3); }

      & > * {
        background: transparent;
        padding: 6px 10px 6px 10px;
        font-size: 15px;
        font-weight: 400;
        border-radius: 3px;
        color: inherit;
        border: 1px solid map-get($colors, PL_6);
        .dark-theme & { border: 1px solid map-get($colors, PD_4);}
      }

      h4 {
        padding: 0 0 4px 0 !important;
        opacity: 0.8;
        border: none !important;
      }
      textarea {
        height: 50px;
        resize: vertical;
        &::placeholder { color: inherit; opacity: 0.8; font-size: 14px; }
      }
      input {
        &::placeholder { color: inherit; opacity: 0.8; font-size: 14px; }
      }
      > button {
        text-align: left;
        font-size: 14px !important;
        user-select: none;  
        cursor: pointer;
      }
    }

    .Popup_Dropdown {
      position: absolute;
      font-size: 16px;
      &:hover .Popup_Dropdown_Content { display: block; }
    
      .Popup_Location {
        max-width: 200px;
        border-radius: 3px;
        padding: 4px 8px;
        text-align: center;
        background: map-get($colors, PL_4);
        cursor: pointer;
        .dark-theme & { background: map-get($colors, PD_4); }
    
        p { display: inline-block; }
        i { padding-left: 8px; }
      }
      .Popup_Dropdown_Content {
        display: none;
        position: absolute;
        max-width: 200px;
        margin-top: 3px;
        right: 0;
        padding: 3px;
        border-radius: 3px;
        font-size: 14px;
        background-color: map-get($colors, PL_4);
        box-shadow: 0px 6px 6px -2px map-get($colors, PL_6);
        z-index: 5;
        .dark-theme & { 
          background: map-get($colors, PD_4);
          box-shadow: 0px 6px 6px -2px map-get($colors, PD_1);
        }
        a {
          display: block;
          padding: 8px 10px;
          &:hover {
            background-color: map-get($colors, PL_6);
            .dark-theme & { background-color: map-get($colors, PD_5); }
          }
        }
      }
    }
  }

  .Preview {
    display: grid;
    place-content: center;
    max-width: calc(100% - 4vw);
    background: white;
    .dark-theme & { background: black; }

    .ViewImage {
      max-height: 80vh;
      max-width: calc(100vw - 20px);
      object-fit: contain;
      border-radius: 5px;
      user-select: none;
      z-index: 1;
    }
    
    .ViewText {
      max-height: calc(100vh - 80px);
      max-width: 800px;
      border-radius: 3px;
      overflow-y: overlay;
  
      border: 1px solid map-get($colors, PL_6);
      background: map-get($colors, PL_0);
      color: map-get($colors, PL_8);
      z-index: 1;

      &::-webkit-scrollbar { width: 10px; }
  
      .dark-theme & {
        border: 1px solid map-get($colors, PD_4);
        background: map-get($colors, PD_3);
        color: map-get($colors, PD_8);
      }
    
      > pre {
        padding: 15px;
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 20px;
        font-family: monospace;
        white-space: pre-wrap;
        overflow-y: scroll;
      }
    }
  }
}

///////////////////////// MOVE /////////////////////////
///////////////////////// MOVE /////////////////////////

.listItem-Placeholder {
  height: 38px;
  min-width: 200px;
  padding: 2px 20px 4px 40px;
  font-family: inherit;
  z-index: 990;
  color: map-get($colors, PL_7);
  box-shadow: 0 1px 3px 0px map-get($colors, PL_6);
  background: map-get($colors, PL_4);
  .dark-theme & {
    color: map-get($colors, PD_8);
    box-shadow: 0 1px 3px 0px map-get($colors, PD_1);
    background: map-get($colors, PD_4);
  }

  > h5 {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    white-space: nowrap;
    padding-right: 10px;
    user-select: none;
  }

  & img {
    position: absolute;
    left: 4px;
    top: 3px;
    height: 32px;
    width: 32px;
    object-fit: contain;
  }
}

.listItem-Hover {
  box-shadow: inset 0px 1px 4px 1px map-get($colors, PL_6) !important;
  .dark-theme & { box-shadow: inset 0px 1px 0px 2px map-get($colors, PC_0) !important }
}
.listSpan-Hover {
  box-shadow: 0px 0px 0px 2px map-get($colors, PC_0);
  .dark-theme & { box-shadow: 0px 0px 0px 1px map-get($colors, PC_0); }
  // & .listItem-Hover { .listSpan-Hover { box-shadow: none !important; } }
}

.ItemSelected {
  background: map-get($colors, PL_5) !important;
  .dark-theme & { background: map-get($colors, PD_5) !important; }
  &:hover {
    background: map-get($colors, PL_6) !important;
    .dark-theme & { background: map-get($colors, PD_6) !important; }
  }
}

///////////////////////// MISC /////////////////////////
///////////////////////// MISC /////////////////////////

.DragDropOverlay {
  &.display_Overlay { bottom: -10px; }

  position: absolute;
  height: 45px;
  width: 200px;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 25px;
  box-shadow: 0 0 70px 0px #99ccff;
  background: map-get($colors, PC_1);

  margin: 30px 0;
  z-index: 50;
  user-select: none;

  transition: bottom 300ms ease-in-out;
  p {
    height: 100%;
    width: 100%;
    margin: 14px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: center;
    color: map-get($colors, PD_8);
  }
}

.Upload_Container {
  position: fixed;
  height: 100px;
  max-width: 360px;
  width: 100%;
  bottom: 20px;
  right: 20px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 1px map-get($colors, PL_6);
  background: map-get($colors, PL_1);
  color: map-get($colors, PL_8);
  z-index: 10;
  .dark-theme & { 
    background: map-get($colors, PD_4);
    color: map-get($colors, PD_8);
    box-shadow: 1px 2px 3px 1px map-get($colors, PD_2);
  }

  > div {
    height: 50%;
    border-radius: 5px;
  }

  .UC_Top {
    background: rgba(0,0,0,0.05);
    .dark-theme & { background: rgba(0,0,0,0.2); }

    .Upload_Control {
      position: absolute;
      height: 34px;
      margin: 8px;
      padding: 7px 14px;
      border-radius: 4px;
      color: map-get($colors, PD_8);
      font-weight: 400;
      background: linear-gradient(40deg,#46a14d,#098d62);
      cursor: pointer;
      user-select: none;
    }
    span {
      display: flex;
      justify-content: space-around;
      position: absolute;
      height: 50px;
      width: 100px;
      right: 0;
      padding: 9px 0;
      font-size: 20px;
      opacity: 0.8;
      i {
        display: grid;
        place-items: center;
        height: 32px;
        width: 32px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        &:hover { background: rgba(0, 0, 0, 0.2); }
      }
    }
  }

  .UC_Bottom {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 16px;
    
    button {
      height: 30px;
      width: 80px;
      border: none;
      line-height: 20px;
      font-weight: 400;
      color: inherit;
      cursor: pointer;
      background: map-get($colors, PL_5);
      .dark-theme & { background: map-get($colors, PD_5); }
      &:hover {transform: translateY(-2px);}
    }
    p {
      // width: 70px;
      margin: 5px 0;
      font-size: 15px;
      text-align: center;
    }

    .Upload_Progress {
      visibility: hidden;

      display: flex;
      justify-content: space-around;
      position: absolute;
      height: 30px;
      width: 100%;
      padding: 0 20px;
      text-align: center;
      background: map-get($colors, PL_1);
      .dark-theme & {background: map-get($colors, PD_4);}

      > progress {
        height: 6px;
        width: 80%;
        border-radius: 5px;
        margin-top: 12px;

        &::-webkit-progress-bar {
          border-radius: 5px;
          background-color: map-get($colors, PL_4);
          .dark-theme & { background-color: map-get($colors, PD_4); }
        }
        &::-webkit-progress-value {
          background-color: var(--highlight-color);
          border-radius: 5px;
        }
      }
      > p {
        width: 40px;
        font-size: 14px;
      }
    }
  }

  .UC_Queue_Viewer {
    visibility: hidden;
    position: absolute;
    max-height: 180px;
    height: initial;
    width: 100%;
    bottom: 110px;
    padding: 7px 10px;
    overflow-y: scroll;
    color: map-get($colors, PL_8);
    background: map-get($colors, PL_1);
    box-shadow: 1px 2px 3px 1px map-get($colors, PL_6);
    .dark-theme & {
      background: map-get($colors, PD_4);
      color: map-get($colors, PD_7);
      box-shadow: 1px 2px 3px 1px map-get($colors, PD_2);
    }

    &::-webkit-scrollbar-track { background: map-get($colors, PL_3); .dark-theme & {background: map-get($colors, PD_3);} }

    table {
      position: relative;
      width: 100%;
      border-radius: 6px;
      border-spacing: 0px 2px;
      border-collapse: collapse;
      tr {
        height: 39px;
        font-family: inherit;
        td {
          i {
            &.yellow { color: #ff8d00; }
            &.green { color: map-get($colors, PC_4) }
            &.dark_red { color: map-get($colors, PC_5) }
            &.red { color: red;}
          }
        }
        &.active_upload {
          background: map-get($colors, PL_3);
          .dark-theme & {background: map-get($colors, PD_5);}
        }
        & td:nth-child(1) {
          width: auto; max-width: 200px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 10px;
        }
        & td:nth-child(2) {min-width: 65px; text-align: center; font-size: 13px; opacity: 0.7;}
        & td:nth-child(3) {width: 50px; font-size: 18px; text-align: center;}
      }
      & tr:nth-child(n+2) {
        border-top: 1px solid map-get($colors, PL_4);
        .dark-theme & { border-color: map-get($colors, PD_4); }}
    }

  }

  .UC_Showing {
    visibility: visible !important;
  }
}

.UploadBtns {  input { display: none; } }

.RightClickContainer {
  display: none;
  position: fixed;
  user-select: none;
  z-index: 999;
  width: 180px;
  border-radius: 4px;
  padding: 6px 0px;
  box-shadow: 1px 2px 3px 0px map-get($colors, PL_6);
  background: map-get($colors, PL_3);
  color: map-get($colors, PL_7);
  .dark-theme & {
    box-shadow: 1px 2px 3px 0px map-get($colors, PD_1);
    background: map-get($colors, PD_4);
    color: map-get($colors, PD_7);
  }
  li {
    line-height: 20px;
    font-size: 14px;
    font-family: 'Segoe UI';
    list-style: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    &.Nano_SPLIT {
      margin: 6px;
      padding: 0;
      opacity: 0.4;
      border-top: 1px solid map-get($colors, PL_6);
      cursor: auto;
      .dark-theme & {
        border-top: 1px solid map-get($colors, PD_5);
      }
    }
  }
  :not(.nano_SPLIT):hover {
    background: map-get($colors, PC_8);
    .dark-theme & {
      background: map-get($colors, PC_7);
    }
  }
}

.colorContainer {
  position: absolute;
  user-select: none;
  height: 300px;
  width: 200px;
  top: calc(50vh - 150px);
  left: calc(50vw - 100px);
  padding: 6px;
  border-radius: 5px;
  color: map-get($colors, PL_7);
  box-shadow: 1px 1px 3px 0px map-get($colors, PL_4);
  background: map-get($colors, PL_2);
  z-index: 999;
  cursor: all-scroll;
  .dark-theme & {
    color: map-get($colors, PD_8);
    box-shadow: 1px 1px 3px 0px map-get($colors, PD_1);
    background: map-get($colors, PD_3);
  }

  #closeColorPicker {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 4px;
    left: 10px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
  }
  #acceptColorPicked {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 4px;
    right: 10px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
  }
  .colorPickEntry {
    position: absolute;
    height: 26px;
    width: 86px;
    top: 5px;
    left: 57px;
    padding: 3px;
    border: none;
    text-align: center;
    background: transparent;
    border-bottom: 1px solid;
    color: map-get($colors, PL_7);
    font-size: 16px;
    font-weight: 500;
    .dark-theme & {
      color: map-get($colors, PD_8);
    }
  }
  .colorOptionsContainer {
    position: absolute;
    height: 260px;
    width: 188px;
    bottom: 5px;
    cursor: default;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  
    > div {
      height: 29px;
      width: 29px;
      border-radius: 5px;
      margin: 4px;
      cursor: pointer;
      &:hover {
        border: 2px solid;
        border-radius: 4px;
      }
      &.selectedCol {
        border: 3px solid;
        border-radius: 16px;
      }
    }
  }
}

.Loading_SVG {
  position:absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);

  &.medium { max-width: 36px; }
  &.small { max-width: 24px; }

  animation: 2s linear infinite svg-animation;
  max-width: 24px;
  circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: map-get($colors, PL_7);
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
    .dark-theme & { stroke: map-get($colors, PD_8); }

    @keyframes circle-animation {
      0%, 25% { stroke-dashoffset: 280; transform: rotate(0); }
      50%, 75% { stroke-dashoffset: 75; transform: rotate(45deg); }
      100% { stroke-dashoffset: 280; transform: rotate(360deg); }
    }
  }
  @keyframes svg-animation {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg) }
  }
}

.Switch {
  display: flex;
  position: absolute;
  padding: 2px;
  border-radius: 5px;
  font-variant: all-petite-caps;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: map-get($colors, PL_8);
  border: 1px solid map-get($colors, PL_6);

  .dark-theme & {
    color: map-get($colors, PD_8);
    border-color: map-get($colors, PD_4);
  }

  >div {
    width: 50px;
    height: 23px;
    z-index: 2;
    user-select: none;
  }
  >.Slider {
    position: absolute;
    border-radius: 3px;
    z-index: 1;
    background: map-get($colors, PC_1);
    transition: transform 250ms ease-in-out;
  }


  &.SW_View {
    width: 62px;
    font-size: 15px;
    color: map-get($colors, PC_1);
    .SL_View { width: 28px; background: map-get($colors, PL_6);}
    >div { padding: 3px; }
    .dark-theme & { color: map-get($colors, PD_8); .SL_View{background: map-get($colors, PC_1);} }
  }
  &.SW_Bin {
    position: relative;
    display: flex;
    justify-content: space-between;
    place-self: center;
    width: 340px;
    max-width: 80%;
    margin-top: 2px;
    border-radius: 20px;
    padding: 0;
    >div {
      width: calc(100% / 3);
      border-radius: 20px;
      letter-spacing: 1px;
      font-variant: initial;
      font-size: 13.5px;
      padding: 3px;
    }
    .SL_Bin { background: map-get($colors, PL_6); }
    .dark-theme & { .SL_Bin { background: map-get($colors, PD_6); } }
  }
}

.ExpandSpan {
  &.VT_Block {
    position: absolute;
    right: 35px;
    transform: translateY(-2px);
  }

  height: 22px;
  width: 70px;
  padding-bottom: 2px;
  border: none;
  line-height: 20px;
  color: inherit;
  background: map-get($colors, PL_4);
  cursor: pointer;
  .dark-theme & { background: map-get($colors, PD_4); }
  &:hover { opacity: 0.7; }
}

///////////////////////// @media /////////////////////////
///////////////////////// @media /////////////////////////

// Min Width

// @media only screen and (min-width: 600px) {
//   .PageList {
//     display: block !important;
//   }
// }

// Max Width

@media only screen and (max-width: 1500px) {
  .search { width: 150px; }
}

@media only screen and (max-width: 1000px) {
  body { grid-template-columns: 80px auto; }
  .Pages .Page_Loading { width: calc(100% - 80px); }

  .PageList {
    width: 80px;
    > div {
      > a {
        height: 30px;
        width: 30px;
        margin: 25px 0 10px 25px;
        filter: none;
        background: url('/assets/logo/Nanode_Light.svg');
        .dark-theme & { background: url('/assets/logo/Nanode_Dark.svg'); }
      }
      > span > p {
        display: none;
      }
    }
    .Storage {
      h3 {display: none;}
      p {display: none;}
      progress {
        transform: rotate(90deg);
        top: 45px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .ListContentTable {
    & th:nth-child(4) { display: none !important;}
    & td:nth-child(4) { display: none !important;}
  }
  .PageHeader > .search { width: 80px; }
}

@media only screen and (max-width: 800px) {
  .fileContainer {
    padding: 0 15px;
  }
  .ListContentTable {
    & th:nth-child(3) { display: none !important;}
    & td:nth-child(3) { display: none !important;}
  }
}

@media only screen and (max-width: 750px) {
  .Pages > section {  grid-template-columns: auto 0px; }
  .Frame { width: 38px; 
    button { margin-right: 0px; }
  }
  .clientStatus {display: none;}
  .search { margin-right: 28px; }
}

@media only screen and (max-width: 600px) {
  body { grid-template-columns: 0px auto 0px; }
  .Pages .Page_Loading { width: calc(100% - 0px); }
  .PageList {width: 0px;}

  .ListContentTable {
    & th:nth-child(5) { display: none !important;}
    & td:nth-child(5) { display: none !important;}
  }
}

@media only screen and (max-width: 500px) {
  .Frame { display: none; }
  .search { margin-right: 0px; }
  
  .Item > img { object-fit: contain; }
}