:root {
  --highlight-color:  #18ec58;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI';
}

html {
  overflow: hidden;
  white-space: nowrap;
}

body {
  height: 100vh;
}

.placeholder::-webkit-input-placeholder {
  color: #555555;
  font-size: 14px;
}

.placeholder:-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
}

.placeholder::-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
}

.placeholder::placeholder {
  color: #555555;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(130, 130, 130, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 130, 130, 0.6);
}

#NanodeRtn {
  height: 36px;
  width: 36px;
  margin: 7px;
  background: url("/assets/Logo/NWafer.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#databaseBackgroundMain {
  position: absolute;
  background-color: #e9e9e9;
  width: calc(100vw - 50px);
  height: 100vh;
  right: 0;
  background-size: cover;
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-filter 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-filter 0.3s;
  transition: box-shadow 0.3s, filter 0.3s;
  transition: box-shadow 0.3s, filter 0.3s, -webkit-box-shadow 0.3s, -webkit-filter 0.3s;
  overflow: hidden;
}

.dark-theme #databaseBackgroundMain {
  background-color: #26262b;
}

#databaseBackgroundMain.highlight {
  -webkit-box-shadow: inset 0px 0px 15px 6px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0px 15px 6px rgba(0, 0, 0, 0.4);
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.dark-theme #databaseBackgroundMain.highlight {
  -webkit-box-shadow: inset 0px 0px 20px 10px rgba(254, 254, 254, 0.3);
          box-shadow: inset 0px 0px 20px 10px rgba(254, 254, 254, 0.3);
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.fileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: calc(100% - 250px);
  top: 80px;
  padding: 0 24px 80px 40px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  overflow-x: auto;
  height: inherit;
  -webkit-transition: width 600ms;
  transition: width 600ms;
}

.fileContainer.highlight {
  -webkit-box-shadow: inset 0px 0px 15px 6px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0px 15px 6px rgba(0, 0, 0, 0.4);
}

.dark-theme .fileContainer.highlight {
  -webkit-box-shadow: inset 0px 0px 20px 10px rgba(150, 150, 150, 0.3);
          box-shadow: inset 0px 0px 20px 10px rgba(150, 150, 150, 0.3);
}

.fileContainer::-webkit-scrollbar {
  display: none;
}

.fileContainer .directoryControlNewSpan {
  width: 100%;
  height: 40px;
  margin: 24px 0 60px 0;
  padding: 8px;
  border: 1px dashed #646464;
  border-radius: 5px;
  text-align: center;
  color: #646464;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(0, 0, 0, 0.06);
  -webkit-transition: background-color, border-color .2s ease-in-out;
  transition: background-color, border-color .2s ease-in-out;
  cursor: pointer;
}

.dark-theme .fileContainer .directoryControlNewSpan {
  color: #666;
}

.fileContainer .directoryControlNewSpan:hover {
  color: #aaa;
  border-color: #aaa;
  background-color: rgba(0, 0, 0, 0.1);
}

.directoryLocationControls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 170px;
  width: 30%;
  top: 28px;
  left: 70px;
  z-index: 1;
  color: #4b505a;
}

.dark-theme .directoryLocationControls {
  color: #fafafa;
}

.directoryLocationControls > span {
  width: 45px;
}

.directoryLocationControls > span:after {
  border-bottom: 4px solid var(--highlight-color);
}

.directoryLocationControls .directoryControlButton {
  height: 40px;
  padding: 4px 8px;
  font-size: 22px;
  z-index: 1;
  text-align: center;
  color: #4b505a;
  cursor: pointer;
}

.dark-theme .directoryLocationControls .directoryControlButton {
  color: #ccc;
}

.directoryLocationControls .directoryControlButton:after {
  display: block;
  content: '';
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.directoryLocationControls .directoryControlButton:hover:not(.notActive) {
  opacity: 0.7;
}

.directoryLocationControls .directoryControlButton:hover:not(.notActive):after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.directoryLocationControls .directoryControlButton.SelectedPage {
  -webkit-box-shadow: inset 5px 0px 0px 0px var(--highlight-color);
          box-shadow: inset 5px 0px 0px 0px var(--highlight-color);
  opacity: 0.7;
}

.directoryLocationControls .notActive {
  opacity: 0.6;
  cursor: default;
}

.homepageBtnContainer {
  width: 40px;
  padding: 1px 10px;
}

#directoryLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 28px;
  width: calc(100vw - 720px);
  left: 200px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: #4b505a;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Segoe UI';
  resize: none;
  overflow: hidden;
  text-align: left;
  background: transparent;
  border-bottom: 1px solid var(--highlight-color);
}

.dark-theme #directoryLocation {
  letter-spacing: 1px;
  font-weight: 200;
  color: #fafafa;
}

.dirBtn {
  height: 30px;
  max-width: 150px;
  padding: 2px 8px 0px 8px;
  border-radius: 3px;
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.dirBtn:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
}

.dirBtn-Hover {
  background: rgba(0, 0, 0, 0.15);
}

.dark-theme .dirBtn-Hover {
  color: var(--highlight-color);
  background: #1e1e22;
}

.currentDirBtn {
  opacity: 1;
}

.dirArrow {
  height: 30px;
  width: 30px;
  padding: 4px;
  background-image: url(https://drive.nanode.one/assets/svg/Arrow_Right_Black.svg);
  background-position: center;
  opacity: 0.4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dark-theme .dirArrow {
  background-image: url(https://drive.nanode.one/assets/svg/Arrow_Right_White.svg);
}

.File_Image {
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  border-radius: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Item_Image {
  position: absolute;
  padding-top: 8px;
}

.ContentContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin: 35px 0 0px 0;
  padding: 6px 6px 10px 6px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.03);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(105px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
  grid-auto-rows: auto 1fr;
  grid-gap: 10px 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dark-theme .ContentContainer {
  background: rgba(0, 0, 0, 0.06);
}

.ContentContainer a {
  grid-column: 1/-1;
  width: 50%;
  margin: 2px 0 0 22px;
  font-size: 20px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #292b2f;
}

.dark-theme .ContentContainer a {
  color: #ecececd9;
}

.ContentContainer div {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 120px;
  border-radius: 5px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.ContentContainer div:hover {
  background-color: rgba(146, 146, 146, 0.2);
}

.ContentContainer div h4 {
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0px;
  padding: 6px 2px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.dark-theme .ContentContainer div h4 {
  color: #f2f2f2;
}

.ContentContainer div img {
  width: 100%;
  max-height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.FolderNameEdit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  word-break: break-all;
  white-space: break-spaces;
  z-index: 999;
  background: #ccc;
}

.dark-theme .FolderNameEdit {
  background: #121212;
}

.ListContentContainer {
  width: 100%;
  margin: 15px 0 0 0;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

.ListContentContainer a {
  position: absolute;
  margin: 10px 0 0 0;
  border-radius: 3px;
  padding: 0 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #292b2f;
  background: transparent;
}

.dark-theme .ListContentContainer a {
  color: #ecececd9;
}

.ListContentContainer a:active {
  border-bottom: 1px solid;
}

.ListContentContainer table {
  position: relative;
  width: 100%;
  margin: 35px 0 0 0;
  color: #292b2f;
  background: transparent;
  border-radius: 5px;
  border-spacing: 0px 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dark-theme .ListContentContainer table {
  color: #f1f1f1;
}

.ListContentContainer table tr {
  height: 38px;
  cursor: pointer;
}

.ListContentContainer table tr:not(:first-child):hover:not(.noHover) {
  opacity: 0.7;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  background: #f1f1f1;
  border-radius: 6px;
}

.dark-theme .ListContentContainer table tr:not(:first-child):hover:not(.noHover) {
  background: rgba(0, 0, 0, 0.2);
}

.ListContentContainer table tr th {
  font-size: 14px;
  font-weight: 100;
  font-family: inherit;
}

.ListContentContainer table tr td {
  font-size: 14px;
  font-weight: 100;
  font-family: inherit;
}

.ListContentContainer table tr td img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 32px;
  width: 32px;
}

.ListContentContainer table td:nth-child(1) {
  width: 50px;
  padding: 4px 0 0 4px;
}

.ListContentContainer table th:nth-child(2) {
  max-width: 0;
  width: auto;
  min-width: 160px;
  overflow: hidden;
}

.ListContentContainer table th:nth-child(3) {
  width: 80px;
  min-width: 60px;
}

.ListContentContainer table th:nth-child(4) {
  width: 100px;
}

.ListContentContainer table th:nth-child(5) {
  width: 80px;
}

.ListContentContainer table td:nth-child(n+3) {
  text-align: center;
}

.ListContentContainer table tr:nth-child(1) {
  height: 20px;
  cursor: auto;
  opacity: 0.8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dark-theme .ListContentContainer table tr:nth-child(1) {
  opacity: 0.6;
}

.dark-theme .ListContentContainer table tr:nth-child(1):hover {
  opacity: 0.6;
}

.ListContentContainer table tr:nth-child(1):hover {
  opacity: 0.8;
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ListContentContainer table tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.06);
}

.ListContentContainer table tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.09);
}

.listItem-Placeholder {
  height: 38px;
  min-width: 200px;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  padding: 2px 4px 4px 40px;
  font-size: 14px;
  font-weight: 100;
  font-family: inherit;
  z-index: 990;
  color: #292b2f;
  background: #f1f1f1;
}

.dark-theme .listItem-Placeholder {
  background: #1e1e22;
  color: #f1f1f1;
}

.listItem-Placeholder h5 {
  position: absolute;
  font-size: 12px;
  font-weight: 100;
  opacity: 0.8;
  left: 40px;
  bottom: 3px;
}

.listItem-Placeholder img {
  position: absolute;
  left: 4px;
  top: 3px;
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.listItem-Hover {
  -webkit-box-shadow: 0px 0px 4px 0px var(--highlight-color);
          box-shadow: 0px 0px 4px 0px var(--highlight-color);
}

.listSpan-Hover {
  -webkit-box-shadow: 0px 0px 4px 1px var(--highlight-color);
          box-shadow: 0px 0px 4px 1px var(--highlight-color);
}

.PagePanel {
  position: fixed;
  height: 100%;
  width: 50px;
  -webkit-box-shadow: -9px 12px 3px 10px #888;
          box-shadow: -9px 12px 3px 10px #888;
  z-index: 20;
  background-color: #f1f1f1;
  overflow: hidden;
}

.dark-theme .PagePanel {
  background-color: #1a1a1d;
  -webkit-box-shadow: -9px 12px 13px 4px #000;
          box-shadow: -9px 12px 13px 4px #000;
}

.PagePanel div {
  width: 100%;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-gap: 18px;
}

.PagePanel div span {
  height: 36px;
  width: 36px;
  padding: 4px;
  margin-left: 7px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  opacity: 0.6;
  color: black;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.dark-theme .PagePanel div span {
  color: #ccc;
}

.PagePanel div span.SelectedPage {
  background: var(--highlight-color);
  -webkit-box-shadow: 0px 0px 8px 0px var(--highlight-color);
          box-shadow: 0px 0px 8px 0px var(--highlight-color);
  opacity: 1;
  color: #f1f1f1;
}

.dark-theme .PagePanel div span.SelectedPage {
  color: #1a1a1d;
}

.PagePanel div span:hover {
  opacity: 1;
  color: var(--highlight-color);
}

.PagePanel .PageControls {
  margin-top: 12px;
}

.PagePanel .PagesBottom {
  position: absolute;
  margin-bottom: 12px;
  bottom: 0px;
  left: 0;
}

.fileInformation {
  position: absolute;
  height: 100%;
  min-height: 500px;
  width: 240px;
  right: 0px;
  padding-top: 40px;
  -webkit-transition: right 600ms;
  transition: right 600ms;
  background: rgba(255, 255, 255, 0.4);
}

.dark-theme .fileInformation {
  background: rgba(0, 0, 0, 0.2);
  color: #ddd;
}

.fileInformation h2 {
  position: absolute;
  width: 70px;
  left: 35px;
  font-size: 22px;
  font-weight: 600;
}

.fileInformation .toggleDetailsBtn {
  position: absolute;
  height: 29px;
  width: 60px;
  right: 20px;
  padding: 4px;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid var(--highlight-color);
  cursor: pointer;
  -webkit-transition: text-align 300ms;
  transition: text-align 300ms;
}

.fileInformationSideBar {
  position: absolute;
  top: 36px;
  right: 218px;
  height: 40px;
  width: 40px;
  opacity: 0.5;
  background-image: url(https://drive.nanode.one/assets/svg/slideBarBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 5;
  -webkit-transition: right 600ms;
  transition: right 600ms;
  cursor: pointer;
}

.dark-theme .fileInformationSideBar {
  opacity: 0.7;
  background-image: url(https://drive.nanode.one/assets/svg/slideBarWhite.svg);
}

.fileInformationContent {
  position: relative;
  height: calc(100% - 210px);
  width: 100%;
  top: 50px;
  padding: 10px;
  border-radius: 0px;
  font-size: 15px;
  overflow: hidden;
  overflow-y: auto;
  white-space: normal;
  color: #1a1a1d;
}

.dark-theme .fileInformationContent {
  color: #eee;
}

.fileInformationContent .ItemInfo_Name {
  font-size: 18px;
  font-weight: 400;
  padding: 5px;
  background: transparent;
  border: none;
}

.dark-theme .fileInformationContent .ItemInfo_Name {
  color: var(--highlight-color);
}

.fileInformationContent .ItemInfo_Name:focus {
  border: 1px solid #666;
  border-radius: 3px;
}

.fileInformationContent .ItemInfo_UUID {
  padding: 5px 0px;
  text-align: center;
  font-size: 11px;
  opacity: 0.6;
  border-bottom: 1px solid #393c44;
}

.fileInformationContent img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 8px 0;
}

.fileInformationContent .ItemInfo_Directory {
  width: 100%;
  margin-top: -1px;
  padding: 8px 4px;
  border: none;
  background: transparent;
  border-top: 1px solid #393c44;
  border-bottom: 1px solid #393c44;
  color: inherit;
}

.fileInformationContent button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
  padding: 8px 4px;
  border-radius: 3px;
  border: none;
  color: inherit;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 300ms ease;
  transition: -webkit-box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
}

.fileInformationContent button > i {
  color: var(--highlight-color);
  font-size: 15px;
  padding: 2px 4px;
}

.fileInformationContent button:hover {
  -webkit-box-shadow: 0 0 6px var(--highlight-color);
          box-shadow: 0 0 6px var(--highlight-color);
}

.dark-theme .fileInformationContent button {
  background: rgba(0, 0, 0, 0.2);
}

.fileInformationContent table {
  width: 100%;
  margin: 8px 0;
  font-size: 13px;
  border-collapse: collapse;
  table-layout: fixed;
  border-top: 1px solid #393c44;
}

.fileInformationContent table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 26px;
}

.fileInformationContent table td > input {
  height: 20px;
  width: 50px;
  border: none;
  background: transparent;
}

.fileInformationContent table td:nth-child(1) {
  padding: 0 0 2px 15px;
  font-variant: all-petite-caps;
  opacity: 0.7;
}

.fileInformationContent table td:nth-child(2) {
  text-align: right;
  padding-right: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

.fileInformationContent sub {
  opacity: 0.6;
  padding: 0 5px;
  font-size: 11px;
}

.fileInformationContent textarea {
  height: 50px;
  width: 100%;
  margin: 6px 0;
  padding: 2px 5px;
  resize: vertical;
  font-size: 12px;
  color: inherit;
  border: 1px solid #828489;
  background: transparent;
}

.dark-theme .fileInformationContent textarea {
  background: rgba(0, 0, 0, 0.05);
  border-color: #393c44;
}

.fileInformationContent span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 34px;
  width: 100%;
  margin: 4px 0;
  color: inherit;
}

.fileInformationContent span > input {
  height: 32px;
  width: 100%;
  padding: 3px 4px 6px 8px;
  color: inherit;
  border: 1px solid #828489;
  background: transparent;
}

.dark-theme .fileInformationContent span > input {
  background: rgba(0, 0, 0, 0.05);
  border-color: #393c44;
}

.fileInformationContent span .Input_Ops_Btn {
  display: inline-block;
  height: 31px;
  width: 30px;
  padding: 10px 4px;
  font-size: 12px;
  text-align: center;
  background: #afb4b9;
  border-radius: 2px;
  cursor: pointer;
}

.fileInformationContent span .Input_Ops_Btn:hover {
  color: var(--highlight-color);
}

.dark-theme .fileInformationContent span .Input_Ops_Btn {
  background: #4e535a;
}

.fileInformationContent div {
  margin: -6px 0px 6px 0;
}

.fileInformationContent div span {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fileInformationContent div button {
  width: 65px;
}

.fileInformationContent div button.selected {
  border: 1px solid var(--highlight-color);
}

.fileInformationContent div > input {
  height: 32px;
  width: 100%;
  padding: 3px 4px 6px 8px;
  color: inherit;
  border: 1px solid #828489;
  background: transparent;
}

.fileUploadControls {
  position: absolute;
  height: 150px;
  width: 100%;
  bottom: 0px;
}

.fileUploadControls > .uploadNumber {
  position: absolute;
  height: 24px;
  width: 115px;
  right: 10px;
  bottom: 34px;
  padding: 1px;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fileUploadControls > #uploadClearItems {
  position: absolute;
  height: 24px;
  width: 100px;
  left: 10px;
  bottom: 34px;
  border-radius: 5px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: not-allowed;
}

.fileUploadControls > #uploadClearItems:hover {
  background: rgba(140, 140, 140, 0.2);
}

.fileUploadControls > #uploadDirectory {
  position: absolute;
  height: 28px;
  width: 90%;
  font-size: 15px;
  margin: 8px 10px;
  padding: 1px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dark-theme .fileUploadControls > #uploadDirectory {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.fileUploadControls > #fileBeingUploaded {
  position: absolute;
  bottom: 2px;
  font-size: 15px;
  font-weight: 100;
  padding: 0 8px;
  opacity: 0.8;
  overflow: hidden;
  display: none;
}

.fileUploadControls > #uploadPercentage {
  position: absolute;
  display: block;
  width: 100%;
  height: 22px;
  bottom: 0;
  border-top: 1px solid;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.fileUploadControls progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.05);
}

.dark-theme .fileUploadControls progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.05);
}

.fileUploadControls progress::-webkit-progress-value {
  background-color: #2bd36b;
}

#uploadStartStopButton {
  position: absolute;
  height: 32px;
  width: 180px;
  bottom: 70px;
  left: 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-variant: all-small-caps;
  border: 2px solid var(--highlight-color);
  background: var(--highlight-color);
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

#uploadStartStopButton:hover {
  background: rgba(0, 0, 0, 0.1);
}

.uploadSpanContainer {
  position: absolute;
  width: 220px;
  font-size: 14px;
  text-align: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top: 1px solid #bbb;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 5;
}

.dark-theme .uploadSpanContainer {
  color: #f2f2f2;
  border-top: 1px solid #4e4e52;
}

.uploadSpanContainer > div {
  height: 26px;
  padding: 2px 0px;
  border-radius: 6px;
}

.uploadSpanContainer > div:hover {
  background: rgba(0, 0, 0, 0.1);
  color: var(--highlight-color);
}

.UpDownOverlayContainer {
  position: absolute;
  height: 170px;
  width: 100%;
  bottom: 150px;
  background: #f1f1f1;
}

.dark-theme .UpDownOverlayContainer {
  background: #1a1a1d;
}

.UpDownOverlayContainer > .uploadOverlayBtn {
  position: absolute;
  top: 12px;
  width: 60px;
  height: 30px;
  background: var(--highlight-color);
  border-radius: 2px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.UpDownOverlayContainer > .uploadOverlayBtn:hover {
  top: 13px;
}

.UpDownOverlayContainer > .UOFolder {
  left: 20px;
}

.UpDownOverlayContainer > .UOFile {
  right: 90px;
}

.UpDownOverlayContainer > .UOCancel {
  right: 20px;
  background: transparent;
  color: #1c1c1c;
}

.dark-theme .UpDownOverlayContainer > .UOCancel {
  color: white;
}

.UpDownOverlayContainer > .UOCancel:hover {
  background: gainsboro;
}

.dark-theme .UpDownOverlayContainer > .UOCancel:hover {
  background: #4b505a;
}

.UpDownOverlayItems {
  position: absolute;
  height: calc(100% - 60px);
  width: 90%;
  top: 52px;
  font-size: 14px;
  left: 5%;
  padding: 0 8px;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.dark-theme .UpDownOverlayItems {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.DODownload {
  position: absolute;
  height: 30px;
  width: 130px;
  top: 12px;
  left: 12px;
  padding: 3px;
  border-radius: 2px;
  text-align: center;
  color: #eee;
  background: var(--highlight-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.downloadIcon {
  position: absolute;
  height: 60px;
  width: 60px;
  left: calc(50% - 30px);
  margin: 12px 0;
  border: none;
  background-image: url(https://drive.nanode.one/assets/icons/Download_Black.svg);
}

.dark-theme .downloadIcon {
  background-image: url(https://drive.nanode.one/assets/icons/Download_White.svg);
}

.downloadStatus {
  position: absolute;
  width: 90%;
  bottom: 12px;
  text-align: center;
  font-weight: 100;
}

.BlockOut {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.centralActionMain {
  position: absolute;
  width: 400px;
  height: 150px;
  border-radius: 5px;
  left: calc(50vw - 200px);
  top: calc(50vh - 150px);
  z-index: 10;
  font-size: 18px;
  padding: 15px 20px 0 20px;
  border: 1px solid #acacac;
  background: #fafafa;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32), 0 8px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32), 0 8px 40px rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dark-theme .centralActionMain {
  border: 1px solid #424242;
  color: #c5c5c5;
  background: #2f3136;
  -webkit-box-shadow: 0 4px 8px rgba(48, 48, 48, 0.32), 0 8px 40px rgba(48, 48, 48, 0.4);
          box-shadow: 0 4px 8px rgba(48, 48, 48, 0.32), 0 8px 40px rgba(48, 48, 48, 0.4);
}

.centralActionMain > input {
  position: absolute;
  top: calc(50% - 15px);
  left: 5%;
  width: 90%;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.centralActionMain > div {
  position: absolute;
  height: 30px;
  width: 80px;
  bottom: 12px;
  padding: 3px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.centralActionMain .AMAccept {
  right: 20px;
  background: #4285f4;
  border-radius: 2px;
}

.centralActionMain .AMAccept:hover {
  bottom: 13px;
}

.centralActionMain .AMCancel {
  right: 120px;
  color: black;
}

.dark-theme .centralActionMain .AMCancel {
  color: white;
}

.centralActionMain .AMCancel:hover {
  background: gainsboro;
}

.dark-theme .centralActionMain .AMCancel:hover {
  background: #4b505a;
}

.centralDirectoryInfoText {
  font-size: 15px;
  line-height: 22px;
  margin-top: 5px;
  padding: 3px;
  white-space: break-spaces;
  width: 100%;
  border-top: 1px solid #555;
}

.customTagsContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: calc(50vh + 15px);
  overflow-y: scroll;
  padding: 12px;
}

.customTagsTable {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 5px;
}

.customTagsTable tr {
  height: 34px;
}

.customTagsTable th {
  width: 100%;
  opacity: 0.8;
  font-size: 14px;
  font-weight: 100;
  font-family: inherit;
  padding-top: 8px;
}

.customTagsTable td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  height: 30px;
}

.customTagsTable td:nth-child(1) {
  padding-left: 5px;
  width: 80px;
  font-size: 15px;
  font-weight: 100;
}

.customTagsTable td:nth-child(2) {
  text-align: right;
}

.settingsInput {
  height: 28px;
  width: 100%;
  font-size: 14px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid var(--highlight-color);
  border-radius: 5px;
  text-align: left;
  background: none;
}

.dark-theme .settingsInput {
  color: #ccc;
}

.settingsInputHalf {
  width: 120px;
}

.spanOptionsContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 255px;
  border: 1px solid #aaa;
}

.SpanDropdownOption {
  width: 100%;
  height: 24px;
  font-size: 14px;
  padding: 2px 0 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background: #fafafa;
  color: #484848;
}

.dark-theme .SpanDropdownOption {
  background: #2f3136;
  color: #aaa;
}

.SpanDropdownOption:hover {
  background: gainsboro;
}

.dark-theme .SpanDropdownOption:hover {
  background: #4b505a;
}

.colorContainer {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 300px;
  width: 200px;
  top: calc(50vh - 150px);
  left: calc(50vw - 100px);
  padding: 6px;
  border-radius: 5px;
  color: #484848;
  -webkit-box-shadow: 0px 0px 5px #555;
          box-shadow: 0px 0px 5px #555;
  background: #eee;
  z-index: 999;
  cursor: all-scroll;
}

.dark-theme .colorContainer {
  color: white;
  background: #2f3136;
}

#closeColorPicker {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 4px;
  left: 10px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}

#acceptColorPicked {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 4px;
  right: 10px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}

.colorPickEntry {
  position: absolute;
  height: 26px;
  width: 86px;
  top: 5px;
  left: 57px;
  padding: 3px;
  border: none;
  text-align: center;
  background: transparent;
  border-bottom: 1px solid;
  color: #484848;
  font-size: 16px;
  font-weight: 500;
}

.dark-theme .colorPickEntry {
  color: white;
}

.colorOptionsContainer {
  position: absolute;
  height: 260px;
  width: 188px;
  bottom: 5px;
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.colorOptionsContainer > div {
  height: 29px;
  width: 29px;
  border-radius: 5px;
  margin: 4px;
  cursor: pointer;
}

.colorOptionsContainer > div:hover {
  border: 2px solid;
  border-radius: 4px;
}

.colorOptionsContainer > div.selectedCol {
  border: 3px solid;
  border-radius: 16px;
}

.displayImageLarge {
  position: absolute;
  max-height: 80vh;
  max-width: 80vw;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}

.displayTextContainer {
  position: absolute;
  height: 80vh;
  min-width: 400px;
  width: 34vw;
  border-radius: 5px;
  border: 1px solid #302f35;
  top: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  background: #f0f0f0;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32), 0 8px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32), 0 8px 40px rgba(0, 0, 0, 0.4);
}

.dark-theme .displayTextContainer {
  color: #c5c5c5;
  background: #1e1e23;
}

.displayTextTitle {
  position: relative;
  font-family: Noto Sans,Arial,sans-serif;
  width: 100%;
  height: 38px;
  padding: 9px 5px 5px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px dotted #5b616d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 100;
  background: #f0f0f0;
}

.dark-theme .displayTextTitle {
  color: #eee;
  background: #1e1e23;
}

.displayTextContent {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100% - 38px);
  padding: 15px;
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
  white-space: normal;
  overflow-y: auto;
  resize: none;
  border: none;
  outline: none;
}

.dark-theme .displayTextContent {
  color: #ddd;
  background: #1e1e23;
}

.securityEntry {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.securityEntry:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--highlight-color)), to(#30725d));
  background-image: linear-gradient(to bottom right, var(--highlight-color), #30725d);
}

.securityEntry > input {
  cursor: pointer !important;
  height: auto !important;
  padding: 2px 0px 6px 0 !important;
}

.itemLockIcon {
  padding: 9px 9px 9px 2px;
  font-size: 16px;
}

#rightClickContainer {
  display: none;
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 999;
  width: 180px;
  border-radius: 4px;
  padding: 6px 0px;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(180, 180, 180, 0.7);
          box-shadow: 0px 0px 10px 4px rgba(180, 180, 180, 0.7);
  background: #f0f0f0;
}

.dark-theme #rightClickContainer {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(20, 20, 20, 0.7);
          box-shadow: 0px 0px 10px 4px rgba(20, 20, 20, 0.7);
  background: #292b2f;
  color: #ddd;
}

#rightClickContainer li {
  font-size: 14px;
  font-family: 'Segoe UI';
  list-style: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#rightClickContainer li.Nano_SPLIT {
  margin: 6px;
  padding: 0;
  opacity: 0.4;
  border-top: 1px solid black;
  cursor: auto;
}

.dark-theme #rightClickContainer li.Nano_SPLIT {
  border-top: 1px solid whitesmoke;
}

#rightClickContainer :not(.nano_SPLIT):hover {
  background: #d3d3d3;
}

.dark-theme #rightClickContainer :not(.nano_SPLIT):hover {
  background: #6b779f;
  background: rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 600px) {
  .PagePanel {
    display: block !important;
  }
}

@media only screen and (max-width: 1000px) {
  .fileContainer {
    top: 82px;
  }
  .directoryLocationControls {
    top: 48px;
  }
  .DLCLeft {
    left: 82px;
  }
  #directoryLocation {
    top: 10px;
    left: 50px;
    width: calc(100% - 340px);
  }
}

@media only screen and (max-width: 800px) {
  #directoryLocation {
    left: 26px;
    width: calc(100% - 300px);
  }
  .DLCLeft {
    left: 55px;
  }
  .fileContainer {
    width: 100% !important;
    padding: 0 15px;
    height: calc(100% - 60px);
  }
  .fileInformation {
    background: #f1f1f1;
    z-index: 1;
  }
  .dark-theme .fileInformation {
    background-color: #1a1a1d;
  }
}

@media only screen and (max-width: 600px) {
  #databaseBackgroundMain {
    width: 100vw;
  }
  #directoryLocation {
    width: calc(100% - 100px);
    left: 22px;
    top: 26px;
  }
  .fileContainer {
    top: 65px;
  }
  .homepageSpanContainer {
    margin: 20px 0 0 0;
  }
  .ListContentTable th:nth-child(4) {
    display: none !important;
  }
  .ListContentTable th:nth-child(5) {
    display: none !important;
  }
  .ListContentTable td:nth-child(4) {
    display: none !important;
  }
  .ListContentTable td:nth-child(5) {
    display: none !important;
  }
  .placeholder {
    height: 40px;
    width: 200px;
    background: red;
    border: 5px solid blue;
  }
  .directoryLocationControls {
    position: fixed;
    height: 40px;
    min-width: 100%;
    top: calc(100% - 40px);
    left: 0;
    background: #e9e9e9;
    -webkit-box-shadow: -5px 0px 5px 0 #555;
            box-shadow: -5px 0px 5px 0 #555;
    z-index: 20;
  }
  .dark-theme .directoryLocationControls {
    background-color: #202028;
  }
  .directoryLocationControls #displayLeftBar {
    display: block !important;
  }
  .directoryLocationControls #displaySideBar {
    display: block !important;
  }
  .fileInformation {
    height: calc(100% - 40px);
  }
  .fileInformationSideBar {
    display: none;
  }
  .PagePanel {
    display: none;
    height: calc(100% - 40px);
  }
}

@media only screen and (max-width: 500px) {
  .centralActionMain {
    width: 90%;
    left: 5%;
  }
  .ListContentTable th:nth-child(3) {
    display: none !important;
  }
  .ListContentTable td:nth-child(3) {
    display: none !important;
  }
  .Item > img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*# sourceMappingURL=drive.css.map */