:root {
  --highlight-color:  #18ec58;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI';
}

.placeholder::-webkit-input-placeholder {
  color: #555555;
  font-size: 14px;
}

.placeholder:-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
}

.placeholder::-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
}

.placeholder::placeholder {
  color: #555555;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background: rgba(130, 130, 130, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 130, 130, 0.8);
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  height: 100%;
  background: #212121;
}

.MapContainer {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 400px;
  height: 400px;
}

.Map3d {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-18deg) rotateY(-36deg) rotateZ(0deg);
          transform: rotateX(-18deg) rotateY(-36deg) rotateZ(0deg);
}

.Map3d .point {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
}

.MapFace {
  position: absolute;
  border: 1px solid #2a2a2a;
}

.MapFace--Bottom {
  height: 400px;
  width: 400px;
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 200px);
          transform: rotateX(-90deg) translate3d(0, 0, 200px);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(-18deg) rotateY(0deg);
            transform: rotateX(-18deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(-18deg) rotateY(360deg);
            transform: rotateX(-18deg) rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(-18deg) rotateY(0deg);
            transform: rotateX(-18deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(-18deg) rotateY(360deg);
            transform: rotateX(-18deg) rotateY(360deg);
  }
}

.Map3d {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loginBackground {
  height: 100%;
  width: 100%;
  background-image: url(https://drive.nanode.one/assets/svg/loginBackgroundLight.svg);
  background-color: #fff;
}

.dark-theme .loginBackground {
  background-color: #121214;
  background-image: url(https://drive.nanode.one/assets/svg/loginBackgroundDark.svg);
}

.mainLoginContainer {
  position: absolute;
  height: 380px;
  width: 500px;
  top: calc(50vh - 190px);
  left: calc(50vw - 250px);
  color: #0c0c0c;
  background-color: #f6f6f6;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.dark-theme .mainLoginContainer {
  color: #fff;
  background-color: #151517;
  -webkit-box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.mainLoginContainer .MainTitle {
  font-weight: 600;
  line-height: 30px;
  color: #4d4b4b;
  margin-top: 1rem;
}

.dark-theme .mainLoginContainer .MainTitle {
  color: #ececec;
}

.mainLoginContainer .SecondaryTitle {
  color: #999;
  font-size: 15px;
  line-height: 20px;
  margin: 0.5rem;
}

.mainLoginContainer span {
  margin-right: 3px;
  font-size: 13px;
  font-weight: 100;
  opacity: 0.5;
}

.mainLoginContainer button {
  display: inline-block;
  border: none;
  color: #7185c4;
  background: transparent;
  cursor: pointer;
}

.mainLoginContainer button:hover {
  text-decoration: underline;
}

form {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.25rem 5%;
  font-size: 12px;
  color: #fff;
}

form .InputTitle {
  color: #c5c5c5;
  margin: 6px 0;
  font-size: 16px;
  text-align: left;
}

form .InputTitle p {
  display: inline-block;
  font-size: 12px;
  padding: 0 1rem;
  color: #d60000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

form .InputTitle i {
  font-size: 12px;
  color: #f04747;
}

form .TextInput {
  height: 44px;
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  font-size: 15px;
  color: black;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
  border-bottom: 1px solid var(--highlight-color);
  border-radius: 3px;
}

.dark-theme form .TextInput {
  color: #fff;
}

form .TextInput::-webkit-input-placeholder {
  font-size: 15px;
  opacity: 0.6;
}

form .TextInput:-ms-input-placeholder {
  font-size: 15px;
  opacity: 0.6;
}

form .TextInput::-ms-input-placeholder {
  font-size: 15px;
  opacity: 0.6;
}

form .TextInput::placeholder {
  font-size: 15px;
  opacity: 0.6;
}

form .TextInput:focus {
  border: 1px solid var(--highlight-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-theme form .TextInput:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

form .ButtonInput {
  height: 40px;
  width: 100%;
  margin: 1rem 0;
  font-size: 15px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  border-radius: 5px;
  color: #eeeeee;
  background-color: transparent;
  border: 1px solid var(--highlight-color);
  cursor: pointer;
  -webkit-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}

form .ButtonInput:hover {
  background-color: var(--highlight-color);
}

.HomeSection {
  position: relative;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

.NanodeLogo {
  position: absolute;
  max-width: 500px;
  width: 50%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.NanodeFade {
  position: absolute;
  max-width: 700px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-filter 1.5s ease-in-out 0s;
  transition: -webkit-filter 1.5s ease-in-out 0s;
  transition: filter 1.5s ease-in-out 0s;
  transition: filter 1.5s ease-in-out 0s, -webkit-filter 1.5s ease-in-out 0s;
}

.NanodeVersion {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #cccdd2;
  font-family: monospace;
  text-align: center;
  opacity: 0.6;
}

.NanoPCB {
  position: absolute;
  height: 30vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.PCBInfo {
  position: absolute;
  width: 300px;
  color: whitesmoke;
  font-family: 'Segoe UI';
  font-weight: 100;
  overflow-wrap: break-word;
}

.PCBInfo h2 {
  font-weight: 400;
}

.PCBInfo h5 {
  font-weight: 400;
  font-size: 14px;
}

.PCBInfo p {
  font-size: 13px;
  opacity: 0.6;
}

.PCBInfo.PCBIEncrypt {
  top: 10%;
  left: 60%;
}

.PCBInfo.PCBIEncrypt h2 {
  color: #1ce20f;
}

.PCBInfo.PCBIAccess {
  top: 41%;
  left: 70%;
}

.PCBInfo.PCBIAccess h2 {
  color: #ef00ff;
}

.PCBInfo.PCBISecurity {
  top: 25%;
  left: 12%;
}

.PCBInfo.PCBISecurity h2 {
  color: #00ffff;
}

.PCBInfo.PCBIShare {
  top: 62%;
  left: 16%;
}

.PCBInfo.PCBIShare h2 {
  color: #ff2300;
}

.PCBInfo.PCBIScale {
  top: 72%;
  left: 64%;
}

.PCBInfo.PCBIScale h2 {
  color: #ff9900;
}

.NanoFlow {
  position: absolute;
  height: 80vh;
  top: 10vh;
  left: 25%;
}

.NanoFlowText {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: 35vh;
  right: 15%;
}

.NanoHome {
  position: absolute;
}

.NanoHome > h3 {
  position: absolute;
  font-family: monospace;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.NanoHome > img {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.NanoHome > svg {
  height: 50px;
  width: 50px;
  background-image: url(https://nanode.one/assets/Nanode/Corner.svg);
}

.NanoHome.NHT {
  height: 2px;
  width: 80px;
  top: 20px;
  left: calc(50% - 40px);
  background-image: url(https://nanode.one/assets/Nanode/NanodeTB.svg);
}

.NanoHome.NHB {
  height: 2px;
  width: 80px;
  bottom: 20px;
  left: calc(50% - 40px);
  background-image: url(https://nanode.one/assets/Nanode/NanodeTB.svg);
}

.NanoHome.NHL {
  height: 350px;
  width: 40px;
  top: calc(50% - 175px);
  left: -2px;
  background-image: url(https://nanode.one/assets/Nanode/NanodeLR.svg);
}

.NanoHome.NHR {
  height: 350px;
  width: 40px;
  top: calc(50% - 175px);
  right: 0;
  background-image: url(https://nanode.one/assets/Nanode/NanodeLR.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.NanoHome.NHC {
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.NanoHome.NHC img {
  width: 36px;
}

.NanoHome.NHC svg {
  position: absolute;
}

.NanoHome.NHC.NHTLC {
  top: 20px;
  left: 20px;
  -webkit-filter: invert(49%) sepia(48%) saturate(842%) hue-rotate(172deg) brightness(113%) contrast(92%);
          filter: invert(49%) sepia(48%) saturate(842%) hue-rotate(172deg) brightness(113%) contrast(92%);
}

.NanoHome.NHC.NHTLC h3 {
  left: 60px;
  top: -8px;
}

.NanoHome.NHC.NHTLC img {
  left: 16px;
  top: 16px;
}

.NanoHome.NHC.NHTRC {
  top: 20px;
  right: 20px;
  -webkit-filter: invert(75%) sepia(76%) saturate(4594%) hue-rotate(78deg) brightness(112%) contrast(128%);
          filter: invert(75%) sepia(76%) saturate(4594%) hue-rotate(78deg) brightness(112%) contrast(128%);
}

.NanoHome.NHC.NHTRC svg {
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.NanoHome.NHC.NHTRC h3 {
  right: 60px;
  top: -8px;
  color: #404040;
}

.NanoHome.NHC.NHTRC img {
  right: 16px;
  top: 16px;
}

.NanoHome.NHC.NHBLC {
  z-index: 5;
  bottom: 20px;
  left: 20px;
  -webkit-filter: invert(30%) sepia(95%) saturate(6921%) hue-rotate(349deg) brightness(111%) contrast(106%);
          filter: invert(30%) sepia(95%) saturate(6921%) hue-rotate(349deg) brightness(111%) contrast(106%);
}

.NanoHome.NHC.NHBLC svg {
  bottom: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.NanoHome.NHC.NHBLC h3 {
  left: 60px;
  bottom: -4px;
}

.NanoHome.NHC.NHBLC img {
  left: 16px;
  bottom: 16px;
}

.NanoHome.NHC.NHBRC {
  bottom: 20px;
  right: 20px;
  -webkit-filter: invert(48%) sepia(41%) saturate(3683%) hue-rotate(236deg) brightness(98%) contrast(90%);
          filter: invert(48%) sepia(41%) saturate(3683%) hue-rotate(236deg) brightness(98%) contrast(90%);
}

.NanoHome.NHC.NHBRC svg {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.NanoHome.NHC.NHBRC h3 {
  right: 60px;
  bottom: -4px;
}

.NanoHome.NHC.NHBRC img {
  right: 16px;
  bottom: 16px;
}

.settingsCover {
  position: absolute;
  height: -webkit-fill-available;
  bottom: 0;
  width: 100%;
}

.settingsContainer {
  position: fixed;
  height: 100%;
  width: 300px;
  left: -300px;
  top: 0;
  padding: 20px 10px 20px 20px;
  font-family: 'Helvetica';
  background: #1a1a1d;
  color: #d3d1da;
  -webkit-box-shadow: 0px 0px 10px 0px #050505;
          box-shadow: 0px 0px 10px 0px #050505;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 4;
  -webkit-transition: left 0.8s ease-in-out;
  transition: left 0.8s ease-in-out;
}

.settingsContainer .settingsWrapper {
  height: calc(100% - 130px);
  padding-right: 10px;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.settingsContainer .settingsWrapper::-webkit-scrollbar {
  width: 5px;
}

.settingsContainer .settingsWrapper::-webkit-scrollbar-thumb {
  background: #1d1d20;
  border-radius: 0px;
}

.settingsContainer .settingsWrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 53, 53, 0.8);
}

.settingsContainer h6 {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 26px;
  z-index: 15;
  width: 80%;
  text-align: center;
  text-shadow: 0 0 20px black;
  color: #c8c8dc;
  font-weight: 400;
}

.settingsContainer h2 {
  color: #fd1422;
  font-size: 24px;
  font-weight: 400;
  margin: 4px 0 8px 0;
}

.settingsContainer h4 {
  color: #ccccdd;
  font-size: 16px;
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid #505050;
}

.settingsContainer h5 {
  color: #c8c8dc;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.settingsContainer span {
  color: #c8c8dc;
  font-size: 15px;
  font-weight: 400;
  display: block;
  margin: 12px 0;
  font-variant: all-petite-caps;
}

.settingsContainer input {
  height: 28px;
  width: 100%;
  margin: 7px 0px;
  padding: 8px;
  border-radius: 5px;
  background: #141416;
  border: none;
  border-bottom: 1px solid #ff1422;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: white;
}

.settingsContainer input[type=button]:hover {
  background: #ff1422;
}

.settingsContainer input.SW_Selected {
  border: 1px solid #ff1422 !important;
}

.settingsContainer input.SWBtnOne {
  border: none;
  padding: 2px;
  cursor: pointer;
}

.settingsContainer input.SWBtnTwo {
  width: 46%;
  margin: 2%;
  padding: 2px;
  cursor: pointer;
  border: none;
}

.settingsContainer input.SWBtnThree {
  width: 31%;
  margin: 1%;
  padding: 2px;
  cursor: pointer;
  border: none;
}

.settingsContainer a {
  color: #0ac8fa;
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.settingsContainer a:hover {
  text-decoration: underline;
  opacity: 1;
}

@-webkit-keyframes arrowBounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrowBounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (max-width: 1200px) {
  .NanoPCB {
    left: 30%;
  }
  .Sec2 {
    height: auto;
  }
  .PCBText {
    position: inherit;
    width: calc(45% - 80px);
    left: 55%;
  }
  .PCBText .PCBInfo {
    margin: 30px 0;
    position: initial;
    width: 100%;
  }
  .PCBText .PCBInfo.PCBIEncrypt {
    top: 5%;
  }
  .PCBText .PCBInfo.PCBISecurity {
    top: 33%;
  }
  .PCBText .PCBInfo.PCBIAccess {
    top: 56%;
  }
  .PCBText .PCBInfo.PCBIShare {
    top: 80%;
  }
  .PCBText .PCBInfo.PCBIScale {
    top: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .NHL {
    display: none;
  }
  .NHR {
    display: none;
  }
  .NanodeFade {
    min-width: 80vw;
  }
  .NanoPCB {
    display: none;
  }
  .PCBText {
    width: 80vw;
    left: 10%;
  }
}

@media only screen and (max-width: 800px) {
  .NanoFlow {
    height: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -18%);
            transform: translate(-50%, -18%);
  }
  .NanoFlowText {
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 600px) {
  .mainLoginContainer {
    height: 380px;
    width: 90%;
    top: calc(50% - 190px);
    left: 5%;
  }
  .loginSecondaryTitle {
    margin-bottom: 16px;
  }
  .NanodeFade {
    min-width: 95vw;
  }
  .NHC > img {
    display: none;
  }
  .Sec3 {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .NHT {
    display: none;
  }
  .NHB {
    display: none;
  }
  .NanodeVersion {
    bottom: 50px;
  }
  .NanoPCB {
    display: block;
    height: 40%;
    left: 50%;
    opacity: 0.05;
  }
}
/*# sourceMappingURL=master.css.map */