@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --highlight-color: #2570d6;
  --rich-blue: #4285f4;
  --rich-blue-faded: #4285f433;
  --folder: #ffca28;
  --red: #ff453a;
  --green: #0bc30b;
  --light-green: #33c357;
  --orange: #d88a1e;
  --purple: #a266e7;
  --text-white: #f5f6f7;
}

[data-theme=light] {
  --background: #fafafa;
  --frame: #666;
  --component: #e8e9eb;
  --feature: #ccc;
  --highlight: #f2f2f2;
  --selected: #aeaeae;
  --text-contrast: #f5f5f7;
  --text-dull: #666;
  --text-medium: #333;
  --text-strong: #1d1d1f;
}

@font-face {
  font-family: "gr-bold";
  src: url("/assets/fonts/gr-bold.woff2") format("woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Inter','Segoe UI';
}

html {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  background: var(--background);
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  height: 100%;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nanode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  margin: 1em 2em;
  text-decoration: none;
  z-index: 3;
}

.nanode > span {
  font-family: 'gr-bold';
  font-size: 19px;
  letter-spacing: 1.5px;
  line-height: 20px;
  color: var(--text-strong);
}

.nanode > span > p {
  font-size: 13px;
  line-height: 16px;
  font-family: 'gr-bold';
  color: var(--highlight-color);
}

.nanode > div {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: url("https://nanode.one/assets/nanode/logo/black.svg") no-repeat center transparent;
  background-size: 20px;
  border: 1px solid var(--text-strong);
}

.NanodeInfo {
  position: absolute;
  bottom: 1em;
  left: 2em;
  font-size: 11px;
  color: var(--text-dull);
}

.DevSelector {
  width: 300px;
  padding-top: 1em;
  overflow: hidden;
}

.DevSelector > div.DevList {
  padding: 0 30px;
  list-style: none;
  font-size: 14px;
}

.DevSelector > div.DevList > div.divide {
  border-bottom: 1px solid var(--frame);
  height: 1px;
  margin: 10px 0;
}

.DevSelector > div.DevList > p {
  margin: 2em 0 0.5em 0;
  font-family: 'gr-bold';
  letter-spacing: 0.1em;
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.DevSelector > div.DevList > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4em 1em;
  margin: 0.2em 0;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-dull);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color .125s, background-color .125s;
  transition: color .125s, background-color .125s;
}

.DevSelector > div.DevList > li > a.DLSelected, .DevSelector > div.DevList > li > a:hover {
  opacity: 1 !important;
  color: var(--text-strong);
  background: var(--component);
}

.DevContent {
  overflow: auto;
  margin-right: 5px;
}

.ContentWrapper {
  padding: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ContentWrapper section {
  border-top: 1px solid var(--frame);
}

.ContentWrapper section:nth-child(n+3) {
  margin: 3em 0;
}

.ContentWrapper h1 {
  margin-bottom: 0.5em;
  padding-top: 1em;
  font-size: 40px;
  font-weight: 600;
}

.ContentWrapper h2 {
  font-size: 32px;
  font-weight: 500;
  padding-top: 1em;
  letter-spacing: -0.02em;
}

.ContentWrapper h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  padding-top: 1em;
  color: var(--text-medium);
}

.ContentWrapper h4 {
  font-weight: 600;
  padding-top: 1em;
  color: var(--text-medium);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  border-bottom: 2px solid var(--rich-blue);
}

.ContentWrapper h5 {
  display: inline-block;
  font-size: 16px;
  color: inherit;
  font-weight: 700;
  letter-spacing: 0;
}

.ContentWrapper h6 {
  color: var(--orange);
  font-size: 13px;
  display: inline-block;
  word-break: break-all;
}

.ContentWrapper b {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  font-size: 14px;
}

.ContentWrapper sub {
  font-size: 14px;
  color: var(--text-dull);
}

.ContentWrapper pre {
  padding: 20px;
}

.ContentWrapper pre h6 {
  font-size: 13px;
  color: #34a56c;
}

.ContentWrapper pre.smallPre {
  padding: 5px;
}

.ContentWrapper a {
  display: inline-block;
  color: var(--highlight-color);
  opacity: 0.8;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.ContentWrapper a:hover {
  text-decoration: underline;
  opacity: 1;
}

.ContentWrapper code {
  display: inline-block;
  padding: 0.1em 0.5em;
  border-radius: 3px;
  font-family: monospace;
  font-size: 13px;
  color: var(--text-dull);
  background: var(--component);
}

.ContentWrapper code.fullWidth {
  display: block;
}

.ContentWrapper span {
  display: block;
  font-size: 16px;
  margin: 0.5em 0 0.75em 0;
}

.ContentWrapper div {
  border: 1px solid #e0e0e0;
  background: #f2f2f2;
  margin: 1.5em 0;
  padding: 1em;
  border-radius: 5px;
  font-size: 14px;
}

.ContentWrapper div > strong {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 1px;
}

.ContentWrapper ul {
  margin-top: 1em;
  list-style: inside;
}

.ContentWrapper ul li {
  margin: 0.5em 0 0 1em;
  color: var(--text-medium);
  font-size: 15px;
}

.ContentWrapper ul span {
  padding-left: 40px;
}

.ContentWrapper ul img {
  max-height: 360px;
  max-width: 360px;
  cursor: pointer;
}

.ContentWrapper img {
  margin: 20px 0;
  border-radius: 10px;
}

.ContentWrapper table {
  max-width: 1200px;
  width: 100%;
  margin: 1em 0;
  border-radius: 8px;
}

.ContentWrapper table thead > tr {
  -webkit-box-shadow: 0 1px var(--frame);
          box-shadow: 0 1px var(--frame);
  height: 2em;
}

.ContentWrapper table thead > tr th {
  min-width: 50px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: var(--text-medium);
}

.ContentWrapper table tbody > tr {
  height: 45px;
  -webkit-box-shadow: 0 1px var(--component);
          box-shadow: 0 1px var(--component);
}

.ContentWrapper table tbody > tr td {
  text-align: left;
  font-size: 15px;
  color: var(--text-dull);
}

.ContentWrapper table tbody > tr td t:after {
  padding-right: 0px;
}

.ContentWrapper table tbody > tr td x:after {
  color: var(--red);
  content: '\2718';
}

.ContentWrapper table tbody > tr td super {
  vertical-align: super;
  font-size: 11px;
  padding-left: 4px;
}

.ContentWrapper table.VoidPlans th:nth-child(n+3) {
  width: 85px;
}

.ContentWrapper table.VoidCompare th:nth-child(n+2) {
  width: 250px;
}

.ContentWrapper table.VoidCompare td {
  text-align: center;
}

.ContentWrapper table.VoidCompare td:nth-child(1) {
  width: 250px;
  font-variant: all-petite-caps;
  background: var(--text-contrast);
}

t:after {
  padding-right: 6px;
  content: '\2714';
  color: var(--rich-blue);
}

.no-border {
  border: none !important;
}

.small-link {
  font-size: 14px;
  padding-left: 0.25em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--feature);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--selected);
}

.Loading_Dual_Ring {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 13px);
}

.Loading_Dual_Ring:after {
  content: " ";
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 4px solid var(--text-strong);
  border-color: var(--text-strong) transparent var(--text-strong) transparent;
  -webkit-animation: dual-ring 1.2s linear infinite;
          animation: dual-ring 1.2s linear infinite;
}

@-webkit-keyframes dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.Loading_Bars {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 15px);
}

.Loading_Bars > div {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 6px;
  border-radius: 5px;
  background: var(--text-strong);
  -webkit-animation: bars 1s infinite;
          animation: bars 1s infinite;
}

.Loading_Bars > div:nth-child(2) {
  left: 16px;
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.Loading_Bars > div:nth-child(3) {
  left: 32px;
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

@-webkit-keyframes bars {
  0% {
    top: 6px;
    height: 36px;
  }
  100% {
    top: 12px;
    height: 18px;
  }
}

@keyframes bars {
  0% {
    top: 6px;
    height: 36px;
  }
  100% {
    top: 12px;
    height: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  .DevSelector {
    width: 160px;
  }
  .DevSelector .NanodeLogo {
    height: 30px;
    width: 30px;
    top: 20px;
    left: calc(50% - 20px);
    margin-right: 5px;
    background: url(/assets/logo/Nanode_Light.svg) no-repeat;
    -webkit-filter: hue-rotate(60deg);
            filter: hue-rotate(60deg);
  }
  .DevSelector .NanodeLogo img {
    display: none;
  }
  .DevSelector .NanodeLogo p {
    display: none;
  }
  .DevSelector .DevList {
    width: 150px;
    top: 60px;
    padding: 0 10px;
  }
  .DevSelector .DevList li {
    font-size: 15px;
    margin: 6px 0;
  }
  .DevContent {
    width: calc(100vw - 160px);
  }
}
/*# sourceMappingURL=dev.css.map */