:root {
  --highlight-color: #2570d6; //#99ccff
  --rich-blue: #4285f4;
  --rich-blue-faded: #4285f433;

  --folder: #ffca28;
  --red: #ff453a;
  --green: #0bc30b;
  --light-green: #33c357;
  --orange: #d88a1e;
  --purple: #a266e7;
  
  --text-white: #f5f6f7;
}

[data-theme = light] {
  --background: #fafafa;

  --frame: #666;
  --component: #e8e9eb;

  --feature: #ccc;
  --highlight: #f2f2f2;
  --selected: #aeaeae; 
  
  --text-contrast: #f5f5f7;
  --text-dull: #666;
  --text-medium: #333;
  --text-strong: #1d1d1f;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: "gr-bold";
  src: url("/assets/fonts/gr-bold.woff2") format("woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter','Segoe UI';
}

html {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  background: var(--background);
}

body {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100vh;

  height: 100%;

  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

//////////////////////////// DEV PORTAL ////////////////////////////
//////////////////////////// DEV PORTAL ////////////////////////////
//////////////////////////// DEV PORTAL ////////////////////////////

.nanode {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 1em 2em;
  text-decoration: none;
  z-index: 3;
  
  >span {
    font-family: 'gr-bold';
    font-size: 19px;
    letter-spacing: 1.5px;
    line-height: 20px;
    color: var(--text-strong);
    >p {
      font-size: 13px;
      line-height: 16px;
      font-family: 'gr-bold';
      color: var(--highlight-color);
    }
  }
  
  > div {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: url('https://nanode.one/assets/nanode/logo/black.svg') no-repeat center transparent;
    background-size: 20px;
    border: 1px solid var(--text-strong);
  }
}

.NanodeInfo {
  position: absolute;
  bottom: 1em;
  left: 2em;
  font-size: 11px;
  color: var(--text-dull);
}


.DevSelector {
  width: 300px;
  padding-top: 1em;
  overflow: hidden;

  >div.DevList {
    padding: 0 30px;
    list-style: none;
    font-size: 14px;
  
    >div.divide {
      border-bottom: 1px solid var(--frame);
      height: 1px;
      margin: 10px 0;
    }
  
    >p {
      margin: 2em 0 0.5em 0;
      font-family: 'gr-bold';
      letter-spacing: 0.1em;
      font-size: 13px;
      user-select: none;
    }
  
    >li>a {
        display: flex;
        padding: 0.4em 1em;
        margin: 0.2em 0;
        border-radius: 5px;
        text-decoration: none;
        color: var(--text-dull);
        
        cursor: pointer;
        user-select: none;
        transition: color .125s, background-color .125s;
  
        &.DLSelected,&:hover {
          opacity: 1 !important;
          color: var(--text-strong);
          background: var(--component);
        }
      }
  }
}




.DevContent {
  overflow: auto;
  margin-right: 5px;
}

.ContentWrapper {
  padding: 1.5em;
  box-sizing: border-box;
  // font-family: 'Helvetica';

  & section {
    &:nth-child(n+3) {margin: 3em 0;}
    border-top: 1px solid var(--frame);
  }

  & h1 { 
    margin-bottom: 0.5em;
    padding-top: 1em;
    font-size: 40px;
    font-weight: 600;
  }
  & h2 { 
    font-size: 32px;
    font-weight: 500;
    padding-top: 1em;
    letter-spacing: -0.02em;
  }
  & h3 { 
    width: fit-content;
    font-weight: 600;
    padding-top: 1em;
    color: var(--text-medium);
  }
  & h4 { 
    font-weight: 600;
    padding-top: 1em;
    color: var(--text-medium);
    width: fit-content;
    font-size: 15px;
    border-bottom: 2px solid var(--rich-blue);
  }
  & h5 {
    display: inline-block;
    font-size: 16px;
    color: inherit;
    font-weight: 700;
    letter-spacing: 0;
  }
  & h6 { 
    color: var(--orange); // #feea00
    font-size: 13px;
    display: inline-block;
    word-break: break-all;
  }

  & b {
    display: grid;
    padding: 10px;
    font-size: 14px;
  }
  & sub { 
    font-size: 14px;
    color: var(--text-dull);
  }

  & pre {
    padding: 20px;
    & h6 {
      font-size: 13px;
      color: #34a56c;
    }
    &.smallPre {
      padding: 5px;
    }
  }
  & a { 
    display: inline-block;
    color: var(--highlight-color);
    opacity: 0.8;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
  & code { 
    display: inline-block;
    padding: 0.1em 0.5em;
    border-radius: 3px;
    font-family: monospace;
    font-size: 13px;
    color: var(--text-dull);
    background: var(--component);

    &.fullWidth {
      display: block;
    }
  }
  & span {
    display: block;
    font-size: 16px;
    margin: 0.5em 0 0.75em 0;
  }
  & div { 
    >strong {
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 1.6;
      letter-spacing: 1px;
    }
    border: 1px solid #e0e0e0;
    background: #f2f2f2;
    margin: 1.5em 0;
    padding: 1em;
    border-radius: 5px;
    font-size: 14px;
  }
  & ul { 
    margin-top: 1em;
    list-style: inside;

    & li { 
      margin: 0.5em 0 0 1em;
      color: var(--text-medium);
      font-size: 15px;
    }
    & span {
      padding-left: 40px;
    }
    & img {
      max-height: 360px;
      max-width: 360px;
      cursor: pointer;
    }
  }

  & img {
    margin: 20px 0;
    border-radius: 10px;
  }

  & table { 
    max-width: 1200px;
    width: 100%;
    margin: 1em 0;
    border-radius: 8px;

    thead > tr {
      box-shadow: 0 1px var(--frame);
      height: 2em;

      & th {
        min-width: 50px;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        color: var(--text-medium);
      }
    }

    tbody > tr {
      height: 45px;
      box-shadow: 0 1px var(--component);

      & td {
        text-align: left;
        font-size: 15px;
        color: var(--text-dull);

        & t:after {
          padding-right: 0px;
        }
        & x:after {
          color: var(--red);
          content: '\2718';
        }
        & super {
          vertical-align: super;
          font-size: 11px;
          padding-left: 4px
        }
      }
    }

    
    &.VoidPlans th:nth-child(n+3) { width: 85px; }
    &.VoidCompare th:nth-child(n+2) { width: 250px; }
    &.VoidCompare td {
      text-align: center;
      &:nth-child(1) {
        width: 250px;
        font-variant: all-petite-caps;
        background: var(--text-contrast);
      }
    }
  }
}


t:after {padding-right: 6px;content: '\2714';color: var(--rich-blue);}
.no-border { border: none !important; }
.small-link { font-size: 14px; padding-left: 0.25em; }


::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: var(--feature); border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: var(--selected) }


// Loading
.Loading_Dual_Ring {
  position:absolute;
  top: calc(50% - 35px);
  left: calc(50% - 13px);
  &:after {
    content: " ";
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 4px solid var(--text-strong);
    border-color: var(--text-strong) transparent var(--text-strong) transparent;
    animation: dual-ring 1.2s linear infinite;
  }
  
  @keyframes dual-ring {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
}

.Loading_Bars {
  position:absolute;
  top: calc(50% - 38px);
  left: calc(50% - 15px);

  >div {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 6px;
    border-radius: 5px;
    background: var(--text-strong);
    animation: bars 1s infinite;
    &:nth-child(2) {
      left: 16px;
      animation-delay: 0.12s;
    }
    &:nth-child(3) {
      left: 32px;
      animation-delay: 0.24s;
    }
  }

  @keyframes bars {
    0% {top: 6px; height: 36px;}
    100% {top: 12px; height: 18px;}
  }
}

///////////////////////////////////////////////

@media only screen and (max-width: 1000px) {
  .DevSelector {
    width: 160px;

    .NanodeLogo {
      height: 30px;
      width: 30px;
      top: 20px;
      left: calc(50% - 20px);
      margin-right: 5px;
      background: url(/assets/logo/Nanode_Light.svg) no-repeat;
      filter: hue-rotate(60deg);

      img { display: none; }
      p {display: none}
    }

    .DevList {
      width: 150px;
      top: 60px;
      padding: 0 10px;
      li {
        font-size: 15px;
        margin: 6px 0;
      }
    }
  }
  .DevContent {
    width: calc(100vw - 160px);
  }
}