<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <title>My Account</title>
    <meta charset="UTF-8">
    <meta name='HandheldFriendly' content="True">
    <meta name='MobileOptimized' content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://nanode.one/">
    <meta name="description" content="View your Account Information, Settings and Security">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/nanode/logo/block.svg" alt='Nanode'/>
    <meta name="image" content="https://nanode.one/assets/nanode/logo/block.svg">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/nanode/logo/block.svg">
    
    <link rel="stylesheet" type="text/css" href="/css/Account/account.css">
    
    <script text="text/javascript" src="../JS/account/account.js" defer></script>
  </head>

  <body class='accountBackground'>

    <img src='/assets/homepage/login_left.svg'>
    <img src='/assets/homepage/login_right.svg'>

    <a href="https://nanode.one" class="nanode"><div></div>Nanode</a>
    
    
    <div class='infoContainer'>
      
      <section class='userProfile'>
        <!-- <video autoplay loop src="/assets/nanode/logo/video/131618.mp4" style="place-self: center;"></video> -->
        <h1>Welcome, Account Name</h1>
        <div class='sectionRight'><button class='signout'>Signout</button></div>
      </section>

      <section class='userInfo'> <!-- User Information -->
        <form>
          <div>
            <label for="uUsername">Username</label>
            <input type="text">
          </div>
          <div>
            <label for="uEmail">Email</label>
            <input type="email" disabled>
          </div>
          <div>
            <label for="uPassword">Password</label>
            <input type="password" disabled>
            <p>Change Password</p>
            <!-- <input type="button" value='Change Password'> -->
          </div>
        </form>

        <form>
          <div>
            <select id='countrySelect' name="country">
              <option value="">Country...</option>
            </select>

          </div>
        </form>
      </section>

      <section class='TwoFA'> <!-- 2FA -->        
        <h3>Enable Two-factor authentication to prevent unwanted access.</h3>
        <div class='sectionRight'><button class='FA_Enable'>Enable</button></div>
      </section>

      <section class='userStorage'> <!-- Storage -->
        <span>
          <div class='progress'>
            <div class='usage_4' style='width: 23%;'></div>
            <div class='usage_3' style='width: 14%;'></div>
            <div class='usage_2' style='width: 8%;'></div>
            <div class='usage_1' style='width: 7%;'></div>
          </div>
          <p>0 / 10 GB</p>
          <div class='sectionRight'><button class='storageUpgrade'>Upgrade</button></div>
        </span>

        <div class='storageBreakdown'>
          <ul>
            <li><p>Storage Breakdown</p></li>
            <li><span> 
              <div><div class='sB_Images'></div><p>Images</p></div> 
              <p>2.3GB</p>
            </span></li>
          </ul>
        </div>
      </section>

      <section class='userConnected'> <!-- Connected -->
        <span>
          <p>Last Login: </p>
          <div class='sectionRight'><button class='lockAccount'>Lock Account</button></div>
          <!-- If account locked, set a span at the top of a page with 'Unlock Account' -> Sends email to user to unlock -->
        </span>
        <div>Connected Devices</div>
      </section>

      <section class='userInformation'>
        <h2>Nanode Policy</h2>
        <p>All information known by Nanode is strictly protected and limited to only that which provides additional security and account identification. No information known by Nanode will ever be sold, shared or distributed.</p>
        <p>By using Nanode, you agree to the usage and storage of cookies on your device, these cookies are strictly to provide identification for your account and detect legitimate usage.</p>
        <p>In no way does Nanode own or have responsibility for user content uploaded to it's servers, this includes the sharing or distribution of content via exploit or link.</p>

        <span><p>Nanode is still in development.</p> <p>Alpha 3.6.0 - 11/07/2021</p></span>
      </section>
  
    </div>

  </div>
  </body>
</html>