<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Design History</title>
    <meta charset="UTF-8">
    <meta name='HandheldFriendly' content="True">
    <meta name='MobileOptimized' content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://nanode.one/">
    <meta name="description" content="Explore the various designs and assets used throughout the development of Nanode">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/logo/logo_green.svg" alt='Nanode'/>
    <meta name="image" content="https://nanode.one/assets/logo/logo_green.svg">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/logo/logo_green.svg">
    
    <link rel="stylesheet" href="/CSS/dev/dev.css">

    <!-- <script text="text/javascript" src="../JS/drive/tools.js" defer></script>
    <script text="text/javascript" src="../JS/site/design.js" defer></script> -->
  </head>
  <body class='DesignPage DesignPageRevamp'>

    <!-- <div class='PageHeader' style="flex-direction: column;">
      <a href="//nanode.one"><img src="https://nanode.one/assets/logo/logo_green.svg" alt="Nanode"></a>
      <div class='Switch SW_Designs'>
        <div class='Slider SL_Designs'></div>
        <div swOpPos=1 class='SwitchSelected'>All</div>
        <div swOpPos=2>Drive</div>
        <div swOpPos=3>Posters</div>
      </div>
    </div> -->
    
    <div class='ImageGridColumn'>
      <div class='ImgColumn'>
        <img loading='lazy' src="/assets/designs/drive/01_01_2021.png" alt="">
          <img loading='lazy' src='/assets/designs/logos/Two_Way.svg'>
          <img loading='lazy' src='/assets/designs/poster/Nanode Poster 1280x640.png'>
          <img loading='lazy' src='/assets/designs/logos/Nano____.png'>
          <img loading='lazy' src="/assets/designs/drive/12_07_2020.jpg" alt="">
          <img loading='lazy' src='/assets/designs/logos/N_Nodes.svg'>
          <img loading='lazy' src='/assets/designs/logos/N_Colour.svg'>
          <img loading='lazy' src="/assets/designs/drive/17_06_2020.png" alt="">
          <img loading='lazy' src="/assets/designs/drive/15_06_2020.jpg" alt="">
        </div>
        <div class='ImgColumn'>
          <img loading='lazy' src='/assets/designs/logos/Collection.svg'>
          <img loading='lazy' src='/assets/designs/poster/Annotated.png'>
          <img loading='lazy' src='/assets/designs/logos/NovaLogo.svg'>
          <img loading='lazy' src='/assets/designs/poster/Server.svg'>
          <img loading='lazy' src="/assets/designs/drive/05_06_2020.png" alt="">
          <img loading='lazy' src='/assets/designs/logos/Nanode_Album.svg'>
        </div>
        <div class='ImgColumn'>
          <img loading='lazy' src="/assets/designs/drive/21_01_2021_Light.png" alt=""> 
          <img loading='lazy' src='/assets/designs/logos/Nanode_Points.png'>
          <img loading='lazy' src="/assets/designs/drive/21_01_2021.png" alt="">
          <img loading='lazy' src='/assets/designs/poster/Nanode Poster Server 1280x640.png'>
          <img loading='lazy' src='/assets/designs/poster/Afterlife-Nanode.jpg'>
          <img loading='lazy' src='/assets/designs/poster/NanodeDesk.jpg'>
          <img loading='lazy' src='/assets/designs/logos/Noon.svg'>
          <img loading='lazy' src='/assets/designs/poster/Poster.png'>
        </div>
      </div>
    </div>
    <!-- <div class='ImageGrid'> </div> -->
</body>
</html>


<script>
  document.querySelectorAll('img').forEach((image) => {
    image.addEventListener('click', (e) => {
      let isFS = e.target.classList.contains('fullscreen');
      document.querySelectorAll('.fullscreen').forEach((fs) => { fs.classList.remove('fullscreen') });
      isFS ? '' : e.target.classList.add('fullscreen');
    })
  })
</script>