<!DOCTYPE html>
<html lang='en-GB'>
  <head>    
    <title>Dev Portal</title>
    <meta charset="UTF-8">
    <meta name='HandheldFriendly' content="True">
    <meta name='MobileOptimized' content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://nanode.one/">
    <meta name="description" content="Create a Spiral of Prime Numbers and see the Resulting Patterns">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/logo/logo_purple.svg" alt='Nanode'/>
    <meta name="image" content="https://nanode.one/assets/logo/logo_purple.svg">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/logo/logo_purple.svg">
    
    <link rel="stylesheet" type="text/css" href="/css/Dev/dev.css">
  </head>
  <body class="dark-theme" style="background: #121214;">

    <div class="DevSelector">
      <a href="//nanode.one" class="NanodeLogo"><img src="/assets/home/Nanode.svg">
      <p>Development Portal</p></a>
      <div class="DevList">

        <div class="divide"></div>
        <p>GENERAL</p>
        <li><a class="DLSelected" id='intro'>Intro</a></li>
        <li><a id='changelog'>Change Log</a></li>
        <li><a id='incoming'>Incoming</a></li>
        <!-- <li><a id="whatweuse">What We Use</a></li> -->

        <p>CALLS</p>
        <li><a id='accounts'>Accounts</a></li>
        <li><a id='read'>Read</a></li>
        <li><a id='write'>Write</a></li>

        <p>SUB</p>
        <li><a id='nova'>Nova</a></li>
        <li><a id='nord'>Nord</a></li>

        <!-- <p>OPTIONS</p> -->
        <!-- <li><a id='settings'>Settings</a></li> -->

      </div>
    </div>

    <div class="DevContent"></div>
    
  </body>
</html>

<script>
  const content = document.querySelector('.DevContent');
  const pageList = document.querySelectorAll('.DevList li');

  let url = window.location.href.split('https://dev.nanode.one/#')[1];
  if (url && url.match(/intro|changelog|incoming|accounts|read|write|nova|nord/)) {
    setSideSelected( document.getElementById(url) )
    loadPage(`/views/development/${url}.html`);
  } else {
    loadPage('/views/development/intro.html');
  }

  pageList.forEach((page) => {
    page.addEventListener('click', (e) => { SwitchPage(e.target.id, e.target); })
  })

  function SwitchPage(targetFile, sideLink) {
    setSideSelected(sideLink);
    content.innerHTML = `<svg class='Loading_SVG medium' title='Loading page' viewBox='0 0 100 100'><circle cx='50' cy='50' r='45'></circle></svg>`
    loadPage(`/views/development/${targetFile}.html`);
  }

  function setSideSelected(sideLink) {
    document.getElementsByClassName('DLSelected')[0].classList.remove('DLSelected')
    sideLink.classList.add('DLSelected');
  }

  function loadPage(page) {
    fetch(page)
      .then(data => { return data.text() })
      .then(data => { content.innerHTML = data; })
  }
</script>
