<!DOCTYPE html>
<html lang='en-GB'>
  <head>    
    <title>Dev Portal</title>
    <meta charset="UTF-8">
    <meta name='HandheldFriendly' content="True">
    <meta name='MobileOptimized' content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://nanode.one/">
    <meta name="description" content="Create a Spiral of Prime Numbers and see the Resulting Patterns">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/nanode/logo/block.svg" alt='Nanode'/>
    <meta name="image" content="https://nanode.one/assets/nanode/logo/block.svg">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/nanode/logo/block.svg">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" defer>
    <link rel="stylesheet" type="text/css" href="/css/Dev/dev.css">
    
  </head>
  <body data-theme='light'>

    <div class="DevSelector">
      <!-- <a href="//nanode.one" class="NanodeLogo"><img src="https://nanode.one/assets/nanode/nanode.svg"></a> -->
      <a href="https://nanode.one" class="nanode"><div></div><span>Nanode<p>Development Portal</p></span></a>
      
      <div class="DevList">

        <div class="divide"></div>
        <p>General</p>
        <li><a class="DLSelected" id='intro'>Intro</a></li>
        <li><a id='changelog'>Change Log</a></li>
        <li><a id='incoming'>Incoming</a></li>
        <!-- <li><a id="whatweuse">What We Use</a></li> -->

        <!-- <p>CALLS</p>
        <li><a id='accounts'>Accounts</a></li>
        <li><a id='read'>Read</a></li>
        <li><a id='write'>Write</a></li> -->

        <p>Sub</p>
        <li><a id='nova'>Nova</a></li>
        <li><a id='nauth'>NAuth</a></li>

        <p>Future</p>
        <li><a id='void'>Void</a></li>

        <!-- <p>OPTIONS</p> -->
        <!-- <li><a id='settings'>Settings</a></li> -->

      </div>

      <div class="NanodeInfo"><p>Alpha 3.7 © 2019 - 2021 Nanode.</p></div>
    </div>

    <div class="DevContent"></div>
    
  </body>
</html>

<script>
  new class DevController {
    constructor() {
      this.pageLoaded = [];
      this.content = document.querySelector('.DevContent');
      this.pages = /intro|changelog|incoming|accounts|read|write|nova|nauth/;
      
      this.LoadEvents_();
      this.SetListeners_(document.querySelectorAll('.DevList li'));
    }
    
    LoadEvents_() { 
      this.url = window.location.href.split('https://dev.nanode.one/#')[1];
      this.currentPage = (this.url && this.url.match(this.page)) ? this.url : 'intro';
      this.selectNavButton( document.querySelector(`#${this.currentPage}`) );

      if (this.pageLoaded.includes(this.currentPage)) {
        this.loadPage(this.currentPage)
      } else {
        this.content.innerHTML = (Math.random()>=0.5) 
          ? `<div class="Loading_Dual_Ring"></div>`
          : `<div class="Loading_Bars"><div></div><div></div><div></div></div>`;
        setTimeout(() => this.loadPage(this.currentPage), 500)
      }
    }

    SetListeners_(pageList) {
      pageList.forEach(page => {
        page.addEventListener('click', (e) => {
          this.currentPage = e.target.id;
          window.history.replaceState(null, this.currentPage, `https://dev.nanode.one/#${this.currentPage}`);
          this.LoadEvents_();
        })
      });

    }

    selectNavButton(btn) {
      document.getElementsByClassName('DLSelected')[0].classList.remove('DLSelected')
      btn.classList.add('DLSelected');
    }

    loadPage(page) {
      fetch(`https://dev.nanode.one/views/development/${page}.html`)
        .then(data => { return data.text() })
        .then(data => { this.content.innerHTML = data; })
        .then(this.pageLoaded.push(page))
    }
  }
</script>