<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <title>My Drive</title>
    <meta charset="UTF-8">
    <meta name='HandheldFriendly' content="True">
    <meta name='MobileOptimized' content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://nanode.one/">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta name="description" content="Save, Sort and Share Files, Notes, Webpages and More">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/nanode/logo/logo.svg" alt='Nanode'/>
    <meta name="image" content="https://nanode.one/assets/nanode/logo/logo.svg">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/nanode/logo/logo.svg">

    <link rel="stylesheet" href="/CSS/drive/drive.css">
    <link rel="stylesheet" href="/CSS/drive/features.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" defer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/@simonwep/selection-js/lib/selection.min.js" defer></script>

    <script text="text/javascript" src="/JS/drive/drive.js" defer></script>
    <script text="text/javascript" src="/JS/drive/tools.js" defer></script>
    <script text="text/javascript" src="/JS/drive/settings.js" defer></script>
    <script text="text/javascript" src="/JS/drive/upload.js" defer></script>
    <script text="text/javascript" src="/JS/drive/rightClick.js" defer></script>
    <!-- <link rel="stylesheet" href="/CSS/pages.css"> -->
  </head>


  <body class="dark-theme" data-theme='dark'>

    <div class="Frame flex-even-cent">
      <div class="clientStatus flex-even-cent">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class='Switch SW_View' onclick="ToggleView()"  style="display: none;">
        <div class='Slider SL_View'></div> <div><i class="fas fa-bars"></i></div> <div><i class="fas fa-th-large"></i></div>
      </div>
      <button id="colorTheme" onclick="ToggleTheme()" title="Change Theme"><i></i></button>
    </div>


    <div class='PageList'>
      <div>
        <a class='nanode' href='https://nanode.one'><img src='/assets/nanode/logo/logo.svg' alt='Nanode'>NΛNODE</a>
        <!-- <a title="Nanode" id="NanodeRtn" href="//nanode.one" width="130" height="30"></a> -->
        <span drvPage="main" title="Home" class="SelectedPage"><i class="fas fa-user"></i><p>Home</p></span>
        <span drvPage="share" title="Share"><i class="fas fa-users"></i><p>Share</p></span>
        <span drvPage="blocks" title="Blocks"><i class="fas fa-th"></i><p>Blocks</p></span>
        <span drvPage="codex" title="Lists"><i class="fas fa-stream"></i><p>Lists</p></span>
      </div>

      <div class='PagesTwo'>
        <span drvPage="bin" title="Bin"><i class="fas fa-trash-alt"></i><p>Bin</p></span>
        <span drvPage="settings" title="Settings"><i class="fas fa-cog"></i><p>Settings</p></span>

        <div class='Storage'>
          <h3>Storage</h3>
          <p>0 GB / 10 GB</p>
          <progress value='0' max="100" ></progress>
        </div>
      </div>
    </div>


    <div class='Pages'>
      <section class="Page_Loading"> <div><div class='PageHeader'></div><div class='PageData'><svg class='Loading_SVG medium' title='Loading' viewBox='0 0 100 100' xmlns='https://www.w3.org/2000/svg'><circle cx='50' cy='50' r='45'></circle></svg></div></div></section>

      <section class='main_Page'></section>
      <section class='share_Page'></section>
      <section class='blocks_Page'></section>
      <section class='codex_Page'></section>
      <section class='bin_Page'></section>
      <section class='settings_Page'></section>
    </div>



    
    <div class='Upload_Container flex-column-cent' style='visibility: hidden;'>
      <div class='UC_Queue'><table><tbody></tbody></table></div>

      <div class='UC_Info'>
        <p></p>
        <i class="far fa-times-circle" title="Dismiss" onclick='this.parentNode.classList.remove("display")'></i>
      </div>

      <div class='UC_Control'>
        <div class='UC_Top flex-between-cent'>
          <button onclick="Upload_Listeners.Control(this)" class='Upload_Control' action='Choose'>Choose Items</button>
          <span class='flex-even-cent'>
            <i onclick="Upload_Visuals.Queue('toggle')" id='queue_toggle' class='fas fa-chevron-up'></i>
            <i onclick="PopUp_Upload.Close()" class='fas fa-times'></i>
          </span>
        </div>

        <div class='UC_Bottom flex-even-cent'>
          <button Upload_Folder onclick="document.getElementById('folderUploadBtn').click()">Folder</button>
          <button Upload_Files onclick="document.getElementById('fileUploadBtn').click()">Files</button>
          <p>0 Items</p> <p>0 B</p>
          <div class='Upload_Progress'><progress value='0' max='100'></progress><p title='Estimated'>?</p></div>
        </div>
      </div>
    </div>

    <table class='RightClickContainer'></table>

    <div class='BlockOut'>
      <div class='Popup_Container'></div>
    </div>

    <div class='UploadBtns'>
      <input id="fileUploadBtn" type="file" multiple></input>
      <input id="folderUploadBtn" type="file" multiple webkitdirectory mozdirectory></input>
      <input id="codexUploadBtn" type="file" accept="text/*" multiple>
      <div class='DragDropOverlay'>Drop your files to Upload</div>
    </div>

  </body>
</html>