<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <title>Error 404</title>
    <meta charset="UTF-8">
    <meta name='HandheldFriendly' content="True">
    <meta name='MobileOptimized' content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://nanode.one/">
    <meta name="description" content="Error Occurred. Unauthorised Personnel Detected. Saving Record for Future Analysis.">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/logo/logo_black.svg" alt='Nanode'/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/logo/logo_black.svg">

  </head>

  <body class="errorBody dark-theme">
    <a href="//www.Nanode.one"><img src="https://Nanode.one/assets/main/Nanode.svg" style="width: 240px"></a>
    <p style="color: #909090;">404. Something's Wrong Here</p>
    <p>Either<blockquote>○ File Doesn't Exist<br>○ You Cannot Access it.</blockquote></p>
    <p>If you know this file does exist:</p>
    <a href="https://account.Nanode.one/login">Login</a> or Request access from its owner.
  </body>
</html>

<style>
  .errorBody {
    margin: 12% auto 0;
    padding: 30px;
    max-width: 350px;
    font-family: monospace;
    font-size: 15px;
    color: #d6d6d6;
    background: #212121;
    border: 1px solid #777777;
  }
  @media only screen and (max-width: 500px) {
    .errorBody {
      padding: 10% 10px 10px 10px;
    }
  }
</style>