<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <title>Login to Nanode</title>
    <meta charset="UTF-8">
    <meta name='HandheldFriendly' content="True">
    <meta name='MobileOptimized' content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://nanode.one/">
    <meta name="description" content="Login to Nanode to gain access to your Cloud Storage, or signup for a free 10GB">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/nanode/logo/logo.svg" alt='Nanode'/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/nanode/logo/logo.svg">
    
    <link rel="stylesheet" href="../CSS/Account/account.css">
    <script text="text/javascript" src="../JS/account/login.js" defer></script>
  </head>
  <body class="dark-theme">

    <div class="loginBackground">
      <img src='/assets/homepage/login_left.svg'>
      <img src='/assets/homepage/login_right.svg'>

      <a href="https://nanode.one" class="nanode"><div></div>Nanode</a>

      <div class="mainLoginContainer">
        <h1 class="MainTitle">Welcome</h1>
        <h2 class="SecondaryTitle">Enter into your Nanode Account</h2>

        <form method="POST" action='/login'>
          <div>
            <input type="text" autocomplete="off" name="email" maxlength="128" spellcheck="false" required title='Please enter your Email' placeholder=" ">
            <label class="emailTitle">Email</label>
          </div>

          <div>
            <input type="password" autocomplete="new-password" name="password" maxlength="128" spellcheck="false" required title='Please enter your Password' placeholder=" ">
            <label class="pwdTitle">Password</label>
          </div>

          <input type="submit" value="Login">
        </form>

        <span id="accountStatus">Don't have an account?</span>
        <button id='formSwitch' onclick='formSwitch()'>Signup</button>

      </div>
    </div>

  </div>
  </body>
</html>