// color: #fafafa;
// color: #8e8e93;
// color: #636366;
// color: #48484a;
// color: #3a3a3c;
// color: #2c2c2e;
// color: #1c1c1e;

* {
  outline: none;
  font-family: 'Segoe UI';
}


::-webkit-scrollbar {
  height: 0px;
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  transition: background-color 0.5s ease;
  background: rgba(130, 130, 130, 0.5);
  border-radius: 4px;
  &:hover {
    background: rgba(130, 130, 130, 0.8);
  }
}

html {
  height: 100%;
  // background: #131315;
  // background: #11161a;
  // background: #0d0e0e;
  // background: linear-gradient(40deg,#0cd6d6, #145471);
  background: linear-gradient(40deg, #0b0b0c, #131524);
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15% auto 0 auto;
  color: #d6d6d6;
}

section {
  min-width: 240px;
  max-width: 360px;
  flex: 1;
}

div {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  // background: #232325;
  // background: #1b1e23;
  background: #1f242c;
  border-radius: 8px;
  margin: 0px 8px 16px 8px;
  padding: 16px;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h4 {
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #DCDCDE;
  font-weight: 600;
  margin: 8px 0 0 0;
  padding: 6px 0 0 0;
  border-top: 1px solid #4e626f;
}

h5 {
  font-size: 13px;
  font-weight: 400;
  margin: 6px 0;
}

span {
  display: inline-flex;
  justify-content: space-between;
  height: 24px;
  width: 100%;
  margin-top: 6px;

  button {
    width: 48%;
    padding-bottom: 4px;
    border: none;
    color: inherit;
    font-variant: all-petite-caps;
    background: #4e626f;
  }
}

.downloadBtn {
  display: block;
  height: 38px;
  width: 100%;
  color: white;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-family: inherit;
  font-size: 15px;
  border: none;
  background: linear-gradient(to right,#608ba6, #87ceeb);
  cursor: pointer;
  &:hover {
    background: linear-gradient(to right,#87ceeb, #608ba6);
  }
}

table {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
  table-layout: fixed;
  font-variant: all-petite-caps;
  & th {
    font-weight: 400;
    opacity: 0.6;
  }
  & td {
    height: 26px;
    opacity: 0.9;
  }
  & th:nth-child(1) { text-align: left; }
  & td:nth-child(1) { padding: 0; overflow-x: overlay; }

  & th:nth-child(2) { width: 30%; }
  & td:nth-child(2) { text-align: center; font-size: 13px; }
}