:root {
  --color_highlight: #99ccff;
  --color_blue: #4285f4;

  --background: #0e0f11;
  --background_2: #141517;
  --comp_dark: #191b1e;
  --component: #282c32;
  --comp_highlight: #83898f;
  --text_dull: #cacccf;
  --text: #f5f6f7;
}


@font-face {
  font-family: "gr-bold";
  src: url("/assets/fonts/gr-bold.woff2") format("woff2");
  font-display: swap;
}

// ===================

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', 'Segoe UI', 'monospace';
  letter-spacing: 0.3px;
  color: var(--text);
}
html {
  overflow-x: hidden;
  height: 100%;
  background: linear-gradient(40deg, #0b0b0c, #131524);
}
body {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1em;
  height: 100%;
  padding: 1em;
  overflow-x: hidden;
  box-sizing: border-box;
}

// ===================

.nanode {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-family: 'gr-bold';
  font-size: 19px;
  letter-spacing: 1.5px;
  text-decoration: none;

  > div {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: url('https://nanode.one/assets/nanode/logo/logo.svg') no-repeat center #0e0f11;
    background-size: 20px;
    filter: invert(1);
  }
}


section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  min-width: 240px;
  max-width: 360px;

  >div {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1f242c;
    border-radius: 5px;
    padding: 16px;
  }

  >div >.downloadBtn {
    display: block;
    height: 38px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    background: linear-gradient(90deg,#608ba6, #87ceeb, #608ba6);
    background-size: 200%;

    &:hover { animation: gradient 2s ease infinite; }

    @keyframes gradient {
      0% { background-position: 0%; }
      50% { background-position: 100%; }
      100% { background-position: 0%; }
    }
  }


}


img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h4 {
  font-weight: 600;
  margin: 1em 0;
  padding: 1em 0 0 0;
  border-top: 1px solid #4e626f;
}

h5 {
  font-weight: 400;
  margin: 0.5em 0;
}

span {
  display: inline-flex;
  gap: 1em;
  height: 1.5em;
  width: 100%;
  margin-top: 1em;

  button {
    flex: 1;
    padding-bottom: 4px;
    border: none;
    font-variant: all-petite-caps;
    background: #4e626f;
  }
}


table {
  width: 100%;
  table-layout: fixed;

  & thead>tr {
    box-shadow: 0 1px 0 #4e626f;
    >th {
      padding-bottom: 0.75em;
      font-size: 14px;
      font-weight: 400;
      opacity: 0.6;
      &:nth-child(1) { text-align: left; }
      &:nth-child(2) { width: 30%; }
    }
  }
  & tbody>tr {
    height: 2.5em;
    >td:nth-child(1) { overflow-x: overlay; }
    >td:nth-child(2) { text-align: center; font-size: 13px; color: var(--text_dull); letter-spacing: 0.8px; }
  }
  

}

// =================

::-webkit-scrollbar {
  height: 0px;
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  transition: background-color 0.5s ease;
  background: rgba(130, 130, 130, 0.5);
  border-radius: 4px;
  &:hover {
    background: rgba(130, 130, 130, 0.8);
  }
}