@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300");
:root {
  --highlight-color: #2570d6;
  --rich-blue: #4285f4;
  --rich-blue-faded: #4285f433;
  --folder: #ffca28;
  --red: #ff453a;
  --green: #0bc30b;
  --light-green: #33c357;
  --orange: #d88a1e;
  --text-white: #f5f6f7;
  --dark: #131313;
  --skeleton: #83898f80;
}

[data-theme=dark] {
  --skeleton-solid: #5a5f64;
  --theme: #080a0e;
  --background: #191b1e;
  --frame: #1e2126;
  --component: #282c32;
  --feature: #3d444a;
  --highlight: #565b61;
  --selected: #83898f;
  --text-dull: #cacccf;
  --text-strong: #f5f6f7;
}

[data-theme=light] {
  --skeleton-solid: #bfc2c6;
  --theme: #fefefe;
  --background: #fbfbfd;
  --frame: #f5f5f7;
  --component: #eeeff1;
  --feature: #e8e9eb;
  --highlight: #e1e2e4;
  --selected: #cacccf;
  --text-dull: #191b1e;
  --text-strong: #080a0e;
}

@font-face {
  font-family: "gr-bold";
  src: url("/assets/fonts/gr-bold.woff2") format("woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', 'Segoe UI', 'monospace';
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  color: inherit;
  font-size: 16px;
}

html {
  position: fixed;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  overflow: hidden;
}

.Frame {
  position: absolute;
  height: 57px;
  width: 280px;
  right: 0px;
  z-index: 25;
  background: var(--frame);
}

.Frame button {
  color: var(--selected);
}

.Frame button:hover {
  color: var(--text-white);
  background: var(--highlight-color);
}

.Frame .clientStatus {
  height: 20px;
  width: 150px;
  right: 80px;
  border-radius: 20px;
  z-index: 1001;
  background: var(--component);
}

.Frame .clientStatus div {
  height: 4px;
  width: 4px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px;
          box-shadow: 0px 0px 3px 0px;
}

.dark-theme .Frame .clientStatus div {
  -webkit-box-shadow: 0px 0px 6px 1px;
          box-shadow: 0px 0px 6px 1px;
}

.PageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
  background: var(--frame);
  color: var(--text-dull);
}

.PageList .nanode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  margin: 25px 20px;
  font-family: 'gr-bold';
  font-size: 19px;
  letter-spacing: 1.5px;
  text-decoration: none;
  z-index: 3;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  color: var(--text-strong);
}

.PageList .nanode > div {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: url("https://nanode.one/assets/nanode/logo/logo.svg") no-repeat center #0e0f11;
  background-size: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

body[data-theme=light] .PageList .nanode > div {
  -webkit-filter: none;
          filter: none;
}

.PageList .nanode:hover {
  color: transparent;
}

.PageList .nanode:hover > div {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

.PageList div {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-gap: 12px;
}

.PageList div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 85%;
  padding: 4px 20px;
  opacity: 0.6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.PageList div span:hover {
  opacity: 1;
  background: var(--highlight);
}

.PageList div span > * {
  padding: 5px;
}

.PageList div span > p {
  font-size: 15px;
}

.PageList div .SelectedPage {
  opacity: 1;
  color: var(--text-strong);
  background: var(--feature);
  -webkit-box-shadow: inset 5px 0px 0px 0px var(--highlight-color);
          box-shadow: inset 5px 0px 0px 0px var(--highlight-color);
}

.PageList .Storage {
  position: relative;
  margin: 5px 10px;
  padding: 10px 5px;
  border-top: 1px solid var(--feature);
}

.PageList .Storage h3 {
  font-size: 14px;
  opacity: 0.8;
  font-weight: 400;
}

.PageList .Storage p {
  font-size: 13px;
}

.PageList .Storage progress {
  height: 6px;
  width: 100%;
  border-radius: 5px;
}

.PageList .Storage progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: var(--component);
}

.PageList .Storage progress::-webkit-progress-value {
  background-color: var(--rich-blue);
  border-radius: 5px;
}

.PageHeader {
  position: relative;
  width: calc(100% - 280px);
  height: 57px;
  color: var(--text-strong);
}

.PageHeader .PageControls {
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

.PageHeader .PageControls span {
  padding: 6px 8px;
  cursor: pointer;
  color: var(--text-dull);
}

.PageHeader .PageControls span > i {
  font-size: 18px;
}

.PageHeader .PageControls span.notActive {
  color: var(--highlight);
  cursor: default;
}

.PageHeader .PageControls span:hover:not(.notActive) {
  color: var(--text-strong);
}

.PageHeader .directoryLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 30px;
  z-index: 1;
}

.PageHeader .directoryLocation .dirBtn {
  max-width: 140px;
  opacity: 0.8;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.PageHeader .directoryLocation .dirBtn:hover:not([node-id='SEARCH']) {
  opacity: 1;
  background: var(--highlight);
}

.PageHeader .directoryLocation .dirBtn:last-child {
  opacity: 1;
  background: var(--feature);
}

.PageHeader .directoryLocation i {
  width: 29px;
  opacity: 0.4;
  background: url(https://nanode.one/assets/drive/svg/arrow_right_black.svg) center;
}

body[data-theme=dark] .PageHeader .directoryLocation i {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.Pages {
  background-color: var(--background);
}

.Pages > section {
  display: none;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Pages > section.PageDisplay {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100%;
  width: 100%;
}

.Pages > section > .PageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition: width 600ms, -webkit-box-shadow 0.3s, -webkit-filter 0.3s;
  transition: width 600ms, -webkit-box-shadow 0.3s, -webkit-filter 0.3s;
  transition: box-shadow 0.3s, filter 0.3s, width 600ms;
  transition: box-shadow 0.3s, filter 0.3s, width 600ms, -webkit-box-shadow 0.3s, -webkit-filter 0.3s;
  background-size: cover;
  background-color: var(--frame);
  cursor: auto;
}

.Pages > section > .PageContainer > .PageData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  height: calc(100% - 57px);
  padding: 0 24px;
  border-top-left-radius: 8px;
  background: var(--background);
  -webkit-box-shadow: inset 6px 6px 6px -6px var(--theme);
          box-shadow: inset 6px 6px 6px -6px var(--theme);
}

.Pages > section > .PageContainer > .PageData > .Content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  min-width: calc(100% - 270px);
}

.Pages > section > .PageContainer > .PageData > .Content > div {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-transition: width 600ms;
  transition: width 600ms;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15px 20px 3px;
}

.Pages > section > .PageContainer > .PageData > .PageInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100%;
  width: 240px;
  min-width: 240px;
  top: 28px;
  padding: 24px 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.Pages > section > .PageContainer > .PageData > .PageInformation > * {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  color: var(--text-strong);
  background: var(--component);
  -webkit-box-shadow: 0 0 5px 0 var(--theme);
          box-shadow: 0 0 5px 0 var(--theme);
}

.Pages > .Page_Loading {
  display: -ms-grid;
  display: grid;
  position: absolute;
  height: 100%;
  width: calc(100% - 220px);
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div .tableTemplate {
  border-radius: 5px;
  border-spacing: 0 2px;
  margin-bottom: 20px;
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div .tableTemplate tr {
  opacity: 1;
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div .tableTemplate tr th:nth-child(1) input {
  min-width: 200px;
  left: 0;
  font-size: 15px;
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div .tableTemplate tr th:nth-child(1) input:focus {
  background: var(--highlight);
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div .tableTemplate tr td:nth-child(2) input {
  height: 30px;
  width: 100%;
  font-size: 14px;
  padding: 0;
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div .tableTemplate tr td:nth-child(2) input:focus {
  border-bottom: 1px solid;
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div .tableTemplate tr td:nth-child(2) input:disabled {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div > .NewSpan {
  line-height: 20px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--text-dull);
  border: 1px solid var(--frame);
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.Pages > .main_Page > .PageContainer .PageData > .Content > div > .NewSpan:hover {
  border: none;
  background: var(--feature);
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1em;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: auto 1fr;
  grid-gap: 12px;
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer.lout_grid {
  display: -ms-grid;
  display: grid;
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > input {
  grid-column: 1/-1;
  width: 200px;
  font-size: 15px;
  color: var(--text-strong);
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 150px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid var(--component);
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > div:hover {
  background: var(--highlight);
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > div > color {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  z-index: 2;
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > div > img {
  max-height: 70px;
  height: auto;
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > div > textarea {
  min-height: 30px;
  max-height: 60px;
  width: 100%;
  padding: 2px;
  font-size: 13px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: width 300ms;
  transition: width 300ms;
  resize: none;
  color: var(--text-strong);
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > div > textarea:focus {
  resize: vertical;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background: var(--highlight);
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > div > textarea:disabled {
  cursor: pointer;
}

.Pages > .main_Page > .PageContainer .PageData > .Content .ContentContainer > div > p {
  margin: 10px 0;
  font-size: 12px;
  color: var(--text-dull);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation {
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation input, .Pages > .main_Page > .PageContainer .PageData > .PageInformation textarea {
  border-radius: 5px;
  background: var(--feature);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation input:focus, .Pages > .main_Page > .PageContainer .PageData > .PageInformation textarea:focus {
  background: var(--highlight);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .PIHeader {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 !important;
  color: var(--text-white);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .PIHeader button {
  height: 34px;
  width: 115px;
  border-radius: 5px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .PIHeader button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .PIHeader button.NO_Upload {
  background: linear-gradient(40deg, #2993d8, #203ed3);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .PIHeader button.NO_Folder {
  background: linear-gradient(40deg, #ddaa1f, #b2691d);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo > svg {
  position: relative;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo > section > * {
  width: 100%;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData {
  padding-bottom: 10px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData .ItemInfo_Name {
  font-size: 17px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData .ItemInfo_UUID {
  padding: 6px 0px;
  text-align: center;
  font-size: 10px;
  opacity: 0.6;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid var(--highlight);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData img {
  height: auto;
  width: auto;
  max-height: 128px;
  margin: 12px 0 0;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData > span {
  margin: 16px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData > span > button {
  height: 36px;
  width: calc(50% - 4px);
  padding: 0;
  font-size: 14px;
  background: var(--feature);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData > span > button > i {
  color: var(--rich-blue);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData > span > button:hover {
  background: var(--highlight);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData table {
  padding: 0 10px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData table tr {
  height: 28px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData table tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData table tr td > input {
  padding: 0;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData table tr td:nth-child(1) {
  font-size: 12px;
  opacity: 0.8;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData table tr td:nth-child(2) {
  font-size: 14px;
  text-align: right;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIData textarea {
  height: 50px;
  margin: 10px 0;
  resize: vertical;
  font-size: 13px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIShare {
  padding-top: 10px;
  border-top: 1px solid var(--highlight);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIShare sub {
  opacity: 0.8;
  font-size: 11px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemInfo .IIShare input {
  width: 100%;
  margin: 4px 0;
  font-size: 15px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked > span {
  margin: 8px 0;
  border-radius: 5px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked .locked_title {
  margin: 0 0 15px;
  padding: 8px 10px;
  border-radius: 20px;
  background: var(--feature);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked .locked_title > h3 {
  font-weight: 400;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked .locked_title > i {
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked .locked_title > i:hover {
  opacity: 1;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked .security_option > i {
  padding: 0 10px;
  font-size: 16px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked .security_option > input {
  width: 182px;
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked button {
  background: linear-gradient(40deg, #e8ae68, #e63811);
}

.Pages > .main_Page > .PageContainer .PageData > .PageInformation .ItemLocked button:hover {
  background: #e76230;
  -webkit-box-shadow: 0 0 0px 4px #e7623033;
          box-shadow: 0 0 0px 4px #e7623033;
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div {
  width: 100%;
  max-width: 750px;
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div .section_Empty {
  height: 280px;
  width: 280px;
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div .section_Empty > img {
  max-height: 120px;
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div thead > tr {
  height: 0;
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div thead > tr td > * {
  position: absolute;
  top: 0;
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div thead > tr td > p {
  left: 1em;
  color: var(--text-dull);
  font-size: 14px;
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div thead > tr td > i {
  right: 1em;
  color: var(--selected);
  cursor: pointer;
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div thead > tr td > i:hover {
  color: var(--text-dull);
}

.Pages > .bin_Page > .PageContainer .PageData .Content > div thead > tr td > i:active {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  gap: 20px;
  padding: 20px 0;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binSize {
  height: 19px;
  text-align: center;
  color: var(--text-dull);
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binSize > em {
  font-family: 'gr-bold';
  font-style: normal;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binUsage {
  display: -ms-grid;
  display: grid;
  position: relative;
  height: 200px;
  width: 200px;
  padding: 20px;
  border-radius: 50%;
  background: var(--feature);
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binUsage > div {
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: var(--component);
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binUsage > div > span {
  padding: 0.25em;
  word-spacing: 5px;
  cursor: pointer;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binUsage > div > span:hover > p:nth-child(1) {
  display: none;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binUsage > div > span:hover > p:nth-child(2) {
  display: block;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binUsage > div > span > p {
  font-size: 13px;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binUsage > div > span > p:nth-child(2) {
  display: none;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binItemData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  max-width: 200px;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binItemData p {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--feature);
  color: var(--text-strong);
  overflow-wrap: anywhere;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binItemData table {
  color: var(--text-dull);
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binItemData table tr {
  height: 24px;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binItemData table tr td {
  font-size: 14px;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binItemData table tr > td:nth-child(2) {
  text-align: right;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo button {
  position: relative;
  height: 32px;
  width: 200px;
  margin: 0;
  -webkit-transition: background-color 300ms, color 300ms;
  transition: background-color 300ms, color 300ms;
}

.Pages > .bin_Page > .PageContainer .PageData .PageInformation > .binInfo .binEmptyContainer {
  padding-top: 20px;
  border-top: 1px solid var(--highlight);
}

.BlockOut {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #00000080;
  z-index: 25;
  cursor: auto;
}

.BlockOut .Popup_Container {
  width: 400px;
  color: var(--text-strong);
}

.BlockOut .Popup_Container > div {
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  background: var(--component);
}

.BlockOut .Popup_Container .Popup_Main {
  height: 150px;
  padding: 15px;
}

.BlockOut .Popup_Container .Popup_Main h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}

.BlockOut .Popup_Container .Popup_Main h5 {
  display: inline-block;
  font-size: 13px;
  padding: 4px;
  vertical-align: bottom;
}

.BlockOut .Popup_Container .Popup_Main > p {
  font-size: 15px;
  line-height: 22px;
  margin-top: 5px;
  padding: 3px;
  border-top: 1px solid var(--highlight);
}

.BlockOut .Popup_Container .Popup_Main > span {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.BlockOut .Popup_Container .Popup_Main > span > button {
  width: 90px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.BlockOut .Popup_Container .Popup_Main > span > button.Popup_Accept {
  color: var(--text-white);
  background: var(--highlight-color);
}

.BlockOut .Popup_Container .Popup_Main > span > button.Popup_Accept:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.BlockOut .Popup_Container .Popup_Main > span > button.Popup_Accept.PUA_Red {
  background: var(--red);
}

.BlockOut .Popup_Container .Popup_Main > span > button.Popup_Reject:hover {
  background: var(--feature);
}

.BlockOut .Popup_Container .Popup_Main .Popup_Input {
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  border: 1px solid var(--highlight-color);
}

.BlockOut .Popup_Container .Popup_Main .Popup_Input.Popup_Input_Name {
  top: 55px;
}

.BlockOut .Popup_Container .Popup_Secondary {
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
  margin-top: 10px;
}

.BlockOut .Popup_Container .Popup_Secondary > * {
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  background: var(--frame);
}

.BlockOut .Popup_Container .Popup_Secondary > *::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.BlockOut .Popup_Container .Popup_Secondary > *:-ms-input-placeholder {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.BlockOut .Popup_Container .Popup_Secondary > *::-ms-input-placeholder {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.BlockOut .Popup_Container .Popup_Secondary > *::placeholder {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.BlockOut .Popup_Container .Popup_Secondary h4 {
  font-variant: all-petite-caps;
  opacity: 0.8;
  background: none !important;
}

.BlockOut .Popup_Container .Popup_Secondary textarea {
  height: 50px;
  resize: vertical;
}

.BlockOut .Popup_Container .Popup_Secondary > button {
  text-align: left;
  font-size: 14px !important;
}

.BlockOut .Popup_Container .Popup_Dropdown {
  position: absolute;
  z-index: 1;
}

.BlockOut .Popup_Container .Popup_Dropdown > .Popup_Location {
  min-width: 100px;
  max-width: 200px;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
  background: var(--feature);
}

.BlockOut .Popup_Container .Popup_Dropdown > .Popup_Location > span {
  margin: 1px 4px;
}

.BlockOut .Popup_Container .Popup_Dropdown > .Popup_Location:hover > .Popup_Dropdown_Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.BlockOut .Popup_Container .Popup_Dropdown > .Popup_Location > .Popup_Dropdown_Content {
  display: none;
  margin-top: 4px;
}

.BlockOut .Popup_Container .Popup_Dropdown > .Popup_Location > .Popup_Dropdown_Content a {
  padding: 8px 4px;
  font-size: 14px;
  border-radius: 3px;
}

.BlockOut .Popup_Container .Popup_Dropdown > .Popup_Location > .Popup_Dropdown_Content a:hover {
  background-color: var(--highlight);
}

.BlockOut .Preview {
  display: contents;
}

.BlockOut .Preview .ViewImage {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 80vh;
  max-width: calc(100vw - 20px);
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

.BlockOut .Preview .ViewText {
  max-height: calc(100vh - 80px);
  max-width: 800px;
  border-radius: 3px;
  overflow-y: overlay;
  border: 1px solid var(--feature);
  background: var(--frame);
  color: var(--text-strong);
  z-index: 1;
}

.BlockOut .Preview .ViewText::-webkit-scrollbar {
  width: 10px;
}

.BlockOut .Preview .ViewText > pre {
  padding: 15px;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-family: monospace;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.BlockOut .Preview .ViewFont {
  max-width: 420px;
  padding: 20px;
  text-align: center;
  color: var(--text-strong);
}

.BlockOut .Preview .ViewFont > p {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  font-size: 36px;
  line-height: 1.5em;
  letter-spacing: 0.5em;
  word-break: break-all;
  font-family: fetched-font;
}

.BlockOut .Preview .ViewFont > p::before {
  text-transform: uppercase;
}

.BlockOut .Preview .ViewFont > p::after, .BlockOut .Preview .ViewFont > p::before {
  content: 'abcdefghijklmnopqrstuvwxyz';
}

.listItem-Placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: absolute;
  height: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  padding: 0 5px;
  z-index: 990;
  color: var(--text-strong);
  -webkit-box-shadow: 0 1px 3px 0px var(--feature);
          box-shadow: 0 1px 3px 0px var(--feature);
  background: var(--highlight-color);
}

.listItem-Placeholder > h5 {
  font-size: 14px;
  font-weight: 100;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.listItem-Placeholder > img {
  max-height: 34px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.listItem-Hover {
  -webkit-box-shadow: inset 0 0 0 2px var(--folder) !important;
          box-shadow: inset 0 0 0 2px var(--folder) !important;
}

.listSpan-Hover {
  -webkit-box-shadow: 0 0 0 1px var(--folder);
          box-shadow: 0 0 0 1px var(--folder);
}

.baseFolder-Hover {
  -webkit-box-shadow: inset 0px 2px 6px 1px var(--folder) !important;
          box-shadow: inset 0px 2px 6px 1px var(--folder) !important;
}

.dirBtn-Hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 0 1px var(--folder);
          box-shadow: 0 0 0 1px var(--folder);
  background: var(--highlight);
}

@media only screen and (min-width: 1500px) {
  .Pages > section > .PageContainer > .PageData {
    padding: 0 50px 0 40px;
    gap: 50px;
  }
  .Pages > section > .PageContainer > .PageData > .Content {
    min-width: calc(100% - 290px);
  }
}

@media only screen and (min-width: 1200px) {
  .searchContainer > * {
    -webkit-transition: all 600ms !important;
    transition: all 600ms !important;
  }
}

@media only screen and (max-width: 1500px) {
  .search {
    width: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    -ms-grid-columns: 80px auto;
        grid-template-columns: 80px auto;
  }
  .Pages .Page_Loading {
    width: calc(100% - 80px);
  }
  .PageList {
    width: 80px;
  }
  .PageList > div.PagesTwo {
    margin: 20px 0;
  }
  .PageList > div > .nanode {
    font-size: 0;
  }
  .PageList > div > span {
    padding: 4px 20px 4px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .PageList > div > span > p {
    display: none;
  }
  .PageList .Storage {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .Pages > section > .PageContainer > .PageData > .PageInformation {
    display: none;
  }
  .PageHeader {
    width: calc(100% - 80px);
  }
  .Frame {
    width: 80px;
  }
  .Frame > .clientStatus {
    display: none;
  }
  .tableTemplate th:nth-child(4) {
    display: none !important;
  }
  .tableTemplate td:nth-child(4) {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .fileContainer {
    padding: 0 15px;
  }
  .ListContentTable th:nth-child(3) {
    display: none !important;
  }
  .ListContentTable td:nth-child(3) {
    display: none !important;
  }
}

@media only screen and (max-width: 750px) {
  .Pages > section {
    -ms-grid-columns: auto 0px;
        grid-template-columns: auto 0px;
  }
  .Frame {
    width: 38px;
  }
  .Frame button {
    margin-right: 0px;
  }
  .clientStatus {
    display: none;
  }
  .search {
    margin-right: 28px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    -ms-grid-columns: 0px auto 0px;
        grid-template-columns: 0px auto 0px;
  }
  .Pages .Page_Loading {
    width: calc(100% - 0px);
  }
  .PageList {
    width: 0px;
  }
  .ListContentTable th:nth-child(5) {
    display: none !important;
  }
  .ListContentTable td:nth-child(5) {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .Frame {
    display: none;
  }
  .search {
    margin-right: 0px;
  }
  .Item > img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*# sourceMappingURL=drive.css.map */