$colors: (
  // Colours
  PC_0: #99ccff, // Logo
  PC_1: #4285f4, // Blue
  PC_2: #1199bb, // Blue Green
  PC_3: #033860, // Indigo
  PC_4: #33c357, // Green
  PC_5: #ff453a, // Red
  PC_6: #f0e800, // Yellow
  PC_7: #3e4f5f, // Dull Blue (Dark RC Hover)
  PC_8: #c8dce6, // Light Blue (White RC Hover)
  PC_9: #a266ee, // Dev Purple,
  PC_10: #e53329, // Rich Red
  PC_11: #ff9800,

  // Palette_Dark - https://coolors.co/080a0e-0e0f11-141517-191b1e-282c32-565b61-83898f-cacccf-f5f6f7
  // OLDER = https://coolors.co/010b14-171b21-282c32-383c42-5c5f64-919396-cacccf-f5f6f7
);

// CHECK Colours:
[data-theme = check] {
  --theme: #e11010;
  --background: #1f1fe1;
  --frame: #bdae1d;
  --component: #8b331d;
  --feature: #c919c0;
  --highlight: #05e6f5;
  --selected: #e80c6d;
  --text-dull: #106fff;
  --text-strong: #fff;
}

////////////////// Base Elements //////////////////

input:not(.searchSelectors *) {
  border: none;
  padding: 6px 10px;
  background: transparent;
  border-radius: 5px;
  &::placeholder { color: var(--text-dull); opacity: 0.8; }
  &:focus { background: var(--highlight); }
}
button {
  padding: 6px 10px;
  border: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
}
img {
  position: relative;
  object-fit: contain;
  width: auto;
  max-width: 100%;
}
textarea {
  border: none;
  color: inherit;
  padding: 0.5em;
  background: transparent;
  &::placeholder { color: var(--text-dull); opacity: 0.8; }
}

///////////////////////// ELEMENTS /////////////////////////

.trans300 { transition: all 300ms ease-in-out; }
.transform-center { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } // remember to set parent to position: relative;

.flex-even-cent { display: flex; justify-content: space-evenly; align-items: center; }
.flex-between-cent { display: flex; justify-content: space-between; align-items: center; }
.flex-around-cent { display: flex; justify-content: space-around; align-items: center; }
.flex-around { display: flex; justify-content: space-around; }
.flex-column-cent { display: flex; flex-direction: column; align-items: center; }

.grid-items-center { display: grid; place-items: center; }


.italic-small {
  margin: 1em 0;
  font-weight: 400;
  font-size: 13px;
  font-style: italic;
  opacity: 0.7;
}

.rb-btn-full {
  width: 100%;
  margin: 10px 0 0;
  border-radius: 5px;
  font-size: 15px;
  color: var(--text-strong);
}

.notif-btn {
  height: 21px;
  min-width: 200px;
  width: 30%;
  font-weight: 600;
  line-height: 10px;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 300ms ease-in-out;
  z-index: 50;
}

.info-popup {
  position: absolute;
  height: 1.5em;
  width: 80%;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 30px);

  border-radius: 1em;
  padding: 0.2em;
  
  text-align: center;
  
  color: var(--text-white);
  background: var(--highlight);
  transition: transform 300ms, opacity 300ms;
  opacity: 0;
  z-index: 11;

  >span {
    display: inline-flex;
    font-size: 14px;
    gap: 1em;
  }

  >i {
    position: absolute;
    top: 0.25em;
    right: 0.5em;
    cursor: pointer;
  }

  &.info-popup-info { background: var(--highlight-color); }
  &.info-popup-success { background: var(--light-green); }
  &.info-popup-error { background: var(--red); }
  &.info-popup-warning { background: var(--orange); }
}

///////////////////////////////////////////////

.tableTemplate {
  position: relative;
  width: 100%;
  border-spacing: 0px 14px;
  color: var(--text-strong);

  & thead > tr {
    height: 32px;
    cursor: auto;
    user-select: none;
    background: transparent;
    &:hover { opacity: 1; transform: none; box-shadow: none; }

    & >th:nth-child(1) {max-width: 50px;}
    & >th:nth-child(2) {max-width: 0; width: auto; min-width: 160px; overflow: hidden;}

    & >th:nth-child(n+3) { font-weight: 400; opacity: 0.6; font-size: 14px; font-variant: all-petite-caps; }
    & >th:nth-child(3) {width: 80px; min-width: 60px;}
    & >th:nth-child(4) {width: 100px;}
    & >th:nth-child(5) {width: 80px;}
  }

  & thead > tr > th[order] {
    cursor: pointer;
    &:hover { opacity: 1; }
    > i {
      display: none; padding-left: 8px; font-size: 11px;
      &.fas { display: initial; }
    }
  }

  & tbody > tr {
    height: 46px;
    text-align: center;
    opacity: 0.8;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 100ms;
    background: var(--component);
    user-select: none;

    &:hover:not(.noHover) {
      background: var(--highlight);
    }

    & >td:nth-child(1) { width: 50px; padding-top: 4px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
    & >td:nth-child(2) { text-align: left; padding: 0 20px; font-size: 14px; line-break: anywhere; }

    & >td:nth-child(n+3) { font-size: 13px; width: 80px; opacity: 0.6; }
    & >td:nth-child(4) { width: 100px; }
    & >td:nth-child(5) { border-top-right-radius: 5px; border-bottom-right-radius: 5px; } 
  }

  & tbody > tr.FiveSecLoad {
    // background-image: linear-gradient(45deg, var(--highlight-color), var(--rich-blue));
    background-image: linear-gradient(45deg, #b46c1d, #dba71f);
    background-repeat: no-repeat;
    background-size: 0px;
    animation: 2500ms linear load-animation;
    @keyframes load-animation {
      0% {background-size: 0px;}
      100% {background-size: 100%;}
    }
  }
}

folders.baseFolders {
  height: 130px;
  >div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(80% / 5);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-strong);
    transition: all 200ms;

    &:hover, :focus {
      >div {
        height: 100%;
        transform: none;
      }
    }

    *:not(div) {
      user-select: none;
      z-index: 2;
    }

    img { place-content: center;  }
    p { font-size: 15px; }
    div {
      position: absolute;
      height: 60px;
      width: 100%;
      border-radius: 5px;
      transform: translateY(28px);
      transition: all 300ms;

      background: var(--component);
    }
  }
}

recents.recentFiles {
  max-height: 60px;
  flex-wrap: wrap;
  gap: 1em;
  overflow: hidden;
  .toggleRecent {
    position: absolute;
    bottom: -15px;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--text-dull);
    border: 1px solid var(--component);
    background: var(--background);
    &:hover {
      color: var(--text-strong);
      border: 1px solid var(--feature);
      background: var(--feature);
    }
  }
  >div {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1em;
    max-height: 48px;
    min-width: 160px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    color: var(--text-strong);
    background: var(--frame);
    transition: all 200ms;

    &:hover, :focus { background: var(--feature); }
    img { max-width: 50px; }
    p {
      max-width: calc(100% - 70px);
      max-height: 51px;
      font-size: 14px;
      word-break: break-word;
      user-select: none;
      z-index: 2;
    }
  }
}


.searchContainer {
  position: absolute;
  height: 36px;
  width: calc(100% - 15px);

  &.searchActive {
    // TO match between siblings. ie: search:focus ~ .searchParams {width: 10%;} will set both search & searchParams width to 10% on search focus.
    // ~ .searchParams { }
    .search {
      width: 100%;
      padding: 1px 60px 0 5%;
    }
    .searchControls {
      width: 50px;
      pointer-events: all !important;
      >i.searchSubmit {
        opacity: 1;
        background: var(--highlight-color);
      }
      >i.searchParams {
        opacity: 0.6;
        right: 60px;
        
        &.active { background: var(--selected); opacity: 1; }
        &:hover { opacity: 1; }
      }
    }
  }

  input.search {
    width: 180px;
    color: var(--text-strong);
    background: var(--feature);
    z-index: 5;
  }

  button.searchControls {
    width: 40px;
    padding: 0;
    z-index: 6;
    pointer-events: none;

    color: var(--text-white);
    fill: var(--text-white);
    background: transparent;

    >i {
      font-size: 15px;
      display: grid;
      place-items: center;
      
      &.searchParams {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 3px;
        right: 20px;
        border-radius: 5px;
        opacity: 0;
        >svg {pointer-events: none;}
      }
      &.searchSubmit {
        height: inherit;
        width: inherit;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        opacity: 0.4;
      }
    }
  }

  > .search, .searchControls {
    position: absolute;
    height: 36px;
    right: 0;
    transition: all 300ms;
  }


  
  .searchDropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 42px;
    border-radius: 5px;
    z-index: 3;
    background: var(--feature);

    &.display {
      display: grid;
      padding: 10px 10px 30px 10px;
    }
    
    .searchInfoBtn {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 4px);

      &.searchLoadMore {
        background: #4285f433;
        color: #4285f4;
        &:hover {
          color: #f5f6f7;
          background: #4285f4;
        }
      }
      &.searchNoMatch {
        background: #e5332933;
        color: #e53329;
        cursor: default;
      }
    }
  }

  .searchParamsContainer {
    position: relative;
    height: 0;
    width: 50px;
    float: right;
    border-radius: 5px;
    overflow: hidden;
    transition: all 300ms;
    background: var(--highlight);

    &.display {
      position: relative;
      height: 120px;
      width: 100%;
      margin-bottom: 15px;
      padding: 5px 10px;
      z-index: 2;
    }

    >.searchSelectors {
      display: flex;
      flex-direction: row;

      form {
        display: flex;
        flex-direction: column;
        width: 25%;
        p {
          width: fit-content;
          margin-bottom: 5px;
          font-size: 15px;
          letter-spacing: 1.2px;
          font-variant: all-petite-caps;
          color: var(--text-strong);
          border-bottom: 1px solid var(--selected);
          user-select: none;
        }
        span {
          margin: 1px 0;
          label {
            position: absolute;
            font-size: 14px;
            margin: 0 0 4px 6px;
            color: var(--text-dull);
          }
          input[type=radio] {
            padding: 4px;
            border-radius: 10px;
            background-color: var(--component);
            -webkit-appearance: none;
            cursor: pointer;
            &:after {
              display: block;
              position: relative;
              height: 7px;
              width: 7px;
              border-radius: 50%;
              background-color: var(--feature);
              content: '';
            }
            &:checked:after {
              background-color: var(--highlight-color);
            }
          }
          input[type=checkbox] {
            height: 15px;
            width: 15px;
            font-size: 14px;
            text-align: center;
            background-color: var(--component);
            -webkit-appearance: none;
            cursor: pointer;
            &:checked:after {
              position: relative;
              top: -3px;
              content: '\2714';
              color: var(--highlight-color);
            }
          }
        }
      }
    }

    >.searchOptionInput {
      display: inline-flex;
      height: 30px;
      width: 100%;
      margin: 9px 0;
      border-radius: 5px;
      background: var(--feature);
    }

  }

  .searchResultsContainer {
    max-height: 90vh;
    overflow-y: initial;

    .searchResults {
      display: none;
      max-height: 300px;
      padding: 0;
      border-spacing: 0 1px;
      & tbody > tr {
        opacity: 1;
        background: var(--component);
        &:hover:not(.noHover) {
          background: var(--highlight);
          >td:nth-child(n+3) { opacity: 1; >i {opacity: 1;}}
        }

        >td:nth-child(n+3) {
          width: 50px;
          transition: opacity 200ms;
          >i {
            height: 36px;
            width: 36px;
            background: var(--frame);
            border-radius: 5px;
            padding: 11px;
            font-size: 14px;
            opacity: 0;
            transition: background-color 200ms;
            &:hover {
              background: var(--rich-blue);
              color: var(--text-white);
            }
          }
        }

      }
    }
  }

  .searchSuggested {
    display: none;
    >p {
      color: var(--text-dull);
      padding: 0 0 8px 10px;
      width: fit-content;
      font-size: 13px;
    }
    >ul {
      list-style: none;
      >li {
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 14px;
        color: var(--text-strong);
        border-bottom: 1px solid var(--highlight);
        cursor: pointer;
        >i {
          font-size: 13px;
          color: var(--selected);
          &:hover { color: var(--text-strong) !important; font-size: 15px; }
        }
        &:hover, &:focus {
          background: var(--highlight);
          >i { color: var(--text-dull); }
        }
      }
    }
  }
}

///////////////////////// Components /////////////////////////

.DragDropOverlay {
  &.display_Overlay { bottom: -10px; }

  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 25px;
  box-shadow: 0 0 60px 5px var(--rich-blue);
  background: var(--highlight-color);

  margin: 30px 0;
  z-index: 50;

  transition: bottom 300ms ease-in-out;

  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text-strong);
}

.Upload_Container {
  gap: 10px;
  
  position: fixed;
  max-width: 360px;
  width: 100%;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  
  > div {
    position: relative;
    width: 100%;
    border-radius: 5px;

    color: var(--text-strong);
    background: var(--feature);
    box-shadow: 1px 2px 3px 1px var(--theme);
  }

  .UC_Queue {
    display: none;

    max-height: 180px;
    height: initial;
    padding: 7px 10px;
    overflow-y: scroll;

    &::-webkit-scrollbar-track { background: transparent; }
    &::-webkit-scrollbar-thumb { background: var(--highlight); }

    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        height: 38px;
        transition: all 100ms ease-in-out;

        &:nth-child(n+2) {
          border-top: 1px solid var(--highlight);
        }
      
        &.waiting_upload:hover:not(.active_upload) {
          background: var(--highlight);
          box-shadow: -5px 0px 0 0px var(--red);
          transform: translateX(5px);
        }

        td {
          i {
            &.yellow { color: #ff8d00; }
            &.green { color: map-get($colors, PC_4) }
            &.dark_red { color: map-get($colors, PC_5) }
            &.red { color: red;}
          }
        }
        &.active_upload {
          background: var(--highlight);
        }
        &.paused_upload { border: 2px solid #ff8d00; }
        
        & td:nth-child(1) {width: auto; max-width: 200px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 10px;}
        & td:nth-child(2) {min-width: 65px; text-align: center; font-size: 13px; opacity: 0.7;}
        & td:nth-child(3) {width: 50px; font-size: 18px; text-align: center;}
      }
    }
  }

  .UC_Info {
    display: none;
    position: relative;
    height: 31px;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 600;
    transform: translateY(42px);
    transition: transform 300ms;

    >p { font-size: 14px; }

    &.notification {
      background: #ff980033;
      color: #ff9800;
    }
    &.error {
      background: #ff443a33;
      color: #ff453a;
    }
    &.success {
      background: #33c35733;
      color: var(--light-green);
    }

    i {position: absolute; right: 10px; top: 6px; font-size: 18px; cursor: pointer;}
  }

  .UC_Control {
    > div {
      height: 50px;
      padding: 10px;
      font-weight: 400;
    }

    .UC_Top {
      border-radius: 5px;
      background: var(--component);
  
      .Upload_Control {
        height: 34px;
        padding: 8px 14px;
        border-radius: 4px;
        font-weight: 400;
        background: var(--rich-blue);
        color: var(--text-white);
      }
      span {
        width: 100px;
        font-size: 20px;
        color: var(--text-dull);
        i {
          display: grid;
          place-items: center;
          height: 32px;
          width: 32px;
          border-radius: 20px;
          cursor: pointer;
          &:hover { background: rgba(0, 0, 0, 0.2); }
        }
      }
    }
  
    .UC_Bottom {
      button {
        width: 80px;
        background: var(--highlight);
        &:hover { background: var(--selected); }
      }
      p { font-size: 15px; }
  
      .Upload_Progress {
        visibility: hidden;
  
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: absolute;
        height: 31px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        background: var(--feature);
  
        > progress {
          height: 6px;
          width: 80%;
          border-radius: 5px;
  
          &::-webkit-progress-bar {
            border-radius: 5px;
            background-color: var(--selected);
          }
          &::-webkit-progress-value {
            background-color: var(--highlight-color);
            border-radius: 5px;
          }
        }
        > p {
          width: 40px;
          font-size: 14px;
        }
      }
    }
  }
}

.UploadBtns {  input { display: none; } }

.RightClickContainer {
  display: none;
  position: fixed;
  width: 180px;
  padding: 6px 3px;
  border-radius: 4px;
  z-index: 999;
  user-select: none;
  box-shadow: 1px 2px 3px 0px var(--theme);
  background: var(--component);
  color: var(--text-dull);

  > button {
    height: 32px;
    width: 100%;
    font-size: 14px;
    text-align: left;

    &:hover {
      box-shadow: 0 0 0 1px var(--rich-blue);
      background: var(--rich-blue-faded);
      color: var(--text-strong);
    }
  }

  > divide {
    display: block;
    margin: 6px;
    border-top: 1px solid var(--highlight);
  }
}

.colorContainer {
  position: absolute;
  height: fit-content;
  width: 200px;
  top: calc(50vh - 150px);
  left: calc(50vw - 100px);
  padding: 6px;
  border-radius: 5px;
  color: var(--text-strong);
  box-shadow: 1px 1px 3px 0px var(--theme);
  background: var(--feature);
  border-top: 15px solid var(--component);
  z-index: 999;
  cursor: all-scroll;

  > span {
    text-align: center;
    > i {
      width: 30px;
      padding: 7px;
      cursor: pointer;
    }
    > input {
      width: 95px;
      padding: 3px;
      text-align: center;
      border-bottom: 2px solid;
      border-radius: 0;
      color: var(--text-strong);
    }

  }

  .colorOptionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 9px;
    margin-top: 8px;
    cursor: default;
  
    > div {
      height: 29px;
      width: 29px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        border: 2px solid;
        border-radius: 4px;
      }
      &.selected {
        border: 3px solid;
        border-radius: 16px;
      }
    }
  }
}

.Switch {
  display: flex;
  position: absolute;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: var(--text-strong);
  background: var(--feature);

  >div {
    width: 50px;
    height: 24px;
    z-index: 2;
    user-select: none;
  }
  >.Slider {
    position: absolute;
    border-radius: 3px;
    z-index: 1;
    background: var(--highlight-color);
    transition: transform 250ms ease-in-out;
  }

  &.SW_DL > div {
    padding: 3px 0;
    font-size: 15px;
  }
  &.SW_View {
    width: 62px;
    color: var(--text-strong);
    .SL_View { width: 28px; background: var(--highlight-color);}
    >div { padding: 3px; }
    i { font-size: 15px; }
  }
  &.SW_Bin {
    position: relative;
    width: 320px;
    max-width: 100%;
    border-radius: 20px;
    >div {
      width: calc(100% / 3);
      border-radius: 20px;
      font-size: 14px;
      padding: 4px;
    }
    .SL_Bin {
      background: var(--selected);
    }
  }
}

.ExpandSpan {
  font-size: 15px;
  background: var(--feature);
  &:hover { opacity: 0.7; }

  &.VT_Block {
    position: absolute;
    right: 35px;
  }
}


.Filter {
  float: right;
  top: 2px;
  >i {
    position: absolute;
    padding: 9px 0 0 9px;
    font-size: 12px;
    opacity: 0.6;
    color: var(--text-dull);
  }
  >input {
    width: 100px;
    padding-left: 30px;
    font-size: 14px;
    transition: width 200ms;
    &:focus { width: 140px; }
  }
}


.section_Empty {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  place-content: center;
  gap: 10px;
  color: var(--text-dull);
  background: var(--frame);
  pointer-events: none;
  user-select: none;
  > div {
    text-align: center;
    padding: 0 10px;
    > p:nth-child(1) { font-size: 18px; font-weight: 600; }
  }
}



.Loading_SVG {
  position:absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);

  &.medium { max-width: 36px; }
  &.small { max-width: 24px; }
  &.button { max-width: 18px; top: calc(50% - 9px); left: calc(50% - 9px); }
  &.upload { position: relative; margin-top: 5px; }

  animation: 2s linear infinite svg-animation;
  max-width: 24px;
  circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: var(--text-strong);
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;

    @keyframes circle-animation {
      0%, 25% { stroke-dashoffset: 280; transform: rotate(0); }
      50%, 75% { stroke-dashoffset: 75; transform: rotate(45deg); }
      100% { stroke-dashoffset: 280; transform: rotate(360deg); }
    }
  }
  @keyframes svg-animation {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg) }
  }
}

.binSize_SVG {
  position: absolute;
  transform: rotate(-90deg);
  pointer-events: none;
  circle {
    fill: transparent;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    stroke-width: 10%;
    transform-origin: 50% 50%;
    transition: stroke-dashoffset ease-in-out 1s 500ms;
  }
}

///////////////////////// Global /////////////////////////
///////////////////////// Global /////////////////////////

.visible {
  visibility: visible !important;
}

.display {
  display: block !important;
  transform: translate(0, 0) !important;

  &.tableTemplate {display: inline-table !important;}
  &.info-popup { opacity: 1; transform: translate(-50%, 0) !important; }
}

.display-opacity {
  opacity: 1 !important;
}

.selected {
  background: var(--selected);
}

.ItemSelected {
  background: var(--rich-blue-faded) !important;
  box-shadow: 0 0 0 2px var(--rich-blue) !important;
  box-shadow: inset 0 0 0 1px var(--rich-blue) !important;
  transition: none !important;
  &:hover {
    background: var(--rich-blue) !important;
  }
}
.ItemHidden {
  display: none;
}

.no-select {
  user-select: none !important;
}

.selection-area {
  background: var(--rich-blue-faded);
  border: 1px solid var(--highlight-color);
  border-radius: 3px;
}

//////////////////// Colours /////////////////

.blue-light {
  border: 1px solid var(--rich-blue);
  background: var(--rich-blue-faded);
  color: var(--rich-blue);
  &:hover {
    background: var(--rich-blue);
    color: var(--text-strong);
  }
}
.red-light {
  border: 1px solid var(--red);
  background: #ff443a33;
  color: var(--red);
  &:hover {
    background: var(--red);
    color: var(--text-strong);
  }
}
.red-full {
  color: var(--text-strong);
  background: var(--red);
  &:hover {
    color: var(--red);
    background: #ff443a33;
  }
}



.red-text {
  color: var(--red);
  &:hover { color: var(--text-strong) !important; background: var(--red) !important; box-shadow: none !important; }
}
.disabled-text {
  pointer-events: none;
  color: var(--selected);
  background: var(--component);
}

// transition: background 2s;
// border: 1px solid #0000;
// background-image: linear-gradient(45deg, #005446, #39003f, #590000), linear-gradient(45deg, #007a65, #7f0e7f, #ff8983);
// background-clip: padding-box, border-box;
// background-origin: border-box, border-box;

///////////////////////////////////////////////

::-webkit-scrollbar { height: 5px; width: 7px; } // width: 5px
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb {
  border-radius: 4px; background: var(--frame); border: 1px solid var(--feature);
  transition: all 200ms ease-in-out;
  &:hover { background: var(--feature);} // background: var(--selected);
} // background: map-get($colors, PL_6);.dark-theme & {background: var(--highlight);}