<div class="ContentWrapper">
  <h1>Change Log</h1>

  <section> <!-- AUGUST 2021 -->
    <h2>August 2021</h2>

    <h4>Development Page (this page)</h4>
    <span>The development page's have been redesigned, assets updated and converted to a light-theme. General content has been edited too and <i>some</i> content has been updated. This change and styling was inspired by the <a href='https://developer.apple.com/design/human-interface-guidelines/macos/overview/themes/' target='_blank'>Apple development docs</a> and creates a standard for adding and updating new content.</span>
    <span><h5>Navigation</h5> has been improved, to changing the URL dependant on the page being viewed and improving the reliability of loading into a specific page. <small><i>(Sometimes this also used to cause the 'Nanode Development Portal' in the top left not to load.)</i></small></span>
    <span><h5>Loading</h5> into a new page also now displays one of two short loading animations. These last 500ms and are not shown upon re-visit to a page within the same session.</span>

    <h4>Server</h4>
    <span><h5>Image Thumbnails</h5> are now saved and served as an alternative to previously loading the image and downsizing it to a thumbnail (120x90px) before being sent to the client.</span>
    <sub>Serving a fullsize image at<b>(1600x900px @ 41.9KB)</b>vs a resized image and thumbnail at<b>(120x90px @ 2.9KB)</b></sub>
    <table>
      <thead><tr><th>10 Loads Each</th><th>Fullsize</th><th>Resized</th><th>Thumbnail</th></tr></thead>
      <tbody>
        <tr><td>Average time (ms)</td><td>145</td><td>87</td><td>61</td></tr>
        <tr><td>Time Percentage</td><td>100%</td><td>60%</td><td>42%</td></tr>
      </tbody>
    </table>

    <h4>Bin</h4>
    <span>The bin page has had some major functionality added. <b>Restore</b> and <b>Delete</b> now work! Simply click on a deleted item and click either action.</span>
    <ul>
      <li>Selecting <u>Restore</u> will move the item back to the original directory it was from, if deleted it will be moved to the <u>General</u> span on the homepage. After being restored, the information box will reload with a <b>Visit Restored Item</b> button to allow you to simply find it.</li>
      <li>Alternatively <u>Delete</u> will irreversibly delete the file or folder (and contents). This will free up space in the users account to upload more content.</li>
    </ul>
    <span><sub>Additional Changes</sub></span>
    <ul>
      <li>An empty bin section is now shown with a custom <a href='https://nanode.one/assets/nanode/empty_bin.svg' target='_blank'>Bin SVG Icon </a></li>
      <li>A refresh button <i class='fas fa-sync-alt'></i> has been added as the bin is not currently automatically reloaded when an item is deleted.</li>
      <li>A counter to show the number of items within a specific bin section has been added.</li>
      <li>Changed the bin size information circle to display the total bin size more clearly.</li>
    </ul>

    <h4>Search</h4>
    <span><h5>Parameters</h5> controlling <b>Within</b>, <b>For</b> and <b>Include</b> have been added to the search options. These parameters are saved to local storage and persist between sessions. See <a href='https://dev.nanode.one/#nova' target="_blank">Nova Development page</a> to learn more about what these parameters allow users to do.</span>
    <span><h5>Results</h5> with greater than 5 items now show a 'Load More' option. Clicking on this button navigates the user into a directory specifically showing only the results of the search. Navigating out of this directory will not allow the user to navigate back into it. <h6>Uploading or Folder creation within this directory is disabled.</h6></span>

    <h4>Skeleton Loading</h4>
    <span>To better inform users of an active load or directory change during a slow connection or issue, after 500ms a 'skeleton' directory is loaded, to simulate the location of the directory being fetched. <small>As of the end of August this only affects the Homepage directory (in list view) and child directories (in list view)</small></span>

    <h4>Misc Features</h4>
    <ul>
      <li><h5>Login Page</h5> now loads the relative page (Signup / Login) dependant on the URL. <code>account.nanode.one/login#signup</code> and <code>account.nanode.one/login#login</code>. Switching between the two also changes the URL to allow easy navigation back to the page.</li>
      <li><h5>Drive Page Title</h5> now changes dependant on the directory the user is in. This helps with navigating browser tabs while multiple different pages of nanode are open.</li>
      <li><h5>Drag Selection</h5> boundaries have been improved and no longer overflow onto items un-able to be selected. This also fixed an issue where input boxes wouldn't allow the selection of text.</li>
      <li><h5>Filter</h5> now uses the items converted size rather than byte size for matching. This update also removed unintentional filters such as <em>'Object'</em> matching all items.</li>
      <li><h5>The Flow of your Data</h5> section has been added to nanode.one and <em>will</em> link to an information page explaining more about Nanode's architecture in the future.</li>
    </ul>
    
    <h4>Code</h4>
    <span>Major rewrites and code cleanup... yes there has been an awful lot lately. It's for creating a standard that is easily read, understood and built upon. These rewrites / restructuring affect core systems of the front-end and separate functions into their own, controllable parts. This has seen a decrease in the lines of code required to perform the same or more actions as well as a reduction in memory.</span>
    <ul>
      <li><h5>Global Functions and Variables</h5> are accessible via the Primary class: <code>App()</code>, <code>Main()</code> and <code>BinController()</code></li>
      <li><h5>Settings Controller</h5>, now rewritten, can be re-initiated with <code>Settings.Session()</code> and has converted settings access from <code>UserSettings.local / .user</code> to <code>Settings.Local / .User</code>. Initiating the function will load and update the settings again.</li>
      <li><h5>Right Click</h5> code has been shuffled and cleaned and is now a persistent class which saves its state without public variables.</li>
      <li><h5>Information Popups</h5> have been improved <code>N_.InfoPopup({parent:element, type:'info, success, error, warning', text:string, displayDelay:milliseconds, displayTime:milliseconds})</code> to support different alerts, colouring and display times. More warnings are using this, such as a new Internet connection checker, see: <code>App.InternetConnection</code>, to alert users of a drop in their connection and when to signal when it is restored.</li>
      <li><h5>SelectItem()</h5> has had jQuery removed from it and bugs fixed to improve reliability.</li>
    </ul>

  </section>

  <section> <!-- JULY 2021 -->
    <h2>July 2021</h2>

    <h4>Selection</h4>
    <span>Selecting items has been vastly improved and made more reliable.</span>
    <ul>
      <li><h5>Drag Selection</h5> - Added a windows style drag-selection feature, via <a href='https://github.com/Simonwep/selection' target='_blank'>this helpful library by Simon Wep</a>. This enables the easy selection of multiple items.</li>
      <li><h5>Selected Nodes</h5> - is now a javascript Set. Initial oversight allowed for the selection of the same item multiple times, causing issues.</li>
    </ul>

    <h4>Search</h4>
    <ul>
      <li><h5>Recent Searches</h5> are now saved locally and recommended when opening an empty search input. This saves the most recent searches upto 5, and allows for you to quickly enter the search term. These can be removed via an <i class="fas fa-times"></i> on the right-hand side. <small><i>Currently these results do not save any parameters of the search, only the input.</i></small></li>
      <li><h5>Styling</h5> of search has also been improved, to add a Search icon <i class="fas fa-search"></i> and a new Parameter icon <sub><svg width="24" height="24" viewBox="0 0 24 24"><path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z" class="active"></path></svg></sub>. View <a href='/#nova' target="_blank">Nova Search</a> to see these.</li>
    </ul>

    <h4>Order</h4>
    <span>Added a new order functionality to table rows via clicking on the <b>Size</b> or <b>Modified</b> column headers. This cycles between the Newest or Largest <i class="fas fa-chevron-up"></i>, The Oldest or Smallest <i class="fas fa-chevron-down"></i> and back to the original again. The directories final order is temporarily saved and means refreshing or navigating back into the directory will load the content in the same order.</span>

    <h4>Preview</h4>
    <span><h5>Open in New Tab</h5> is a new option when right-clicking an image. <h6>Note: Sharing the URL will not allow others to view the image, the URL will only show the image to the account that owns the file and currently logged in. The <u>only</u> way to share a file is via a generated link (at the bottom of the items details panel) or via a sharable download link.</h6></span>


    <h4>Misc</h4>
    <ul>
      <li><h5>Global Nanode Icon</h5> - 30px by 30px square with a 5px border radius, within a 20px by 20px nanode logo.</li>
      <li><h5>Login</h5> - Improved design of the <a href="https://account.nanode.one/login" target="_blank">Login Page</a> as well as improvements and reduction to the code. As a part of this the HTML page is no longer re-rendered when switching between Signup and Login and instead just changes the values and text.</li>
      <li><h5>Nanode helper functions</h5> are now referenced with N_.Example() instead of N_Example(). This includes the addition of N_.FadeInOut() as a new and improved non-jQuery alternative to startFocusOut() (Used to control off-clicks on elements such as the context menu.)</li>
      <li><h5>Navigation and Directory Path</h5> improvements were made to make the functions work correctly with visiting different directories via non-traditional methods.</li>
      <li><h5>Base file images</h5> have been added to the file icon handler, meaning a file of mimetype text/example, despite not being referenced will still be distinguishable with the base text file icon.</li>
      <li><h5>Nanode Policy</h5> in a basic form has been added to the bottom of the <a href="https://account.nanode.one/" target="_blank">Account Page</a>.</li>
    </ul>

  </section>

  <section> <!-- JUNE 2021 -->
    <h2>June 2021</h2>

    <h4>Homepage Folders</h4>
    <ul>
      <li><h5>Base Folders</h5> - The initial starting folders of 'Documents, Games, Media, Music and Notes', now have their own section and design to distinguish them.</li>
      <li><h5>Recent Files</h5> - A new API has been built to fetch, view and go to recently opened or edited files. <i><h6>Folders could be added in the future.</h6></i> This is a local toggle-able setting. <code>https://drive.nanode.one/activity/recent/main</code>. The API saves upto the last 8 unique recently viewed or edited files, however it is not fully reliant at this stage and can be slowly reduced to hold 0 items. I do not know why.</li>
    </ul>

    <h4>Preview</h4>
    <span>Simply click on a file to view it.</span>
    <ul>
      <li><h5>Font</h5> - This preview shows 0-10, a-z and A-Z using the selected font. This works via loading the font into css and rendering it.</li>
      <li><h5>Audio</h5> - This is currently un-styled and lacks the ability to skip through the audio / song.</li>
    </ul>

    <h4>Styling</h4>
    <ul>
      <li><h5>Modes</h5> - Darkmode, and soon Lightmode, will use global :root colours instead of SCSS defined variables. This will allow for other Colour Styles to be optional in the future, and possibly cleaner, smaller CSS files too.</li>
      <li><h5>Right-Bar</h5> - has been redesigned slightly to work in seperated segments.</li>
      <li><h5>File Move</h5> - has recieved a 'hover over wait' loading animation to help show how long you must hover over a folder and wait, to load into it. Set to 2.5 seconds.</li>
      <li><h5>Icons</h5> - a start on New File Icons has been done, with them soon to be added.</li>
      <li><h5>Empty Folders</h5> - opening an empty folder now shows an image to prompt the user how to upload / create new items.</li>
      <li><h5>Bin Usage</h5> - the bin page now features an updated Use-Breakdown and Use-Information.</li>
    </ul>

    <h4>JS Cleanup</h4>
    <ul>
      <li>New global API's handle traffic to the server, along with many other repetative code being converted to an seperate function.</li>
      <li>Area's of code have been coverted to Classes, including: 'ColorPicker, Popups, Security Input and Rightclick'</li>
      <li>Lots of code has been read through and reduced for legibility and optimisation.</li>
      <li>The RightClick handler has had some changes to improve the way of adding new options and new rightclick elements.</li>
    </ul>

    <h4>Server</h4>
    <span>A new function to handle replies to the client. <code>Send.Message(Response, statusCode, Data)</code></span>
    <span>Cloudflare <i><h6>should</h6></i> now save static content to serve requests faster.</span>

  </section>

  <section> <!-- MAY 2021 -->
    <h2>May 2021</h2>

    <h4>Upload Improvements</h4>
    <span>Further improved on upload.</span>
    <ul>
      <li><h5>Notifications</h5> - New notification popup for completed / successfull uploads, failed uploads and warnings.</li>
      <li><h5>Storage Checks</h5> - Unlimited storage is no more! Client side (and server side) now use the account plan as a limiter to warn and prevent excessive upload.</li>
      <li><h5>Queue Removal</h5> - Hover over an item in the upload queue and click to remove it. This updates against any storage limit warning to let you know when you are ready to go.</li>
      <li><h5>Pause / Continue</h5> - Finally added the ability to Pause... Wait... Continue! uploading files. This only works in the same session. Closing the page will forget where you were.</li>
    </ul>

    <h4>Settings</h4>
    <span>Cleaned out unused settings and updated the API to fetch them. <code>await App.API_Fetch({url: '/account/settings'})</code> Will request your settings from the server. View the <code>Settings.User</code> or <code>Settings.Local</code> variables, in the console, to see your account and local settings.</span>

    <h4>Multiples</h4>
    <span>Updated the server API for 'edits' (which handles file moves, and Node data ie: name) to be able to process multiple items at once. Hold down <code>Shift</code> and click on files to select multiple, then drag and drop them to where you want!</span>

    <h4>A Whole New... Homepage</h4>
    <span>Updated and launched the Nanode homepage to the new design! This also includes full mobile support and some swanky animations.</span>

    <h4>Files</h4>
    <span>Client Side Styling in SCSS, JS and HTML have all been scowered and cleaned to reduce their size and make it easier to add new features. The layout of assets has also been changed slightly to differentiate between seperate areas.</span>
    <span>The client side wasn't the only receiver of this frenzy, the server also went through major changes to its file/folder layout and sizing.</span>

  </section>

  <section> <!-- APRIL 2021 -->
    <h2>April 2021</h2>
    <!-- <span>Hired at Facebook</span> -->

    <h4>SocketIO Removal</h4>
    <span>SocketIO has been 90% removed, any presence of it is for <h6 style="font-style: italic;">possible</h6> future reference / implementation.</span>
    <span>This also included a bit of a server cleanup and removal of legacy code.</span>

    <h4>Nova Search</h4>
    <span>Parameters dropdown has had some initial styling added to it.</span>

    <h4>Pages & Homepage</h4>
    <ul>
      <li>New Homepage has had continued work, in styling and content.</li>
      <li>Homepage: Many new custom SVG Icons have been created. (Features, Files & Future and Servers)</li>
      <li>Homepage API call to <code>https://nanode.one/check</code> in order to recieve if a user is logged in or not.</li>
      <li>Development Pages have had some styling and visual improvements. This is very needed, but low on the list of important focus.</li>
    </ul>

    <h4>Server</h4>
    <ul>
      <li><h5>Activity Log</h5> - To help find issues, an activity log Middleware has been added.</li>
      <li><h5>Account</h5> - An improved method to read and write account information has been added to reduce development time of new features.</li>
    </ul>
  </section>

  <section> <!-- MARCH 2021 -->
    <h2>March 2021</h2>
    <!-- <span>Prep for Facebook</span> -->
    <h4>SocketIO Removal</h4>
    <span>SocketIO has been very useful, but it is now being phased out of Nanode as our current uses of it can be done without. Saving on initial load times by not needing to download the package and initiate a connection. SocketIO also caused issues with Nord Auth, due to SocketIO not being able to assign new cookies from the server reliably, meaning if a cookie runs out while using Nanode and the clients next request to the server is through SocketIO (ie: Calling an item's information) The server would update the database but the client wouldn't recieve the new session and log the client out on the next request. A loss of connction to the server would also require the client pressing a button to reconnect. Bad user experience.</span>
    <span>The Socket API's have been re-written and added to the drive subdomain. Including: '/share', '/edit', '/create'</span>

    <h4>Navigation</h4>
    <span>Navigation has been reworked to be more reliable. This includes new API handlers to accurately request and handle directory information.</span>

    <h4>Bin</h4>
    <span>API work and processing of the clients Bin Size has been added, with an initial loading animation.</span>

    <h4>Nova Search</h4>
    <span>The long awaited search functionality has been implemented, well... some of it. The start of it. Really just the bare bones. But its happening!</span>
    <span>Nova Search will allow for returning Nodes (folders and files) that meet certain parameters. Learn More at <a href='/#nova' target="_blank">Nova</a></span>

    <h4>Misc</h4>
    <ul>
      <li>More work has been done on the new homepage, content and styling.</li>
      <li>Visit <a href='https://speech.nanode.one/'>Nanode Speech</a> to see a currently useless page utilising the inbuilt speech API. Currently only works on Google Chrome. Maybe for Search???</li>
    </ul>

  </section>

  <section> <!-- FEBRUARY 2021 -->
    <h2>February 2021</h2>

    <h4>Pages Return</h4>
    <span>Converted drive pages into seperate HTML documents to reduce initial load and help segregate unrelated code.</span>
    <span>The pages contain: PageContainer (Header + Center), PageInformation (Right Bar)</span>
    <span>The Bin Page has been further developed, and added.</span>

    <h4>New Pages</h4>
    <span>Starting work on a new nanode.one homepage.</span>
    <span>Account Page small Improvements</span>
    <sub><code>https://dev.nanode.one/design</code> Removed (11/06/2021)</sub>

    <h4>Assets</h4>
    <ul>
      <li>Poster Image</li>
      <li>Github Preview Image</li>
      <li>Nanode Circle Logo</li>
    </ul>

    <h4>Server</h4>
    <ul>
      <li>Global Error Page response fallback across the site</li>
      <li>BUG FIX: Nord Middleware moved from being global to on the required APIs due to ALL static content requests also running through Authentication.</li>
      <li>Clean up and imrpovement of Nord Auth Middleware to be more reliable and easier to debug.</li>
      <li>Added additional Account options for future use. 'Photo', 'Password Length' (USED AS AN ASSISTANCE ON THE ACCOUNT PAGE TO HELP REMEMBER A FORGOTTEN PASSWORD. Google does this.)</li>
      <li>New functions to handle database requests and formatting.</li>
    </ul>

  </section>

  <section> <!-- JANUARY 2021 -->
    <h2>January 2021</h2>
    <h4>API</h4>
    <span>Continued re-write of client-side API calls and handling.</span>
    <ul>
      <li>User storage now fetch's the users usage and maximum.</li>
      <li>Download page update, to work with new API and addition of a download counter.</li>
    </ul>

    <h4>User-Interface</h4>
    <ul>
      <li>Creation of a light & dark theme colour-palette.</li>
      <span>
        <h5>Dark - </h5><a class='small-link'>https://coolors.co/080a0e-191b1e-1e2126-282c32-3d444a-565b61-83898f-cacccf-f5f6f7</a>
        <img style="display: block; max-width: 90%; margin-top: 10px;" src="/assets/dev/changelog/jan21/dark_colour_palette_two.png" alt="Dark Colour Palette" target="_blank" onclick="window.open('/assets/dev/changelog/jan21/dark_colour_palette.png', '_blank');" loading='lazy'>
      </span>
      <span>
        <h5>Light - </h5><a class='small-link'>https://coolors.co/080a0e-191b1e-cacccf-e1e2e4-e8e9eb-eeeff1-f5f5f7-fbfbfd-fefefe</a>
        <img style="display: block; max-width: 90%; margin-top: 10px;" src="/assets/dev/changelog/jan21/light_colour_palette.png" alt="light Colour Palette" target="_blank" onclick="window.open('/assets/dev/changelog/jan21/light_colour_palette.png', '_blank');" loading='lazy'>
      </span>

      <li>Combined 'Frame', Nav controls, Location, Search into one main top-bar.</li>
      <li>Added back list / block view button, with a new animated slider.</li>
      <li>Changed the icon of light / dark theme button to now relate to the current theme.</li>
      <li>Spaced out item information to make it easier to read.</li>
      <li>Updated colors of right-click, upload, color picker and pop-ups.</li>
    </ul>

    <h4>Misc</h4>
    <ul>
      <li>Updated Selection and De-selection of items, allowing for an action to affect all selected. (Currently - Deleted & Download)</li>
      <li>Selected items can be de-selected by clicking anywhere on the page.</li>
      <li>List items, block items and spans have had 'rename' imrpovements.</li>
      <li>Custom tools have been renamed to start with 'N_', with unused funtions being removed.</li>
    </ul>

  </section>

  <section> <!-- DECEMBER 2020 -->
    <h2>December 2020</h2>
    <h4>Server Rewrite. Introduction of Node - Nano - Space</h4>
    <span>To move inline with user-account storage, authentication and links, users file-data was migrated from JSON files to a MongoDB document, allowing for faster reads, better RAM usage and the ability to use their inbuild tools for queries and editing.</span>
    <span>This months updates, due to the change to MongoDB reworked ALL API calls, this will help massively for the implementation of new features.</span>
    <span>Altered the code referring to security checks to improve performance and reliability.</span>
    <span><h6>I am now referring to 'file meta-data' to a 'Node' and its corresponding file as a 'Nano'</h6></span>

    <h4>The structure of a users Space</h4>
    <span>The users Space is broken down into different 'sections', main/codex/blocks/bin. Nodes (The relating data to a file) can be moved across sections, but cannot reference a Node in another section. The users Space also stores; Recently accessed files, homepage views and a copy of the users storage the allocation.</span>
    <ul>
      <li><h5>Size</h5> - Total, bin, max. Stores the total allocated space, as well as what a breakdown of each file-types usage.</li>
      <li><h5>Recent</h5> - Not yet used, but saves and array of Node ID's for the most recently accessed folders / files in a set section.</li>
      <li><h5>home</h5> - The Nodes in which to read first when accessing a section. Main for example has an array of the users spans and their corresponding Node ID.</li>
      <li><h5>main</h5> - Main, Codex, Blocks and Bin all have their own tree, to distinguish for searching. These sections store the Nodes within.</li>
    </ul>

    <h4>A Node</h4>
    <span>The node is the meta-data referring to an item, (file, folder, block, ...).</span>
    <span>The Node points to other Nodes, eg: Parent, Files within (if folder), Nano (if file) and its owner.</span>
    <img src="/assets/dev/changelog/dec20/node.png" alt="Node Code (carbon)" loading='lazy'>

    <h4>Folder Contents</h4>
    <span>If the Node is a folder that contains a file, contents will contain the following 'Short-Node'. Storing a Short-Node, allows for only one request for MongoDB to handle, being to return the Node relating to the folder's ID. The information within a 'Short-Node' is enough to provide the user-interface.</span>
    <img src="/assets/dev/changelog/dec20/short_node.png" alt="Short-Node Code (carbon)" loading='lazy'>



    <h4>Small Tweeks</h4>
    <ul>
      <li>Finishing touches to the upload system in November, removing any bugs noticed.</li>
      <li>A handful of design changes</li>
      <li>Improved mobile view</li>
      <li>Image, video and Text API updates to move away from SocketIO, as well as loading icons.</li>
      <li>Removal or rewrite of legacy and rushed code, renaming of various variables and functions.</li>
    </ul>
  </section>

  <section> <!-- NOVEMBER 2020 -->
    <h2>November 2020</h2>
    <h4>Nord</h4>
    <span>Account authentication API has been developed, using a custom version of the JWT protocol. Nord grants 20 minute access to an account before checking with the database that the token has not been tampered, account access is still granted and the device is still the same.</span>

    <h4>Moving away from <a href="https://socket.io/">SocketIO</a></h4>
    <span>SocketIO has drastically made the development of Nanode easier, though to move inline with industry standards, web-sockets are being replaced by standard fetch/push to urls.</span>
    <span>Folder call, Item information and actions are being migrated.</span>
    <span>Due to SocketIO still being in use, a try/reconnect button has been added to assist users if the socket dies.</span>

    <h4>Yet another design overhall.</h4>
    <span>Continuing on from october, designs of main features and the layout have been changed in the quest to find the perfect colours, minimalism and fonts.</span>

    <h4>Upload Overhall</h4>
    <span>In line with moving away from SocketIO. Upload has been reworked.</span>
    <span>Simply replacing the API was not enough, as limitations of sizes started to play a part. Limiting at 5MB.</span>
    <span>Although the 5MB could be increased, now sitting at 50MB per call, the idea of uploading large files revealed more issues.</span>
    <span>To combat broken connections, and to provide users with information about their upload, I settled on chunking files into 2MB pieces, uploading a piece, logging it to the user, and writing the chunk. The server then responds the status, successfull, or not and requests the next chunk. The time between send and recieve is logged and allows the client-end to estimate the upload time, as well as percentage. Once all chunks are uploaded, the completed file is moved into the mass storage, the files metadata is created and the next file is requested.</span>
  </section>

  <section> <!-- OCTOBER 2020 -->
    <h2>October 2020</h2>
    <span>Item information total rework, moving to a new API: drive.nanode.one/user / x / x / x and opening side-bar</span>
    <span>More precise logging of activity times when an item is uploaded or accessed.</span>
    <span>Server change of the returned clipped image, accepting null. <code>storage/ <i>objectID</i> ?h=128&w=null</code></span>
    <span>More helpful functions to the client side: RGBtoHEX / Date&Time converter / capFirstLetter / ItemImage / ItemChecker</span>
    <span>Rework and condense of the file display system. No longer two different functions for homepage and non homepage.</span>
    <span>Download Rework 2, improving and reducing code. No longer calls user-file</span>
    <span>Easier methods to read and write account information on the server, reducing development time for account information related features.</span>
    <span>Generating a share link has been developed alongside Item Information, storing the URL, owner, nanoID, fileName and mimetype</span>

    <h4>Directory Path Rework</h4>
    <ul>
      <li>Rework to the directory path system with a new design and features.</li>
      <li>Added Forward / Backward / Home and Navigation buttons</li>
    </ul>

    <h4>Drag and Drop</h4>
    <ul>
      <li>Drag Files and Folders into and out of directories, between spans.</li>
      <li>Navigate into folders by holding another item over it for 2 seconds. <h6>List View Only</h6></li>
      <li>Drag and drop only activates for files & folders, no longer causing an upload error on text selection.</li>
    </ul>

    <h4>Mobile</h4>
    <span>Rework of the mobile navigatio bar to allow access to the left bar.</span>

  </section>
  
  <section> <!-- SEPTEMBER 2020 -->
    <h2>September 2020</h2>
      <h4>General</h4>
      <ul>
        <li><u>Performance and Cleanup</u> - Server and Client Side cleanup and code reductions. Minified CSS/HTML/JS Files to improve load times. Multiple functions converted to asynchronous. Removal of unused classes and instances of identical ID/Class on elements.</li>
        <li><u>Startup</u> - Added 'General' span underneath Master Folders. This span <h6>cannot be renamed</h6>.</li>
        <li><u>Bug Fixed</u> - where the initial creation of the master folders would be run on each login, changing pointers to new empty folders. (didnt remove old ones from user-file)</li>
      </ul>

      <h4>Panels</h4>
      <span>Further work on the left-bar panels, including a standardized design and layout, with animated hot-switching between.</span>
      <!-- <div>Panels: <h6>Settings, Bin and Codex are almost fully complete.</h6></div> -->
      <ul>
        <li>Settings - Still to be Added: (Bin Count, Timezones, Locked Icons, Last Accessed, Starting Directory, Lock all Links) All others functional.</li>
        <li>Bin - Functional, can view deleted <h6>single</h6> files and either permanantly delete or retrieve them. Still no limit on size or items.</li>
        <li>Codex - Added audio player for uploaded audio files using a much simpler, efficient system than Alpharium via streams from file urls. Only volume left.</li>
        <li>Codex - Added Folders and Sub-directories to help sort and order files in the codex. Can view all sub-items in folders. Works using recursion.</li>
      </ul>

      <h4>Development Portal</h4>
      <span>Development Portal Added, with pages currently being completed and a standardized layout finalized.</span>

      <h4>Drag and Drop</h4>
      <span>The movement of files and folders is being worked on, with most server-side systems in place and functional. This is being done using, <a href="//javatpoint.com/jquery-ui-sortable">jQueryUI Sortable</a> </span>
      <span>Current implementation is only on codex for moving files into and back out-of folders. (No folder movement or order change)</span>
      <span>No current mobile drag and drop at the moment, and it won't be looked into until after the desktop version is finalized and implemented.</span>
  </section>

  <section> <!-- AUGUST 2020 -->
      <h2>August 2020</h2>
        <h4>Alpharium to Nanode</h4>
        <span>Conversion of Alpharium to Nanode, with new assets, new domain and new back-end file layout being completed. With this change comes the foundation for new features and additional support for existing features.</span>
        <span>A new 'PCB' styled section has been added to highlight basic features, as well as a coloured flow-chart and labelling to display how an action is carried out.</span>
        <span>This re-design also moves away from using pre-designed public SVG's and icons, towards custom ones for improve continuity and design style. Until all icons are changed, shout-out to <a href="//fontawesome.com">Font Awesome</a>, <a href="//icons8.com">Icons 8</a> and <a href="//material.io">Material IO</a> for usage of their icons.</span>

        <h4>Download</h4>
        <span>You can not download files and folders!</span>
        <span><code>Right-Click > Download</code> to add a file / folder to the download list one at a time or:</span>
        <span><code>With Details On, Left Click to Select an Item, Hold SHIFT, and click on other items to select multiple, then Right-Click > Download</code> This will add all files Selected to the download list.</span>
        <span>Click download to start the download of the files. <h6>Note: Duplicates of a file are not downloaded.</h6> These files will be downloaded as a Zip. To Un-Zip the file and retreive your items:</span> <code>Find the File Location, Right-Click > Extract Here. This creates folder: 'Download'. Open to view your downloaded items.</code>
        <span>To read more about how the Download process works, Explore <h5>Development Portal > Calls > Read > Downloads</h5></span>

        <h4>Additional Drive Pages - Panels</h4>
        <span>This update added the addition of differing Pages. <h6>Note: Being a Major Features, these pages are undergoing development at different stages.</h6></span>
        <span>Pages: Contacts, Panels, Codex, Bin and Settings. Have been added, along with the selector to access them. These pages heavily link into the future of Nanode and what our goal is.</span>
        <ul>
          <li><h5>Contacts</h5> - Featuring Groups and Private Chats, Contacts will be a File Sharing and Basic Messaging Page for the communication between users.</li>
          <li><h5>Panels</h5> - A Grid of Large Blocks will act as major 'hubs' for related content. Websites, Videos, Folders, Lists, all with custom easy-to-see designs.</li>
          <li><h5>Codex</h5> - This Page features 3 main headlines: Notes - Videos - Music. This is a list-style file-system to write, view, listen and upload content of a specific type.</li>
          <li><h5>Bin</h5> - Didn't mean to delete that file? Visit the bin to view and retrieve your last 10 deleted files without a worry.</li>
          <li><h5>Settings</h5> - Make Nanode your own, change styles, colours, limits, security, backgrounds and more...</li>
        </ul>
  </section>

  <section> <!-- JULY 2020 -->
      <h2>July 2020</h2>
      <h4>Bin</h4>
      <span>Addition of back-end support for numerous systems, including a bin for deleted files. Full support for the bin, including its interface and functions will be added in August. The bin addition and general clean-up of the read / write code has allowed for faster, more secure and less buggy general systems.</span>
  </section>

  <h6>Logs Before This Point are to be Added Later</h6>

</div>