<div class="ContentWrapper">
  <h1>Incoming</h1>

  <section style='border: none;'>
    <h4>Image Recognision and object detection - In Prototype Phase</h4>

    <li>Experimenting with Tensorflow to classify images into sections and detect objects for use in search.</li>
    <li>This process is running with python for its superior speed.</li>

    <b> <u>Current Progress:</u> The program is able to take an image and successfully detect objects within. (You can see how it got fish too right? ...right?)<br>The next step is to classify the image into the 'animal' section. Such that a search for animals would return the image.</b>
    <span>
      <img src='/assets/tensorflow/test.jpg' target="_blank" alt='Unlabled Image' onclick="window.open('/assets/tensorflow/test.jpg', '_blank');"></img>
      <img src='/assets/tensorflow/test_result.jpg' target="_blank" alt='Labeled Image' onclick="window.open('/assets/tensorflow/test_result.jpg', '_blank');"></img>
    </span>

    <b>Facing an issue with image classification at the moment... Something about the labels is wrong.</b>
    <span>
      <img src="/assets/tensorflow/sunflower.jpg" alt="A sunflower">
      <img src="/assets/tensorflow/shower_curtain.png" alt="The program claiming its a shower curtain">
    </span>
  </section>


  <section style='border: none;'>
    <h4>Search - In Development</h4>

    <li>Search By: Colour, Type, Date, Size</li>
    <li>Search Only For: Folders, Files, Shared Items</li>
    <li>Search Inside a folder or span</li>
    <li>Include Descriptions and Previous names in your search. </li>
    <li>For Date and Size: Provide two inputs, to search between two values.</li>
  </section>


  <section style='border: none;'>
    <h4>Account Page - In Development</h4>
      <b>The account page will lead the way into groups and user-to-user nanode sharing.<br>The page design, layout and backend features are currently being tuned.</b>
      
      <li>Public Username / Profile Image / Change Password / 2FA / ID / Email / Lock / Last Accessed</li>
      <li>Storage Summary -> Allocated / Used / Breakdown File Types</li>
      <li>Notifications, External shared file view count.</li>
  </section>


  <section style='border: none;'>
    <h4>Misc</h4>
    <li>Sort List By clicking on columns.</li>
    <li>File Move for Block</li>
    <li>Multi-Actions: Move, Selection Box</li>
    <li>Unique Icons for each program, for Non-Images</li>
  </section>


  <section style='border: none;'>
    <h4>Login</h4>
    <li>Remember this device. Keep me logged in. Forgot password. Login verfication.</li>
    <li>see: <a href='https://uidesigndaily.com/uploads/1083/day_1083.png' target="_blank">This Example</a></li>
  </section>

  <section style='border: none;'>
    <h4>New</h4>
      <li>Key Shortcuts</li>
      <li>Recents</li>
  </section>

  <section style='border: none;'>
    <h4>Groups</h4>
      <li>Different Share Options - Limited Amount viewing (Save Share State in object).</li>
      <li>List Page - Showing Links of 'Downloads', 'View' and 'Shared' files of yours or friends.</li>
      <li>Stop Sharing capability</li>
  </section>
</div>