<div class="ContentWrapper">
  <h1>Incoming</h1>

  <ul>
    <h4>Image Recognision and object detection - In Prototype Phase</h4>
      <li>Experimenting with Tensorflow to classify images into sections and detect objects for use in search.</li>
      <li>This process is running with python for its superior speed.</li>

      <h5><p>Current Progress:</p>The program is able to take an image and successfully detect objects within. (You can see how it got fish too right? ...right?)<br>The next step is to classify the image into the 'animal' section. Such that a search for animals would return the image.</h5>
      <span>
        <img src='/assets/tensorflow/test.jpg' target="_blank" alt='Unlabled Image' onclick="window.open('/assets/tensorflow/test.jpg', '_blank');"></img>
        <img src='/assets/tensorflow/test_result.jpg' target="_blank" alt='Labeled Image' onclick="window.open('/assets/tensorflow/test_result.jpg', '_blank');"></img>
      </span>

      <h5>Facing an issue with image classification at the moment... Something about the labels is wrong.</h5>
        <span>
          <img src="/assets/tensorflow/sunflower.jpg" alt="A sunflower">
          <img src="/assets/tensorflow/shower_curtain.png" alt="The program claiming its a shower curtain">
        </span>

        <gap style="display: block; height: 20px;"></gap>

    <h4>Search - In Development</h4>
      <li>Search By: Colour, Type, Date, Size</li>
      <li>Search Only For: Folders, Files, Shared Items</li>
      <li>Search Inside a folder or span</li>
      <li>Include Descriptions and Previous names in your search. </li>
      <li>For Date and Size: Provide two inputs, to search between two values.</li>

        <gap style="display: block; height: 20px;"></gap>
        
    <h4>Account Page - In Development</h4>
      <h5>The account page will lead the way into groups and user-to-user nanode sharing.<br>The page design, layout and backend features are currently being tuned.</h5>
      
      <li>Public Username / Profile Image / Change Password / 2FA / ID / Email / Lock / Last Accessed</li>
      <li>Storage Summary -> Allocated / Used / Breakdown File Types</li>
      <li>Notifications, External shared file view count.</li>

        <gap style="display: block; height: 20px;"></gap>

    <h4>Misc</h4>
      <li>Sort List By clicking on columns.</li>
      <li>File Move for Block</li>
      <li>Multi-Actions: Move, Selection Box</li>
      <li>Unique Icons for each program, for Non-Images</li>

        <gap style="display: block; height: 20px;"></gap>

    <h4>Login</h4>
      <li>Remember this device. Keep me logged in. Forgot password. Login verfication.</li>
      <li>see: <a href='https://uidesigndaily.com/uploads/1083/day_1083.png' target="_blank">This Example</a></li>

        <gap style="display: block; height: 20px;"></gap>

    <h4>New</h4>
      <li>Key Shortcuts</li>
      <li>Recents</li>

        <gap style="display: block; height: 20px;"></gap>

    <h4>Groups</h4>
      <li>Different Share Options - Limited Amount viewing (Save Share State in object).</li>
      <li>List Page - Showing Links of 'Downloads', 'View' and 'Shared' files of yours or friends.</li>
      <li>Stop Sharing capability</li>

        <gap style="display: block; height: 20px;"></gap>
  </ul>


  <!-- 
    <li>Drag and Drop Upload Re-do</li>
   -->

  <!-- <h2>In Current Development</h2>
    <h4>Panels</h4>
    <span>Final settings implementation and video / text codex panels.</span>
    <span>Rename codex items.</span>
    <span>Blocks page and website bookmarks</span>
    <h4>Accounts</h4>
    <span>Setup your account and view your information.</span>
    <span>Size logging, ui interface and internal tools on size allocation.</span>
    <h4>Navigation</h4>
    <span>Drag and Drop - Move around and re-order items in both Block and File view.</span>
    <span>Rework of main directory path system and re-addition of back/forward buttons.</span>
    <span>Keyboard keys and shortcuts to interact.</span>
    <h4>Icons</h4>
    <span>Custom self-hosted svg icons for continuity and improved load times.</span>
    <h4>Spans</h4>
    <span>Span customizability and in that manner increased options for folders + files too.</span>
    <span>Rework / Redesign / Improvement of the 'New x' page.</span>
    <h4>Welcome Introduction</h4>
    <span>Add a welcome / introduction to the 'General' span on creation to help show you around.</span>
    <span>File will be a 'global' file using new 'public' architecture. Shorter ID's ( 12 characters?) Sometime after groups? </span>


  <h2>Planned Development</h2>
    <h4>Sort-by</h4>
    <span>Order your files as you wish</span>
    <h4>Search</h4>
    <span>Alongside 'Details' additions 'Description', find the files your looking for</span>
    <h4>Drive Page - Groups and Friends</h4>
    <span>Send and manage files shared between groups and friends in a new Drive Page.</span>
    <h4>Security update 2.0</h4>
    <h4>Drive Page - Recents</h4>
    <h4>Video Thumbnails</h4>


  <h2>Concepts</h2>
    <h4>Tracking for Data</h4>
    <span>Pricing and Money tracking, graphing and analysis to help keep track.</span>
    <span>Sophisticated video streaming and management page for recordings.</span>
  

  <h2>Added</h2>
    <h4>Drive Page - Settings</h4>
    <span>Integration of the settings page on both the homepage and Drive.</span>
    <h4>Drive Page - Bin</h4>
    <span>Restoration and a new Interface</span>
    <h4>Drive Page - Codex</h4>
    <span>Music Streaming and Text Viewing</span> -->

  <!-- <h2>Main Titles</h2>
  <h3>Special Standout Sub Titles Info</h3>
  <h4>Small Titles</h4>
  <h5>This is green stand-out text</h5>
  <span>This is where the main body of text will go and will talk about different aspects. Inside of these spans will, maybe, be <a><span>Links to documents</span></a> and other relatives</span>
  <code>Highlighted Text and Code Examples</code>
  <div>Standout Boxes for special points. </div>

  <ul><li>Bullet</li><li>Pointed</li><li>Text</li></ul>
  <table><thead><tr><th>Three</th><th>Collumn</th><th>Table</th></tr></thead>
    <tbody><tr><td>The</td><td>Tables</td><td>Contents</td></tr></tbody>
  </table>
  <img src="/assets/Nanode/Nanode.svg" alt="An Image!"> -->

</div>