<div class="ContentWrapper">
  <h1>Nanode Development</h1>
    <span>Welcome to the Developer / Development Portal of Nanode. These pages have been put together to help understand and display how our systems work. These documents have also been created to assist in the future debugging and development of <a href="//nanode.one">Nanode</a>.</span>

  <h2>Disclaimer</h2>
    <span>This documentation will not usually be upto date. Nanode is in constant development and changes frequently. This does mean bugs are prevalent, especially on Mobile. You can view our <a href='/incoming' target="_blank">Incoming</a> section to see what bugs are know, as well as and features planned, or already in development.</span>
    <sub>Bugs cannot currently be reported. This is not a bug.</sub>

  <h2>History</h2>
    <h4>The Past</h4>
      <span>Nanode Started as a Python program that could read and write text files. It then became a simple HTML document of the same concept. From there my project became an <a href="//electronjs.org">Electron JS</a> program by the name <a href="//github.com/BenHinson/Alpharium">Alpharium</a>, sporting a fair few more features. Returning to a website and learning of SocketIO, Nanode was born.</span>
    <h4>The Future</h4>
      <span>As more people work remotely, files get larger, photos more defined, its important to have access. Sharing, collaboration, memories, ideas, logs, being able to save and see what you want, safely, simply and forever is what Nanode aims for. Connectivity to your content is the main goal, in both the UI design and our API and is an important reason for these documents.
    </span>

  <!-- <section class='no-border'>
    <h3>Special Thanks</h3>
    <span>This is a list of help, references and inspiration for both design and ideas.</span>
  
    <ul>
      <li><a href="//candyspace.com">CandySpace</a></li>
      <li><a href="//traversymedia.com">Brad Traversy</a></li>
      <li><a href="//stackoverflow.com">StackOverflow</a></li>
      <li><a href="//medium.com">Medium</a></li>
      <li><a href="//codecademy.com">Codecademy</a></li>
      <li><a href="//W3Schools.com">W3Schools</a></li>
      <li><a href="//FreeCodeCamp.org">FreeCodeCamp</a></li>
      <li><a href="//developer.mozilla.org">Mozilla Developer</a></li>
      <li><a href="//npmjs.com">Node Module Developers</a></li>
      <li><a href="//discord.com/developers/docs/">Discord Documentation</a></li>
      <li><a href="//css-tricks.com">CSS Tricks</a></li>
      <li><a href="//carbon.now.sh/?">Carbon</a></li>
    </ul>
  </section> -->
</div>