<div class="ContentWrapper">
  <h1>Introduction</h1>
  <span>Welcome to the Developer / Development Portal of Nanode. These pages have been put together to help understand and display how our systems work. These documents have also been created to assist in future debugging and development of <a href="//nanode.one">Nanode</a>.</span>

  <h2>In Current Development or soon - 21/10/2020</h2>
  <ul>
    <h4>Item Information | Overhall and Redesign</h4>
    <li>Times, Security, Share, Lock Button.</li>
    <li>Create Shortcuts. (show details > change directory > place shortcut here).</li>
    <li>Different Share Options - Limited Amount viewing (Save Share State in object).</li>

    <h4>Top Bar | Additions</h4>
    <li>Condense buttons a bit more.</li>
    <li>Directory Location should be    Homepage > > > Space    at longer things to keep space. On hover expand. Or make text smaller.</li>
    <li>Add search to the bar.   names / in details / type / size etc</li>
    <li>Use some custom svg assets for the icons.</li>

    <h4>Login | Overhall and Redesign</h4>
    <li>Remember this device. Keep me logged in. Forgot password. Login verfication.</li>
    <li>see: https://uidesigndaily.com/uploads/1083/day_1083.png</li>

    <h4>Accounts | Addition and Drive Call to it like settings?</h4>
    <li>Public Username / Profile Image / Change Password / 2FA / ID / Email / Lock / Last Accessed</li>
    <li>Storage Summary -> Allocated / Used / Breakdown File Types</li>
    <li>Notifications, External shared file view count.</li>

    <h4>Waiting to Be Done</h4>
    <li>Get codex text to work.</li>
    <li>Move files into Codex?</li>
    <li>Finish Settings</li>
    <li>Sort List By clicking on columns.</li>
    <li>Remove Frame Bar and Move over.</li>
    <li>Fix New Folder options container</li>
  </ul>



  <h2>In Development</h2>
  <span>Nanode is in constant development. This does mean bugs are prevalent, especially on Mobile. You can view our <a>Incoming</a> section to see what bugs and features are planned, or already in development.</span>
  <span>Bugs cannot currently be reported. This isn't a bug.</span>

  <h2>Future</h2>
  <h4>The Past</h4>
  <span>Nanode Started as a Python program that could read and write text files. It then became a simple HTML document of the same concept. From there my project became an <a href="//electronjs.org">Electron JS</a> program by the name Alpharium, sporting a fair few more features. Alpharium can be viewed <a href="//github.com/BenHinson/Alpharium">here</a>. Returning to a website and learning of SocketIO, Nanode was born.</span>
  <h4>The Future</h4>
  <span>As more people work remotely, files get larger, photos more defined, its important to have access. Sharing, collaboration, memories, ideas, logs, being able to save and see what you want, safely, simply and forever is what Nanode aims for. Connectivity to your content is the main goal, in both the UI design and our API and is an important reason for these documents.
  </span>

  <h2>Special Thanks</h2>
  <span>This is a list of help, references and inspiration both in design and ideas.</span>

  <ul>
    <li><a href="//candyspace.com">CandySpace</a></li>
    <li><a href="//traversymedia.com">Brad Traversy</a></li>
    <li><a href="//stackoverflow.com">StackOverflow</a></li>
    <li><a href="//medium.com">Medium</a></li>
    <li><a href="//codecademy.com">Codecademy</a></li>
    <li><a href="//W3Schools.com">W3Schools</a></li>
    <li><a href="//FreeCodeCamp.org">FreeCodeCamp</a></li>
    <li><a href="//developer.mozilla.org">Mozilla Developer</a></li>
    <li><a href="//npmjs.com">Node Module Developers</a></li>
    <li><a href="//discord.com/developers/docs/">Discord Documentation</a></li>
    <li><a href="//css-tricks.com">CSS Tricks</a></li>
  </ul>
</div>