<div class="ContentWrapper">
  <h1>Settings</h1>

  
  <h2>Main Titles</h2>
  <h3>Special Standout Sub Titles Info</h3>
  <h4>Small Titles</h4>
  <h5>This is green stand-out text</h5>
  <span>This is where the main body of text will go and will talk about different aspects. Inside of these spans will, maybe, be <a><span>Links to documents</span></a> and other relatives</span>
  <code>Highlighted Text and Code Examples</code>
  <div>Standout Boxes for special points. </div>

  <ul><li>Bullet</li><li>Pointed</li><li>Text</li></ul>
  <table><thead><tr><th>Three</th><th>Collumn</th><th>Table</th></tr></thead>
    <tbody><tr><td>The</td><td>Tables</td><td>Contents</td></tr></tbody>
  </table>
  <img src="/assets/nanode/nanode.svg" alt="An Image!">
</div>