<div class="ContentWrapper">
  <h1>Void</h1>

  <span>Void is a hybrid between cloud storage and confidentiality. Void works by providing the user with USB style device to store the users file structure, information and pointers. The advantage being the full benefits of global access to storage, with the anonymity of saving files among everyone else without anything other than the users void device knowing who the files belong to.</span>

  <img src="/assets/dev/void/flowchart.svg" alt="Void Flowchart" style="max-width: 900px; width: 100%; margin-top: 20px;">

  <span>A Void device operates similarly to a key, where loss of a key and lack of a copy, prevents access to the safe.</span>


  <h2>Void Plans</h2>
  <table class="VoidPlans">
    <thead>
      <tr>
        <th>Cost</th>
        <th>Storage</th>
        <th>Copy</th>
        <th>Items</th>
        <th>Accounts</th>
        <th>Anonymity</th>
        <th>Water Res</th>
        <th>Indexing</th>
        <th>Backup</th>
        <th>Preview</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>£50</td> <td>200 GB</td>
        <td>+ £15</td> <td>∞</td> <td>1</td> <td><t></t></td> <td></td> <td></td> <td></td> <td></td>
      </tr>
      <tr>
        <td>£100</td> <td>500 GB</td>
        <td>+ £25</td> <td>∞</td> <td>2</td> <td><t></t></td> <td><t></t></td> <td><t></t></td> <td></td> <td></td>
      </tr>
      <tr>
        <td>£200</td> <td>1000 GB</td>
        <td>+ £35</td> <td>∞</td> <td>5</td> <td><t></t></td> <td><t></t></td> <td><t></t></td> <td><t></t></td> <td><t></t></td>
      </tr>
    </tbody>
  </table>
  <sub>Item size ∞ (Infinite) actually limited to: 10GB (Device Size) / 1KB (High Average Node Size) = 10 Million Items</sub>


  <h2>Void vs USB vs Cloud</h2>
  <table class="VoidCompare">
    <tr> <th></th> <th>Void</th> <th>USB</th> <th>Cloud</th> </tr>

    <tr> <td>Storage Growth</td> <td><x></x></td> <td><x></x></td> <td><t></t></td> </tr>
    <tr> <td>Cost</td> <td>Middle + Once</td> <td>Most + Once</td> <td>Least + Monthly/Yearly</td> </tr>
    <tr> <td>Data Access</td> <td><small>Device + Account + Internet</small></td> <td>Device</td> <td>Account + Internet</td> </tr>
    <tr> <td>Data Loss</td> <td>Device or Account</td> <td>Device</td> <td>Account + Recovery</td> </tr>
    <tr> <td>No Internet</td> <td><x></x><super>Can Explore</super></td> <td><t></t></td> <td><x></x></td> </tr>
    <tr> <td>Backup</td> <td><x></x><super>Optional</super></td> <td><x></x><super>Optional</super></td> <td><t></t></td> </tr>
    <tr> <td>Anonymity</td> <td><t></t></td> <td><x></x></td> <td><t></t><super>Host Knows</super></td> </tr>
    <tr> <td>Encryption</td> <td><t></t></td> <td><x></x><super>Optional</super></td> <td><t></t></td> </tr>
    <tr> <td>Previews</td> <td><x></x><super>Optional</super></td> <td><t></t></td> <td><t></t></td> </tr>
    <tr> <td>Search</td> <td>Nova Local</td> <td>OS</td> <td>Nova Cloud</td> </tr>
    <tr> <td>Version Control</td> <td><t></t></td> <td><x></x></td> <td><t></t></td> </tr>
    <tr> <td>Data Share</td> <td><x></x></td> <td><x></x></td> <td><t></t></td> </tr>
    
    <!-- <tr> <td></td> <td></td> <td></td> <td></td> </tr> -->
  </table>
  

  <!--
    <h2>Search Types</h2>
    <span>All options can be used simultaneously. Eg: Folders of <code>Colour: #9cf, Size: '50kb - 50mb', Date: '05/06/2007 - 01/03/2021'</code></span>
    <ul>
      <li><h5>Within</h5> - Search Within All Directories in the section, or within the current directory.</li>
      <li><h5>By</h5> - Search by looking for specific colours or types.</li>
      <li><h5>In Range</h5> - Provides the option to only include items within the range of two dates, and / or two sizes.</li>
      <li><h5>Only For</h5> - Limits returned items to only Folders, or Files</li>
      <li><h5>Include</h5> - Tells Nova whether to read and match descriptions and previous names of items to the query.</li>
    </ul>
  -->



</div>