<div class="ContentWrapper">
  <h1>Writing</h1>

  <span>Nanode's file storage is a JSON Based system. This works by simulating files and folders and pointing towards the mass storage array in order to access the raw file. This method of storage allows for improved meta-data and customizablity, easier scalability of storage and faster load times.</span>
  <span>Nanode Writer is the process which writes JSON objects to the users JSON file and is called via creation of new items, upload or the change of meta-data.</span>


  <h2>Write JSON Object</h2>
  <div>Function Parameters: <h6>UserID</h6>, <h6>Action</h6>, <h6>Path</h6>, <h6>Type</h6>, <h6>Data</h6></div>
  <ul>
    <li>UserID - <code>Assigned</code> xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</li>
    <li>Action - <code>String</code> New / Add, Edit, Delete, Codex</li>
    <li>Path - <code>Assigned / String</code> "Homepage" or Items UUID (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)</li>
    <li>Type - <code>String</code> "Span" or "File"</li>
    <li>Data - <code>Object</code> Containing Specified Data</li>
  </ul>


  <h2>Span Data</h2>
  <span>The contents of each span is listed in an array containing the UUID's of the objects within.</span>
  <span><h6>Example of SocketIO Emit to create Span: 'Example' on Homepage</h6> </span>
  <span>
    <code><pre class="smallPre">socket.emit ( 'ItemManager' , Directory: <h6>'Homepage'</h6>, Type: <h6>'Span'</h6>, Name: <h6>"Example"</h6>})
      <br><br><h5>Server:</h5>  writeJSONObject  (<h6> userID ,  'New' ,  'Homepage' ,  'Span' ,  'Example' </h6>)</pre></code>
  </span>

  <code class="fullWidth"><pre>{
      "Homepage": {
          "Spans": {
                "Example": {
                      "Contents": [
                            xxxxxxxx-1234-5768-9000-xxxxxxxxxxxx
                      ]
                }
          }
      }
}</pre></code>


  <h2>Item Data</h2>
  <span>The Object layout used for each file or folder within the users JSON file.</span>
  <span><h6>Example of SocketIO Emit to Edit the Last Opened Time to '01/05/1995 - 14:05' of a file with ID 'xxxxxxxx-1234-5768-9000-xxxxxxxxxxxx':</h6></span>
<span>
  <code><pre class="smallPre">EditData = <h6>{"Time": {"ModiT": "01/05/1995 - 14:05"} }</h6><br><br>socket.emit ( 'ItemEdit' , {"Action": <h6>'Edit</h6>, "Item": <h6>'FileFolder'</h6>, "ID": <h6>'xxxxxxxx-1234-5768-9000-xxxxxxxxxxxx'</h6>, "EditData": <h6>EditData}</h6>})
  <br><br><h5>Server:</h5>  writeJSONObject (<h6> userID, 'Edit', 'xxxxxxxx-1234-5768-9000-xxxxxxxxxxxx', 'FileFolder', { "Time": { "OpenT": "01/05/1995 - 14:05" } } } </h6>)</pre></code>
</span>

  <code class="fullWidth"><pre>{
    "xxxxxxxx-1234-5678-9000-xxxxxxxxxxxx": {
        "UUID": "", <h6>Assigned Item ID</h6>
        "Name": {
            "Cur": "", <h6>String - Current Name</h6>
            "Pre": "" <h6>String - Applicable if Previous</h6>
        },
        "Path": {
            "Cur": "", <h6>String - Current Path</h6>
            "Pre": ""  <h6>String - Applicable if Previous</h6>
        },
          "Span": "", <h6>String - Parent Span if immediate parent</h6>
          "Parent": "", <h6>UUID - Applicable if Parent is Folder not Span</h6>
          "Contents": "", <h6>UUID - Mass Storage UUID if File or Array if Folder</h6>
        "Type": {
            "isFi": , <h6>Boolean - is File</h6>
            "isImg": "", <h6>Boolean - is image</h6>
            "mimeT": "" <h6>String - file mime-type</h6>
        },
        "Size": , <h6>Integer - Number of Bytes</h6>
        "Time": { <h6>00/00/0000 - 24:00</h6>
            "OpenT": "", <h6>Last Opened</h6>
            "OpenW": "", <h6>Opened by Who</h6>
            "CreaT": "", <h6>Created</h6>
            "CreaW": "", <h6>Created By Who</h6>
            "ModiT": "", <h6>Last Modified</h6>
            "ModiW": "" <h6>Modified By Who</h6>
        },
        "Share": {
            "Group": [ ], <h6>Array of Group UUID's</h6>
            "Friend": [ ] <h6>Array of Friend UUID's</h6>
        },
        "Security": {
            "Pass": "", <h6>String - Password</h6>
            "Time": ["", ""], <h6>00:00 24 Hour Clock Times to Open Between</h6>
            "Pin": "" <h6>Integer - Pin</h6>
        },
        "Tags": {
            "Color": "" <h6>Hex, RGB or HTML String Colour</h6>
        }
    },
}</pre></code>


  <h2>Delete</h2>
  <span>Deleted Items are moved out of the users "Files" object into "Bin" with the addition of Delete Time. This also prevents any links to the file from being processed. <h3>Note: Folders and their Contents are Permantly Deleted and not send to Bin.</h3></span>
  <span><h6>Example of SocketIO Emit to Delete of a File with ID 'xxxxxxxx-1234-5768-9000-xxxxxxxxxxxx' and a Span with name 'Uploads'</h6></span>
<span>
  <code><pre class="smallPre"><h5>Span: </h5> socket.emit( 'ItemEdit' , {"Action": <h6>"Delete"</h6>, "Item": <h6>"Span"</h6>, "ID": <h6>'Uploads'</h6>})<br><br><h5>File/Folder: </h5> socket.emit( 'ItemEdit' , {"Action": <h6>"Delete"</h6>, "Item": <h6>"FileFolder"</h6>, "ID": <h6>'xxxxxxxx-1234-5768-9000-xxxxxxxxxxxx'</h6>} )
    <br><br><h5>Server: </h5> writeJSONObject (<h6> userID, 'Delete', data.ID, data.Item</h6>)</pre></code>
</span>

  <code class="fullWidth"><pre>{
    "Time": { 
      "DeleT": "7/8/2020"
    }
}</pre></code>

</div>