// #1a1d21
// #161a1e
// #36393d
// #1c1f23  - dark blue grey

:root {
  --color_red: #ff453a; // #f04747
  --color_green: #0bc30b;

  --color_highlight: #99ccff;
  --color_blue: #4285f4;
  
  --background: #0e0f11;
  --background_2: #141517;
  --comp_dark: #191b1e;
  --component: #282c32;
  --comp_highlight: #83898f;
  --text_dull: #cacccf;
  --text: #f5f6f7;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@font-face {
  font-family: "gr-bold";
  src: url("/assets/fonts/gr-bold.woff2") format("woff2");
  font-display: swap;
}

////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', 'Segoe UI', 'monospace';
  letter-spacing: 0.3px;
  color: var(--text);
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  height: 100%;
  background: var(--background);
}

///////////////////////////////////////////////

::-webkit-scrollbar { height: 5px; width: 5px; }
::-webkit-scrollbar-track {background: var(--background);}
::-webkit-scrollbar-thumb { background: var(--component);}
// ::-webkit-scrollbar-thumb:hover { background: linear-gradient(40deg, #a9d2fb, #74afe2, #31648b); }
::-webkit-scrollbar-thumb:hover { background: var(--comp_highlight); }

///////////////////////////////////////////////////////////////// LOGIN

.loginBackground {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  
  background-color: var(--background);
  // background-image: url(https://drive.nanode.one/assets/homepage/lines.svg);
  // background-repeat: no-repeat;
  // background-position: center;
  // object-fit: contain;

  >img {
    position: absolute;
    top: 0;
    pointer-events: none;
    &:nth-child(1) { left: 0; height: 45vh; }
    &:nth-child(2) { right: 0; height: 60vh; }
  }
}

.nanode {
  // top: 40px;
  top: calc((50% - 190px) / 2);

  display: flex;
  align-items: center;
  position: absolute;
  left: calc(50% - 60px);
  gap: 0.5em;
  font-family: 'gr-bold';
  font-size: 19px;
  letter-spacing: 1.5px;
  text-decoration: none;
  z-index: 3;

  > div {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: url('https://nanode.one/assets/nanode/logo/logo.svg') no-repeat center #0e0f11;
    background-size: 20px;
    filter: invert(1);
  }
}

.mainLoginContainer {
  height: auto;
  width: 90vw;
  max-width: 400px;
  padding: 2em;

  border-radius: 5px;
  text-align: center;
  // background: #151a21; // var(--background_2);
  background: #161a1e;
  z-index: 2;

  & .MainTitle {
    font-size: 24px;
  }
  & .SecondaryTitle {
    color: var(--text_dull);;
    font-size: 13px;
    font-weight: 400;
    margin: 0.5rem;
  }


  & form {
    position: relative;
    margin: 2em 0 1em 0;

    input {
      height: 43px;
      width: 100%;
      border-radius: 5px;

      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.6px;
      line-height: 32px;
      
      transition: all 300ms;
    }

    >div {
      position: relative;

      >label {
        position: absolute;
        top: 5px;
        left: 15px;
        margin: 0.5em 0;
        padding: 0 0.5em;
        border-radius: 5px;

        font-size: 15px;
        text-align: left;
        font-family: 'gr-bold';
        color: var(--text_dull);
        background: #161a1e;
        
        pointer-events: none;
        transition: top 200ms, font-size 200ms;

        >i {
          font-size: 12px;
          color: var(--color_red);
        }
      }
      
      >input[type=text], input[type=password] {
        padding: 1em;
        margin-bottom: 1em;
  
        color: var(--text);
        border: 1px solid var(--component);
        background: transparent;
  
        &:hover, &:active, &:focus {
          border: 1px solid var(--text) !important;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
          // transform: translate3d(-5px,-21px,0px) scale(0.8);
          top: -14px;
          font-size: 12px;
        }

      }

      >span {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        > p {
          height: 20px;
          padding: 2px 8px;
          border-radius: 10px;
          font-size: 12px;
          text-align: center;
          background: var(--color_red);
        }
      }
    }

    >input[type=submit] {
      height: 38px;
      margin: 1em 0;
      border: none;
      user-select: none;
      cursor: pointer;

      color: var(--text);
      border-bottom: 2px solid #31927f;
      background: var(--component);

      &:hover, &:active, &:focus {
        color: var(--background);
        background: var(--text);
      }
    }  
  }


  > span {
    margin-right: 0.25em;
    font-size: 13px;
    font-weight: 100;
    opacity: 0.5;
  }
  & button {
    padding: 4px 8px;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    text-align: center;
    background: var(--component);
    cursor: pointer;
    &:hover { background: var(--comp_highlight); }
  }
}


///////////////////////////////////////////////////////////////// ACCOUNT

.accountBackground {
  display: grid;
  height: 100%;
  width: 100%;
  
  // background-color: var(--background_2);
  background: var(--background);
  // background: #1a1d21; // #080a0e // #131618; // #4285f4;

  >.nanode { top: 30px; }

  >img {
    position: absolute;
    top: 0;
    pointer-events: none;
    &:nth-child(1) { left: 0; height: 45vh; }
    &:nth-child(2) { right: 0; height: 60vh; }
  }
}

.infoContainer {
  display: grid;
  place-self: center;
  height: 100%;
  max-width: 800px;
  width: 100%;
  padding: 80px 40px 40px 40px;
  gap: 25px;

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    background: #161a1e;
    
    & * { color: #eee; }

    &.userProfile {
      display: grid;
      place-content: center;
      border: none;
      padding: 10px;
      background: transparent;
      img {
        place-self: center;
        width: 100px;
        max-height: 100px;
      }
      h1 {
        font-family: 'Inter';
        font-weight: 400;
        margin-bottom: 10px;
      }
    }

    &.userInfo > form {
      height: 160px;
      width: 48%;
      min-width: 200px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      div {
        position: relative;
        label {
          position: absolute;
          top: -11px;
          left: 12px;
          padding: 2px 10px;
          font-size: 13px;
          border-radius: 4px;
          background: #161a1e;
          opacity: 0.8;
        }
        input {
          height: 42px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          padding: 21px 12px;
          letter-spacing: 1px;
          border: 1px solid #36393d;
          background: transparent;
        }
        input[type=button] {
          height: 36px;
          padding: 0 12px 2px 12px;
          color: inherit;
          cursor: pointer;
          transition: all 300ms;
          &:hover {
            background: #fff;
            color: #080a0e;
          }
        }
        p {
          position: absolute;
          bottom: -9px;
          right: 12px;
          padding: 2px 10px;
          font-size: 13px;
          border-radius: 4px;
          background: #161a1e;
          opacity: 0.8;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }

        select {
          height: 42px;
          width: 100%;
          padding: 0 12px 2px 12px;
          border-radius: 5px;
          letter-spacing: 1px;
          font-size: 14px;
          border: 1px solid #36393d;
          background: transparent;
          cursor: pointer;
          transition: all 300ms;
          &:hover {
            background: #fff;
            color: #080a0e;
          }

          & * {
            background: #1a1d21;
            color: #fff;
          }
        }
      }
    }

    &.TwoFA {
      background: #33c35733;
      padding: 8px 20px;
      border: none;
      h3 {
        font-family: 'Inter';
        color: #33c457;
        padding: 6px;
        font-weight: 400;
        font-size: 14px;
      }
    }

    &.userStorage {
      display: block;

      span {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        width: 100%;
        > p {
          margin: 0 20px;
          padding: 6px 0;
          font-size: 13px;
        }

        .progress {
          display: flex;
          flex: 1;
          height: 32px;
          min-width: 300px;
          border-radius: 3px;
          border: 1px solid #36393d;
          overflow: hidden;
          
          > div { min-width: 1px; }
        }
        
        .usage_1 { border-right: 1px solid #b104a2; background: #b104a266; }
        .usage_2 { border-right: 1px solid #219903; background: #21990366; }
        .usage_3 { border-right: 1px solid #000d80; background: #000d8066; }
        .usage_4 { border-right: 1px solid #d8ca07; background: #dacc0766; }
      }

      .storageBreakdown {
        display: inline-flex;
        place-content: center;
        width: 100%;
        margin-top: 20px;
        ul {
          list-style: none;
          width: 60%;
          min-width: 300px;

          li >p {
            margin-bottom: 14px;
            font-size: 14px;
            font-variant: all-petite-caps;
            font-family: 'Inter';
            letter-spacing: 1px;
          }
          li >span {
            display: flex;
            justify-content: space-between;
            & * { font-family: 'Inter'; font-size: 14px;}

            div {
              display: inline-flex;
              padding: 6px 0;
              // svg { width: 20px; height: 20px; }
              div { width: 20px; height: 20px; border-radius: 10px; }
              p { padding: 0 18px; }
            }

          }
        }

        & .sB_Images { background: #d8ca0766; }
      }

    }

    &.userConnected {
      span {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    &.userInformation {
      border-top: 1px solid var(--component);
      padding: 1em;
      background: transparent;
      >h2 { font-size: 14px; color: #31927f; }
      p {
        font-weight: 100;
        font-size: 12px;
        opacity: 0.6;
        &:hover { opacity: 1; }
      }
      span {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid var(--component);
        >p { opacity: 0.8; }
      }
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

.sectionRight {
  display: inline-grid;
  grid-gap: 10px;
  place-content: center;

  img {
    height: 120px;
    width: 120px;
    border-radius: 3px;
    padding: 5px;
  }

  button {
    height: 30px;
    width: 120px;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover { border-radius: 15px; }
    &.signout { border: 1px solid #ff453a; background: #ff443a33; color: #ff453a; }
    &.FA_Enable { border: 1px solid #33c357; background: #33c35733; color: #33c357; }
    &.storageUpgrade { border: 1px solid #99ccff; background: #99ccff33; color: #99ccff; }
    &.lockAccount { border: 1px solid #a266ee; background: #a266ee33; color: #a266ee; }
  }
}

///////////////////////////////////////////////