@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
:root {
  --color_red: #ff453a;
  --color_green: #0bc30b;
  --color_highlight: #99ccff;
  --color_blue: #4285f4;
  --background: #0e0f11;
  --background_2: #141517;
  --comp_dark: #191b1e;
  --component: #282c32;
  --comp_highlight: #83898f;
  --text_dull: #cacccf;
  --text: #f5f6f7;
}

@font-face {
  font-family: "gr-bold";
  src: url("/assets/fonts/gr-bold.woff2") format("woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Inter', 'Segoe UI', 'monospace';
  letter-spacing: 0.3px;
  color: var(--text);
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  height: 100%;
  background: var(--background);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--component);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--comp_highlight);
}

.loginBackground {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.loginBackground > img {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.loginBackground > img:nth-child(1) {
  left: 0;
  height: 45vh;
}

.loginBackground > img:nth-child(2) {
  right: 0;
  height: 60vh;
}

.nanode {
  top: calc((50% - 190px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: calc(50% - 60px);
  gap: 0.5em;
  font-family: 'gr-bold';
  font-size: 19px;
  letter-spacing: 1.5px;
  text-decoration: none;
  z-index: 3;
}

.nanode > div {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: url("https://nanode.one/assets/nanode/logo/logo.svg") no-repeat center #0e0f11;
  background-size: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.mainLoginContainer {
  height: auto;
  width: 90vw;
  max-width: 400px;
  padding: 2em;
  border-radius: 5px;
  text-align: center;
  background: #161a1e;
  z-index: 2;
}

.mainLoginContainer .MainTitle {
  font-size: 24px;
}

.mainLoginContainer .SecondaryTitle {
  color: var(--text_dull);
  font-size: 13px;
  font-weight: 400;
  margin: 0.5rem;
}

.mainLoginContainer form {
  position: relative;
  margin: 2em 0 1em 0;
}

.mainLoginContainer form input {
  height: 43px;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 32px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.mainLoginContainer form > div {
  position: relative;
}

.mainLoginContainer form > div > label {
  position: absolute;
  top: 5px;
  left: 15px;
  margin: 0.5em 0;
  padding: 0 0.5em;
  border-radius: 5px;
  font-size: 15px;
  text-align: left;
  font-family: 'gr-bold';
  color: var(--text_dull);
  background: #161a1e;
  pointer-events: none;
  -webkit-transition: top 200ms, font-size 200ms;
  transition: top 200ms, font-size 200ms;
}

.mainLoginContainer form > div > label > i {
  font-size: 12px;
  color: var(--color_red);
}

.mainLoginContainer form > div > input[type=text], .mainLoginContainer form > div input[type=password] {
  padding: 1em;
  margin-bottom: 1em;
  color: var(--text);
  border: 1px solid var(--component);
  background: transparent;
}

.mainLoginContainer form > div > input[type=text]:hover, .mainLoginContainer form > div > input[type=text]:active, .mainLoginContainer form > div > input[type=text]:focus, .mainLoginContainer form > div input[type=password]:hover, .mainLoginContainer form > div input[type=password]:active, .mainLoginContainer form > div input[type=password]:focus {
  border: 1px solid var(--text) !important;
}

.mainLoginContainer form > div > input[type=text]:focus + label,
.mainLoginContainer form > div > input[type=text]:not(:placeholder-shown) + label, .mainLoginContainer form > div input[type=password]:focus + label,
.mainLoginContainer form > div input[type=password]:not(:placeholder-shown) + label {
  top: -14px;
  font-size: 12px;
}

.mainLoginContainer form > div > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}

.mainLoginContainer form > div > span > p {
  height: 20px;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  background: var(--color_red);
}

.mainLoginContainer form > input[type=submit] {
  height: 38px;
  margin: 1em 0;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: var(--text);
  border-bottom: 2px solid #31927f;
  background: var(--component);
}

.mainLoginContainer form > input[type=submit]:hover, .mainLoginContainer form > input[type=submit]:active, .mainLoginContainer form > input[type=submit]:focus {
  color: var(--background);
  background: var(--text);
}

.mainLoginContainer > span {
  margin-right: 0.25em;
  font-size: 13px;
  font-weight: 100;
  opacity: 0.5;
}

.mainLoginContainer button {
  padding: 4px 8px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  text-align: center;
  background: var(--component);
  cursor: pointer;
}

.mainLoginContainer button:hover {
  background: var(--comp_highlight);
}

.accountBackground {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  background: var(--background);
}

.accountBackground > .nanode {
  top: 30px;
}

.accountBackground > img {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.accountBackground > img:nth-child(1) {
  left: 0;
  height: 45vh;
}

.accountBackground > img:nth-child(2) {
  right: 0;
  height: 60vh;
}

.infoContainer {
  display: -ms-grid;
  display: grid;
  place-self: center;
  height: 100%;
  max-width: 800px;
  width: 100%;
  padding: 80px 40px 40px 40px;
  gap: 25px;
}

.infoContainer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
  position: relative;
  padding: 20px;
  border-radius: 5px;
  background: #161a1e;
}

.infoContainer section * {
  color: #eee;
}

.infoContainer section.userProfile {
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: none;
  padding: 10px;
  background: transparent;
}

.infoContainer section.userProfile img {
  place-self: center;
  width: 100px;
  max-height: 100px;
}

.infoContainer section.userProfile h1 {
  font-family: 'Inter';
  font-weight: 400;
  margin-bottom: 10px;
}

.infoContainer section.userInfo > form {
  height: 160px;
  width: 48%;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.infoContainer section.userInfo > form div {
  position: relative;
}

.infoContainer section.userInfo > form div label {
  position: absolute;
  top: -11px;
  left: 12px;
  padding: 2px 10px;
  font-size: 13px;
  border-radius: 4px;
  background: #161a1e;
  opacity: 0.8;
}

.infoContainer section.userInfo > form div input {
  height: 42px;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding: 21px 12px;
  letter-spacing: 1px;
  border: 1px solid #36393d;
  background: transparent;
}

.infoContainer section.userInfo > form div input[type=button] {
  height: 36px;
  padding: 0 12px 2px 12px;
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.infoContainer section.userInfo > form div input[type=button]:hover {
  background: #fff;
  color: #080a0e;
}

.infoContainer section.userInfo > form div p {
  position: absolute;
  bottom: -9px;
  right: 12px;
  padding: 2px 10px;
  font-size: 13px;
  border-radius: 4px;
  background: #161a1e;
  opacity: 0.8;
  cursor: pointer;
}

.infoContainer section.userInfo > form div p:hover {
  text-decoration: underline;
}

.infoContainer section.userInfo > form div select {
  height: 42px;
  width: 100%;
  padding: 0 12px 2px 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  border: 1px solid #36393d;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.infoContainer section.userInfo > form div select:hover {
  background: #fff;
  color: #080a0e;
}

.infoContainer section.userInfo > form div select * {
  background: #1a1d21;
  color: #fff;
}

.infoContainer section.TwoFA {
  background: #33c35733;
  padding: 8px 20px;
  border: none;
}

.infoContainer section.TwoFA h3 {
  font-family: 'Inter';
  color: #33c457;
  padding: 6px;
  font-weight: 400;
  font-size: 14px;
}

.infoContainer section.userStorage {
  display: block;
}

.infoContainer section.userStorage span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}

.infoContainer section.userStorage span > p {
  margin: 0 20px;
  padding: 6px 0;
  font-size: 13px;
}

.infoContainer section.userStorage span .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 32px;
  min-width: 300px;
  border-radius: 3px;
  border: 1px solid #36393d;
  overflow: hidden;
}

.infoContainer section.userStorage span .progress > div {
  min-width: 1px;
}

.infoContainer section.userStorage span .usage_1 {
  border-right: 1px solid #b104a2;
  background: #b104a266;
}

.infoContainer section.userStorage span .usage_2 {
  border-right: 1px solid #219903;
  background: #21990366;
}

.infoContainer section.userStorage span .usage_3 {
  border-right: 1px solid #000d80;
  background: #000d8066;
}

.infoContainer section.userStorage span .usage_4 {
  border-right: 1px solid #d8ca07;
  background: #dacc0766;
}

.infoContainer section.userStorage .storageBreakdown {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  place-content: center;
  width: 100%;
  margin-top: 20px;
}

.infoContainer section.userStorage .storageBreakdown ul {
  list-style: none;
  width: 60%;
  min-width: 300px;
}

.infoContainer section.userStorage .storageBreakdown ul li > p {
  margin-bottom: 14px;
  font-size: 14px;
  font-variant: all-petite-caps;
  font-family: 'Inter';
  letter-spacing: 1px;
}

.infoContainer section.userStorage .storageBreakdown ul li > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoContainer section.userStorage .storageBreakdown ul li > span * {
  font-family: 'Inter';
  font-size: 14px;
}

.infoContainer section.userStorage .storageBreakdown ul li > span div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px 0;
}

.infoContainer section.userStorage .storageBreakdown ul li > span div div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.infoContainer section.userStorage .storageBreakdown ul li > span div p {
  padding: 0 18px;
}

.infoContainer section.userStorage .storageBreakdown .sB_Images {
  background: #d8ca0766;
}

.infoContainer section.userConnected span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.infoContainer section.userInformation {
  border-top: 1px solid var(--component);
  padding: 1em;
  background: transparent;
}

.infoContainer section.userInformation > h2 {
  font-size: 14px;
  color: #31927f;
}

.infoContainer section.userInformation p {
  font-weight: 100;
  font-size: 12px;
  opacity: 0.6;
}

.infoContainer section.userInformation p:hover {
  opacity: 1;
}

.infoContainer section.userInformation span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--component);
}

.infoContainer section.userInformation span > p {
  opacity: 0.8;
}

.infoContainer section:nth-last-child(2) {
  margin-bottom: 0;
}

.sectionRight {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-gap: 10px;
  place-content: center;
}

.sectionRight img {
  height: 120px;
  width: 120px;
  border-radius: 3px;
  padding: 5px;
}

.sectionRight button {
  height: 30px;
  width: 120px;
  padding-bottom: 2px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.sectionRight button:hover {
  border-radius: 15px;
}

.sectionRight button.signout {
  border: 1px solid #ff453a;
  background: #ff443a33;
  color: #ff453a;
}

.sectionRight button.FA_Enable {
  border: 1px solid #33c357;
  background: #33c35733;
  color: #33c357;
}

.sectionRight button.storageUpgrade {
  border: 1px solid #99ccff;
  background: #99ccff33;
  color: #99ccff;
}

.sectionRight button.lockAccount {
  border: 1px solid #a266ee;
  background: #a266ee33;
  color: #a266ee;
}
/*# sourceMappingURL=account.css.map */