@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "gr-bold";
  src: url("/assets/fonts/gr-bold.woff2") format("woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Inter', 'Segoe UI', 'monospace';
  letter-spacing: 0.3px;
  color: #f5f6f7;
}

html {
  overflow-x: hidden;
  background: #0e0f11;
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0e0f11;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #282c32;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(40deg, #a9d2fb, #74afe2, #31648b);
}

section {
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
  width: 100vw;
  padding: 0px 10vw;
}

section img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 40px 10vw;
  z-index: 1;
}

header > a {
  padding: 0px;
}

header span {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  width: 400px;
}

header span a {
  font-family: 'inter';
  font-size: 13px;
  letter-spacing: 1.2px;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding: 9px 15px;
  border-radius: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header span a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

header span a.H_Highlight {
  background: #6495ed3d;
  color: #9cf;
}

.S_Main {
  height: 100vh;
}

.S_Main .Central {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  place-self: flex-start;
  position: absolute;
  top: calc(50% - 160px);
  margin-left: 10%;
  z-index: 2;
}

.S_Main .Central > *::-moz-selection {
  background: #74afe2;
}

.S_Main .Central > *::selection {
  background: #74afe2;
}

.S_Main .Central h1 {
  font-family: gr-bold;
  font-size: 56px;
  max-width: 600px;
}

.S_Main .Central p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  color: #cacccf;
}

.S_Main .MainNav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 20px;
  text-align: center;
}

.S_Main .MainNav a {
  height: 38px;
  width: 230px;
  border-radius: 20px;
  font-family: 'inter';
  font-size: 20px;
  font-variant: all-petite-caps;
  font-weight: 500;
  letter-spacing: 0.6px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.S_Main .MainNav a.MV_Account {
  background: #282c32;
}

.S_Main .MainNav a.MV_Account:hover {
  background: #f5f6f7;
  color: #080a0e;
}

.S_Main .MainNav a.MV_Drive {
  background: linear-gradient(45deg, #a9d2fb, #74afe2, #31648b);
}

.S_Main .MainNav a.MV_Drive:hover {
  -webkit-animation: gradient 2s ease infinite;
          animation: gradient 2s ease infinite;
  background-size: 200%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.S_Main .Servers {
  position: absolute;
  height: 30vw;
  max-height: 600px;
  width: 30%;
  max-width: 600px;
  top: 50%;
  right: 15%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  z-index: 2;
  background: url("/assets/homepage/server/server_traffic.svg") bottom no-repeat;
}

.S_Main .Servers > * {
  position: absolute;
}

.S_Main .Servers > img {
  width: 26%;
  z-index: 3;
  -webkit-animation: server_bob 4s infinite ease-in-out;
          animation: server_bob 4s infinite ease-in-out;
}

.S_Main .Servers > img.ser_0 {
  bottom: 22%;
  left: 37%;
}

.S_Main .Servers > img.ser_1 {
  bottom: 6%;
  left: 3%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.S_Main .Servers > img.ser_2 {
  bottom: 6%;
  right: 3%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.S_Main .Servers > img.ser_3 {
  bottom: 45.4%;
  left: 3%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.S_Main .Servers > img.ser_4 {
  bottom: 45.4%;
  right: 3%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.S_Main .Servers > shadow {
  height: 12%;
  width: 20%;
  background: url("/assets/homepage/server/server_shadow.svg") no-repeat;
  -webkit-animation: shadow_squeeze 4s infinite ease-in-out;
          animation: shadow_squeeze 4s infinite ease-in-out;
}

.S_Main .Servers > shadow.ss_1 {
  bottom: 3.2%;
  left: 6%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.S_Main .Servers > shadow.ss_2 {
  bottom: 3.2%;
  right: 6%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.S_Main .Servers > shadow.ss_3 {
  bottom: 42.8%;
  left: 6%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.S_Main .Servers > shadow.ss_4 {
  bottom: 42.8%;
  right: 6%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.S_Main .Servers > glow {
  height: 16%;
  width: 26%;
  background: url("/assets/homepage/server/server_shadow.svg") no-repeat;
  -webkit-animation: server_glow 4s infinite ease-in-out;
          animation: server_glow 4s infinite ease-in-out;
}

.S_Main .Servers > glow.sg_0 {
  bottom: 22%;
  left: 37%;
  -webkit-animation: center_glow 4s infinite ease-in-out;
          animation: center_glow 4s infinite ease-in-out;
  cursor: pointer;
}

.S_Main .Servers > glow.sg_1 {
  bottom: 6.4%;
  left: 3%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.S_Main .Servers > glow.sg_2 {
  bottom: 6.4%;
  right: 3%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.S_Main .Servers > glow.sg_3 {
  bottom: 46%;
  left: 3%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.S_Main .Servers > glow.sg_4 {
  bottom: 46%;
  right: 3%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

@-webkit-keyframes server_bob {
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}

@keyframes server_bob {
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}

@-webkit-keyframes shadow_squeeze {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shadow_squeeze {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes server_glow {
  0% {
    -webkit-filter: drop-shadow(0px 15px 15px #4285f4);
            filter: drop-shadow(0px 15px 15px #4285f4);
  }
  50% {
    -webkit-filter: drop-shadow(0px 15px 5px #4285f4);
            filter: drop-shadow(0px 15px 5px #4285f4);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 15px 15px #4285f4);
            filter: drop-shadow(0px 15px 15px #4285f4);
  }
}

@keyframes server_glow {
  0% {
    -webkit-filter: drop-shadow(0px 15px 15px #4285f4);
            filter: drop-shadow(0px 15px 15px #4285f4);
  }
  50% {
    -webkit-filter: drop-shadow(0px 15px 5px #4285f4);
            filter: drop-shadow(0px 15px 5px #4285f4);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 15px 15px #4285f4);
            filter: drop-shadow(0px 15px 15px #4285f4);
  }
}

@-webkit-keyframes center_glow {
  0% {
    -webkit-filter: drop-shadow(0px 7px 12px #eee);
            filter: drop-shadow(0px 7px 12px #eee);
  }
  50% {
    -webkit-filter: drop-shadow(0px 7px 5px #eee);
            filter: drop-shadow(0px 7px 5px #eee);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 7px 12px #eee);
            filter: drop-shadow(0px 7px 12px #eee);
  }
}

@keyframes center_glow {
  0% {
    -webkit-filter: drop-shadow(0px 7px 12px #eee);
            filter: drop-shadow(0px 7px 12px #eee);
  }
  50% {
    -webkit-filter: drop-shadow(0px 7px 5px #eee);
            filter: drop-shadow(0px 7px 5px #eee);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 7px 12px #eee);
            filter: drop-shadow(0px 7px 12px #eee);
  }
}

.S_Main .Build {
  position: absolute;
  right: 15px;
  bottom: 10px;
  opacity: 0.4;
}

.S_Info {
  height: 1750px;
}

.S_Info .bg_fade {
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: absolute;
  height: 50%;
  width: 100%;
  max-width: 800px;
  max-width: 50%;
  -webkit-filter: saturate(0.6);
          filter: saturate(0.6);
}

.S_Info .bg_fade.bg_right {
  right: 0;
  background: url("/assets/homepage/bg_right.svg") no-repeat 100%;
  background-size: 700px auto;
}

.S_Info .bg_fade.bg_left {
  bottom: 100px;
  left: 0;
  background: url("/assets/homepage/bg_left.svg") no-repeat 0%;
  background-size: 700px auto;
}

.S_Info .Showcase {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  height: 500px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 220px;
  left: 15%;
  z-index: 2;
}

.S_Info .Showcase > h3 {
  margin: 0 0 20px 20px;
}

.S_Info .Showcase > div {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 140px;
  width: 380px;
  padding: 20px;
  border-radius: 8px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.S_Info .Showcase > div h4 {
  font-size: 18px;
  font-weight: 400;
}

.S_Info .Showcase > div.Displaying {
  background: #282c32;
}

.S_Info .Figures {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 500px;
  width: 500px;
  z-index: 2;
}

.S_Info .Figures span {
  display: none;
}

.S_Info .Figures span.Displaying {
  display: block;
}

.S_Info .Showcase_2 {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  position: absolute;
  width: 380px;
  bottom: 280px;
  right: 15%;
  line-height: 25px;
  z-index: 2;
}

.S_Info .Showcase_2 ul {
  font-size: 15px;
  opacity: 0.9;
  list-style: none;
}

.S_Info .Features {
  position: absolute;
  top: calc(50% - 350px);
  width: 700px;
  height: 700px;
}

.S_Info .Features img {
  position: absolute;
  height: 80px;
  width: 80px;
}

.S_Plans {
  height: 710px;
  width: 100%;
  gap: 60px;
}

.S_Plans > div {
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
}

.S_Plans > div span {
  place-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  margin-top: 15px;
  font-size: 12px;
}

.S_Plans > div span div {
  width: 60px;
  border-radius: 10px;
  padding: 2px;
  font-weight: 500;
  color: #0e0f11;
  background: #1d68e4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.S_Plans > div span div:nth-child(1) {
  background: #1bc99f;
}

.S_Plans > div span div:nth-child(2) {
  background: #1cb1b1;
}

.S_Plans > div span div:nth-child(3) {
  background: #1c99c2;
}

.S_Plans > div span div:nth-child(4) {
  background: #1d81d3;
}

.S_Plans > span {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  place-self: center;
  width: 100%;
  max-width: 1400px;
}

.S_Plans > span > div {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 500px;
  width: 25%;
  max-width: 400px;
  min-width: 300px;
  text-align: center;
  background: #282c32;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.S_Plans > span > div:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.S_Plans > span > div:nth-child(1):hover {
  -webkit-box-shadow: 0 5px 0 -1px #1bc99f;
          box-shadow: 0 5px 0 -1px #1bc99f;
}

.S_Plans > span > div:nth-child(2):hover {
  -webkit-box-shadow: 0 5px 0 -1px #1c99c2;
          box-shadow: 0 5px 0 -1px #1c99c2;
}

.S_Plans > span > div:nth-child(3):hover {
  -webkit-box-shadow: 0 5px 0 -1px #1cb1b1;
          box-shadow: 0 5px 0 -1px #1cb1b1;
}

.S_Plans > span > div:nth-child(2) {
  height: 550px;
  background: white;
}

.S_Plans > span > div:nth-child(2) * {
  color: #0e0f11;
}

.S_Plans > span > div:nth-child(2) p {
  font-weight: 400;
  opacity: 1;
}

.S_Plans > span > div:nth-child(2) button {
  font-weight: 500;
  background: #0e0f11;
  color: #f5f6f7;
}

.S_Plans > span > div:nth-child(2) divide:after {
  border-top: 1px solid;
}

.S_Plans > span > div > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.S_Plans > span > div > span .info_text {
  font-size: 27px;
  opacity: 0.8;
}

.S_Plans > span > div > span p {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  padding-top: 4px;
}

.S_Plans > span > div divide {
  width: 60px;
  margin: 5px calc(50% - 30px);
}

.S_Plans > span > div divide:after {
  content: "";
  display: block;
  border-top: 1px solid white;
}

.S_Chip {
  height: 800px;
}

.S_Chip > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
  width: 80vw;
  max-width: 1300px;
  border-radius: 20px;
  background: #cacccf;
}

.S_Chip > div > div {
  width: calc(100% - 450px);
  padding: 50px 10px;
}

.S_Chip > div > div * {
  color: #0e0f11;
}

.S_Chip > div > div p {
  font-weight: 400;
}

.S_Chip span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  height: 350px;
  width: 350px;
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
}

.S_Chip span .chip_fade {
  position: absolute;
  height: 370px;
  width: 370px;
  border-radius: 12px;
  background-image: linear-gradient(45deg, #0182c1, #04d6c8);
}

.S_Chip span img {
  position: absolute;
  width: 348px;
  opacity: 0;
}

@-webkit-keyframes chip_2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

@keyframes chip_2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

@-webkit-keyframes chip_4 {
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chip_4 {
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes chip_5 {
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chip_5 {
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes chip_6 {
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chip_6 {
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.S_Chip span img:nth-child(2) {
  width: 350px;
  opacity: 1;
}

.S_Chip span img:nth-child(3) {
  -webkit-animation: chip_2 14s infinite;
          animation: chip_2 14s infinite;
  width: 350px;
}

.S_Chip span img:nth-child(4) {
  -webkit-animation: chip_2 14s infinite;
          animation: chip_2 14s infinite;
}

.S_Chip span img:nth-child(5) {
  -webkit-animation: chip_4 14s infinite;
          animation: chip_4 14s infinite;
  width: 336px;
}

.S_Chip span img:nth-child(6) {
  -webkit-animation: chip_5 14s infinite;
          animation: chip_5 14s infinite;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.S_Chip span img:nth-child(7) {
  -webkit-animation: chip_6 14s infinite;
          animation: chip_6 14s infinite;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.S_Development {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 40vh;
  margin: 80px 0;
}

.S_Development > h3 {
  width: 100%;
  text-align: center;
}

.S_Development span {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: inherit;
  padding: 30px 20px;
}

.S_Development span > div {
  height: 260px;
  background: #282c32;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.S_Development span > div > h1 {
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 500;
  border-bottom: 2px solid #99ccff;
}

.S_Development span > div p {
  line-height: 28px;
}

.S_Development span > div h5 {
  height: 0px;
}

.S_Development span > div a {
  position: relative;
  font-size: 14px;
  font-weight: 600;
}

.S_Development span > div a:hover:before {
  visibility: visible;
  width: 100%;
}

.S_Development span > div a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f5f6f7;
}

.S_Development span > div a.novaPowered {
  color: #60cb73;
}

.S_Development span > div a.novaPowered:before {
  background-color: #60cb73;
}

.S_Development span > div a.tensorflowPowered {
  color: #ff9101;
}

.S_Development span > div a.tensorflowPowered:before {
  background-color: #ff9101;
}

.S_Development span > div a.nordPowered {
  color: #be13d4;
}

.S_Development span > div a.nordPowered:before {
  background-color: #be13d4;
}

.S_Development span > div:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

footer {
  background: #191b1e;
  padding-top: 10px;
}

footer > h3 {
  text-align: center;
}

footer > span {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

footer .made_with {
  margin: 10px 10vw;
}

footer .made_with div {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 200px;
  gap: 10px;
}

footer .made_with h3 {
  display: inline-block;
  font-size: 18px;
}

footer .made_with h5 {
  display: inline-block;
  margin-left: 5px;
}

footer .made_with a {
  place-self: center;
}

footer .made_with img {
  width: 34px;
}

footer .contact_us {
  border-top: 1px solid #282c32;
  padding: 10px 10vw;
}

footer .contact_us span {
  width: 240px;
  gap: 15px;
  place-content: flex-end;
}

footer .contact_us a {
  opacity: 0.3;
}

footer .contact_us a:hover {
  opacity: 1;
}

footer .contact_us h6 {
  opacity: 0.6;
  font-size: 16px;
}

footer .info_tag {
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: absolute;
  height: 45px;
  width: 180px;
  left: calc(10% - 40px);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  background: #191b1e;
}

footer .info_tag:before {
  content: "";
  position: absolute;
  top: 10px;
  right: -30px;
  height: 30px;
  width: 30px;
  border-bottom-left-radius: 12px;
  background: #0e0f11;
  -webkit-box-shadow: 0 12px 0 0 #191b1e;
          box-shadow: 0 12px 0 0 #191b1e;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 30px;
  font-family: 'gr-bold';
  margin-bottom: 10px;
}

h3 {
  font-family: 'gr-bold';
  font-size: 11px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  opacity: 0.9;
}

h6 {
  font-family: 'Inter';
  letter-spacing: 0.6px;
  font-size: 14px;
  font-weight: 400;
  font-variant: all-petite-caps;
}

p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
}

a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  padding: 5px 0;
}

button {
  height: 38px;
  width: 150px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  place-self: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #0e0f11;
  background: #f5f6f7;
  -webkit-transition: -webkit-filter 400ms;
  transition: -webkit-filter 400ms;
  transition: filter 400ms;
  transition: filter 400ms, -webkit-filter 400ms;
}

button:hover {
  opacity: 0.6;
}

.card {
  display: -ms-grid;
  display: grid;
  max-width: 400px;
  width: 30%;
  border-radius: 8px;
  padding: 30px;
}

.gradient_text {
  font-size: 42px;
  font-weight: 400;
  color: #f5f6f7;
  background-image: -webkit-gradient(linear, right top, left top, from(#0052e3), to(#7eb4ea));
  background-image: linear-gradient(-90deg, #0052e3, #7eb4ea);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.large_text {
  font-size: 38px;
}

.fade_input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#0052e3), to(#7eb4ea));
  background: linear-gradient(-90deg, #0052e3, #7eb4ea);
  border-radius: 7px;
}

.fade_input input {
  height: 30px;
  width: 240px;
  padding: 0 20px;
  border-radius: 6px;
  font-size: 15px;
  border: none;
  background: #141517;
}

.r_text {
  text-align: right;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

t:after {
  padding-right: 12px;
  content: '\2714';
}

@media only screen and (max-width: 1400px) {
  .S_Info {
    height: 1500px;
  }
  .S_Info .bg_fade {
    background-size: 600px auto !important;
  }
  .S_Info .bg_left {
    bottom: 50px !important;
  }
  .S_Info .Showcase {
    right: 10%;
  }
  .S_Info .Showcase_2 {
    bottom: 150px;
    right: 10%;
  }
  .S_Info .Figures {
    height: 450px;
    width: 450px;
  }
  .S_Info .Features {
    height: 600px;
    width: 600px;
    top: calc(50% - 300px);
  }
  .S_Info .Features > img {
    height: 70px;
    width: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .S_Info {
    height: 1450px;
  }
  .S_Info .bg_fade {
    background-size: 500px auto !important;
  }
  .S_Info .bg_left {
    bottom: 100px;
  }
  .S_Info .Showcase {
    top: 100px;
    left: 10%;
  }
  .S_Info .Showcase_2 {
    top: auto;
    bottom: 200px;
    right: 10%;
  }
  .S_Info .Figures {
    height: 450px;
    width: 450px;
  }
  .S_Info .Features {
    height: 500px;
    width: 500px;
    top: calc(50% - 250px);
  }
  .S_Info .Features > img {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 1000px) {
  .S_Info {
    height: 1250px;
  }
  .S_Info .bg_fade {
    background: none !important;
    height: auto;
    width: auto;
  }
  .S_Info .Showcase {
    top: 5%;
    left: 50px;
  }
  .S_Info .Showcase_2 {
    right: 50px;
    bottom: 150px;
  }
  .S_Info .Figures {
    height: 400px;
    width: 400px;
    position: absolute;
    right: calc(50vw - 420px);
    top: 120px;
  }
  .S_Info .Features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    place-content: start;
    gap: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 230px;
    top: auto;
    bottom: 150px;
    left: calc(50vw - 320px);
    -webkit-filter: invert(68%) sepia(170%) saturate(430%) hue-rotate(180deg) brightness(188%);
            filter: invert(68%) sepia(170%) saturate(430%) hue-rotate(180deg) brightness(188%);
  }
  .S_Info .Features > img {
    position: initial;
    height: 60px;
    width: 60px;
  }
  .S_Info .Features > img[src="/assets/homepage/features/nanode.svg"] {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .S_Info {
    height: 900px;
  }
  .S_Info .Showcase {
    position: absolute;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    top: 60px;
    left: 10%;
    gap: 30px;
  }
  .S_Info .Showcase div {
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
    background: #282c32;
  }
  .S_Info .Showcase div p {
    font-size: 15px;
  }
  .S_Info .Showcase h5 {
    position: absolute;
    top: -50px;
    left: 5px;
    margin: 0;
    font-size: 28px;
    font-family: 'gr-bold';
    text-transform: none;
  }
  .S_Info .Showcase_2 {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 350px;
  }
  .S_Info .Showcase_2 ul {
    display: none;
  }
  .S_Info .Features {
    position: absolute;
    width: 485px;
    left: calc(50vw - 245px);
    bottom: 100px;
  }
  .S_Info .Figures {
    display: none;
  }
  .S_Development h3 {
    position: relative;
    width: 80%;
    left: 10%;
    text-align: left;
    font-size: 28px;
    font-family: 'gr-bold';
    opacity: 1;
  }
  .S_Development span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
    gap: 20px;
  }
  .S_Development span div {
    height: auto;
    width: 85%;
    max-width: 85%;
    min-width: 400px;
    gap: 10px;
  }
  .S_Development span div h5 {
    height: 15px;
  }
}
/*# sourceMappingURL=home.css.map */