@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
:root {
  --color_highlight: #99ccff;
  --color_blue: #4285f4;
  --background: #0e0f11;
  --background_2: #141517;
  --comp_dark: #191b1e;
  --component: #282c32;
  --comp_highlight: #83898f;
  --text_dull: #cacccf;
  --text: #f5f6f7;
}

@font-face {
  font-family: "gr-bold";
  src: url("/assets/fonts/gr-bold.woff2") format("woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Inter', 'Segoe UI', 'monospace';
  letter-spacing: 0.3px;
  color: var(--text);
}

html {
  overflow-x: hidden;
  background: var(--background);
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--component);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(40deg, #a9d2fb, #74afe2, #31648b);
}

section {
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
  width: 100vw;
  padding: 0;
}

section img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.section_header {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.section_header h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  font-family: 'gr-bold';
  margin-bottom: 10px;
}

.section_header.spotlight > h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#007cf0), to(#00dfd8));
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}

.section_header.featuresFilesFuture > h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(orange), to(red));
  background-image: linear-gradient(90deg, orange, red);
}

.section_header.plans > h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#00ffd0), to(#04a235));
  background-image: linear-gradient(90deg, #00ffd0, #04a235);
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 30px 10%;
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: #0e0f1166;
}

header .nanode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  font-family: 'gr-bold';
  font-size: 19px;
  letter-spacing: 1.5px;
}

header .nanode > div {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: url("https://nanode.one/assets/nanode/logo/logo.svg") no-repeat center #0e0f11;
  background-size: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

header .header_links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  width: 400px;
}

header .header_links a {
  font-family: 'inter';
  font-size: 13px;
  letter-spacing: 1.2px;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding: 9px 15px;
  border-radius: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header .header_links a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

header .header_links a.H_Highlight {
  background: #6495ed3d;
  color: #9cf;
}

.S_Main {
  height: 100vh;
}

.S_Main .mainContainer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
}

.S_Main .Central {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  max-width: 550px;
  z-index: 2;
}

.S_Main .Central p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  color: var(--text_dull);
  background: var(--background);
}

.S_Main .Central .mainNav {
  gap: 20px;
  text-align: center;
}

.S_Main .Central .mainNav a {
  height: 43px;
  width: calc(50% - 10px);
  max-width: 250px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 32px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.S_Main .Central .mainNav a.MV_Drive {
  color: var(--background);
  border: 1px solid var(--text);
  background: var(--text);
}

.S_Main .Central .mainNav a.MV_Account {
  color: var(--comp_highlight);
  border: 1px solid var(--component);
  background: transparent;
}

.S_Main .Central .mainNav a:hover, .S_Main .Central .mainNav a:active {
  color: var(--text);
  background: transparent;
  border: 1px solid var(--text);
}

.S_Main .Servers {
  position: relative;
  height: 30vw;
  max-height: 600px;
  width: 30%;
  max-width: 600px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  z-index: 2;
  background: url("/assets/homepage/server/server_traffic.svg") bottom no-repeat;
}

.S_Main .Servers > * {
  position: absolute;
}

.S_Main .Servers > img {
  width: 26%;
  z-index: 3;
  -webkit-animation: server_bob 4s infinite ease-in-out;
          animation: server_bob 4s infinite ease-in-out;
}

.S_Main .Servers > shadow {
  height: 12%;
  width: 20%;
  background: url("/assets/homepage/server/server_shadow.svg") no-repeat;
  -webkit-animation: shadow_squeeze 4s infinite ease-in-out;
          animation: shadow_squeeze 4s infinite ease-in-out;
}

.S_Main .Servers > glow {
  height: 16%;
  width: 26%;
  background: url("/assets/homepage/server/server_shadow.svg") no-repeat;
  -webkit-animation: server_glow 4s infinite ease-in-out;
          animation: server_glow 4s infinite ease-in-out;
}

.S_Main .Servers > glow.center_glow {
  bottom: 22%;
  left: 37%;
  -webkit-animation: center_glow 4s infinite ease-in-out;
          animation: center_glow 4s infinite ease-in-out;
  cursor: pointer;
}

@-webkit-keyframes server_bob {
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}

@keyframes server_bob {
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}

@-webkit-keyframes shadow_squeeze {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shadow_squeeze {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes server_glow {
  0% {
    -webkit-filter: drop-shadow(0 15px 15px #4285f4);
            filter: drop-shadow(0 15px 15px #4285f4);
  }
  50% {
    -webkit-filter: drop-shadow(0 15px 5px #4285f4);
            filter: drop-shadow(0 15px 5px #4285f4);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-filter: drop-shadow(0 15px 15px #4285f4);
            filter: drop-shadow(0 15px 15px #4285f4);
  }
}

@keyframes server_glow {
  0% {
    -webkit-filter: drop-shadow(0 15px 15px #4285f4);
            filter: drop-shadow(0 15px 15px #4285f4);
  }
  50% {
    -webkit-filter: drop-shadow(0 15px 5px #4285f4);
            filter: drop-shadow(0 15px 5px #4285f4);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-filter: drop-shadow(0 15px 15px #4285f4);
            filter: drop-shadow(0 15px 15px #4285f4);
  }
}

@-webkit-keyframes center_glow {
  0% {
    -webkit-filter: drop-shadow(0px 7px 12px #eee);
            filter: drop-shadow(0px 7px 12px #eee);
  }
  50% {
    -webkit-filter: drop-shadow(0px 7px 5px #eee);
            filter: drop-shadow(0px 7px 5px #eee);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 7px 12px #eee);
            filter: drop-shadow(0px 7px 12px #eee);
  }
}

@keyframes center_glow {
  0% {
    -webkit-filter: drop-shadow(0px 7px 12px #eee);
            filter: drop-shadow(0px 7px 12px #eee);
  }
  50% {
    -webkit-filter: drop-shadow(0px 7px 5px #eee);
            filter: drop-shadow(0px 7px 5px #eee);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 7px 12px #eee);
            filter: drop-shadow(0px 7px 12px #eee);
  }
}

.S_Main .Build {
  position: absolute;
  right: 15px;
  bottom: 10px;
  opacity: 0.4;
}

.S_Spotlight {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 100px 0;
  padding: 0 20px;
}

.S_Spotlight .Showcase {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 500px;
  z-index: 2;
}

.S_Spotlight .Showcase > div {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 140px;
  width: 380px;
  padding: 20px;
  border-radius: 8px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.S_Spotlight .Showcase > div h4 {
  font-size: 18px;
  font-weight: 400;
}

.S_Spotlight .Showcase > div.Displaying {
  background: var(--component);
}

.S_Spotlight .Figures {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 500px;
  width: 500px;
  z-index: 2;
}

.S_Spotlight .Figures span {
  display: none;
}

.S_Spotlight .Figures span.Displaying {
  display: block;
}

.S_FFF {
  height: 600px;
  margin: 0 0 100px;
}

.S_FFF .featuresFilesFuture {
  gap: 20px;
  width: 380px;
  line-height: 25px;
}

.S_FFF .featuresFilesFuture ul {
  font-size: 15px;
  opacity: 0.9;
  list-style: none;
}

.S_FFF .Features {
  position: relative;
  width: 500px;
  height: 500px;
}

.S_FFF .Features img {
  position: absolute;
  height: 80px;
  width: 80px;
  -webkit-animation: feature_filter 20s infinite;
          animation: feature_filter 20s infinite;
}

.S_FFF .Features img:nth-child(3n + 1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.S_FFF .Features img:nth-child(3n + 2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.S_FFF .Features img:nth-child(3n + 3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.S_FFF .Features img:nth-child(3n + 4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.S_FFF .Features img:nth-child(3n + 5) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.S_FFF .Features img:nth-child(3n + 6) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.S_FFF .Features img:nth-child(3n + 7) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.S_FFF .Features img:nth-child(3n + 8) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.S_FFF .Features img:nth-child(3n + 9) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.S_FFF .Features img:nth-child(3n + 10) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.S_FFF .Features img:nth-child(3n + 11) {
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.S_FFF .Features img:nth-child(3n + 12) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.S_FFF .Features img:nth-child(3n + 13) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

@-webkit-keyframes feature_filter {
  3% {
    -webkit-filter: invert(70%) sepia(100%) saturate(50);
            filter: invert(70%) sepia(100%) saturate(50);
  }
  8% {
    -webkit-filter: invert(70%) sepia(100%) saturate(50);
            filter: invert(70%) sepia(100%) saturate(50);
  }
  30% {
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes feature_filter {
  3% {
    -webkit-filter: invert(70%) sepia(100%) saturate(50);
            filter: invert(70%) sepia(100%) saturate(50);
  }
  8% {
    -webkit-filter: invert(70%) sepia(100%) saturate(50);
            filter: invert(70%) sepia(100%) saturate(50);
  }
  30% {
    -webkit-filter: none;
            filter: none;
  }
}

.S_Plans {
  width: 100%;
  margin: 0 0 200px;
  gap: 20px;
}

.S_Plans .gradient_text {
  text-align: center;
  width: 100%;
}

.S_Plans .plans > span {
  place-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.S_Plans .plans > span div {
  width: 60px;
  border-radius: 10px;
  padding: 2px;
  font-weight: 500;
  color: var(--background);
  background: #1d68e4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.S_Plans .plans > span div:nth-child(1) {
  background: #1bc99f;
}

.S_Plans .plans > span div:nth-child(2) {
  background: #1cb1b1;
}

.S_Plans .plans > span div:nth-child(3) {
  background: #1c99c2;
}

.S_Plans .plans > span div:nth-child(4) {
  background: #1d81d3;
}

.S_Plans > .nanode_plans > .plan_card {
  height: 500px;
  width: 25%;
  min-width: 300px;
  text-align: center;
}

.S_Plans > .nanode_plans > .plan_card:nth-child(1):hover {
  -webkit-box-shadow: 0 5px 0 -1px #1bc99f;
          box-shadow: 0 5px 0 -1px #1bc99f;
}

.S_Plans > .nanode_plans > .plan_card:nth-child(2):hover {
  -webkit-box-shadow: 0 5px 0 -1px #1c99c2;
          box-shadow: 0 5px 0 -1px #1c99c2;
}

.S_Plans > .nanode_plans > .plan_card:nth-child(3):hover {
  -webkit-box-shadow: 0 5px 0 -1px #1cb1b1;
          box-shadow: 0 5px 0 -1px #1cb1b1;
}

.S_Plans > .nanode_plans > .plan_card:nth-child(2) {
  height: 550px;
  background: white;
}

.S_Plans > .nanode_plans > .plan_card:nth-child(2) * {
  color: var(--background);
}

.S_Plans > .nanode_plans > .plan_card:nth-child(2) p {
  font-weight: 400;
  opacity: 1;
}

.S_Plans > .nanode_plans > .plan_card:nth-child(2) button {
  font-weight: 500;
  background: var(--background);
  color: var(--text);
}

.S_Plans > .nanode_plans > .plan_card:nth-child(2) divide {
  color: var(--background);
  border-top: 1px solid;
}

.S_Plans > .nanode_plans > .plan_card > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.S_Plans > .nanode_plans > .plan_card > span .info_text {
  font-size: 27px;
  opacity: 0.8;
}

.S_Plans > .nanode_plans > .plan_card > span p {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  padding-top: 4px;
}

.S_Plans > .nanode_plans > .plan_card divide {
  color: var(--text);
  width: 60px;
  margin: 5px calc(50% - 30px);
  border-top: 1px solid;
}

.S_Chip {
  margin: 0 0 180px;
}

.S_Chip > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
  width: 80vw;
  max-width: 1300px;
  border-radius: 20px;
  background: var(--text_dull);
}

.S_Chip > div > div {
  width: calc(100% - 450px);
  padding: 50px 10px;
}

.S_Chip > div > div * {
  color: #0e0f11;
}

.S_Chip > div > div p {
  font-weight: 400;
}

.S_Chip span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  height: 350px;
  width: 350px;
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
}

.S_Chip span .chip_fade {
  position: absolute;
  height: 370px;
  width: 370px;
  border-radius: 12px;
  background-image: linear-gradient(45deg, #0182c1, #04d6c8);
}

.S_Chip span img {
  position: absolute;
  width: 348px;
  opacity: 0;
}

@-webkit-keyframes chip_2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

@keyframes chip_2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

@-webkit-keyframes chip_4 {
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chip_4 {
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes chip_5 {
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chip_5 {
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes chip_6 {
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chip_6 {
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.S_Chip span img:nth-child(2) {
  width: 350px;
  opacity: 1;
}

.S_Chip span img:nth-child(3) {
  -webkit-animation: chip_2 14s infinite;
          animation: chip_2 14s infinite;
  width: 350px;
}

.S_Chip span img:nth-child(4) {
  -webkit-animation: chip_2 14s infinite;
          animation: chip_2 14s infinite;
}

.S_Chip span img:nth-child(5) {
  -webkit-animation: chip_4 14s infinite;
          animation: chip_4 14s infinite;
  width: 336px;
}

.S_Chip span img:nth-child(6) {
  -webkit-animation: chip_5 14s infinite;
          animation: chip_5 14s infinite;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.S_Chip span img:nth-child(7) {
  -webkit-animation: chip_6 14s infinite;
          animation: chip_6 14s infinite;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.S_Development {
  margin: 0 0 160px;
}

.S_Development > .nanode_development > .card {
  height: 260px;
}

.S_Development > .nanode_development > .card > h4 {
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 2px solid var(--color_blue);
}

.S_Development > .nanode_development > .card p {
  line-height: 28px;
}

.S_Development > .nanode_development > .card h5 {
  height: 0px;
}

.S_Development > .nanode_development > .card a {
  position: relative;
  font-size: 14px;
  font-weight: 600;
}

.S_Development > .nanode_development > .card a:hover:before {
  visibility: visible;
  width: 100%;
}

.S_Development > .nanode_development > .card a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f5f6f7;
}

.S_Development > .nanode_development > .card a.novaPowered {
  color: #60cb73;
}

.S_Development > .nanode_development > .card a.novaPowered:before {
  background-color: #60cb73;
}

.S_Development > .nanode_development > .card a.tensorflowPowered {
  color: #ff9101;
}

.S_Development > .nanode_development > .card a.tensorflowPowered:before {
  background-color: #ff9101;
}

.S_Development > .nanode_development > .card a.nordPowered {
  color: #be13d4;
}

.S_Development > .nanode_development > .card a.nordPowered:before {
  background-color: #be13d4;
}

footer {
  background: var(--comp_dark);
  padding-top: 10px;
}

footer > h3 {
  text-align: center;
}

footer > span {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

footer .made_with {
  margin: 10px 10vw;
}

footer .made_with div {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 200px;
  gap: 10px;
}

footer .made_with h3 {
  display: inline-block;
  font-size: 18px;
}

footer .made_with h5 {
  display: inline-block;
  margin-left: 5px;
}

footer .made_with a {
  place-self: center;
}

footer .made_with img {
  width: 34px;
}

footer .contact_us {
  border-top: 1px solid var(--component);
  padding: 10px 10vw;
}

footer .contact_us span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 15px;
  place-content: flex-end;
}

footer .contact_us a {
  opacity: 0.3;
}

footer .contact_us a:hover {
  opacity: 1;
}

footer .contact_us h6 {
  opacity: 0.6;
  font-size: 16px;
}

footer .info_tag {
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: absolute;
  height: 45px;
  width: 180px;
  left: calc(10% - 40px);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  background: #191b1e;
}

footer .info_tag:before {
  content: "";
  position: absolute;
  top: 10px;
  right: -30px;
  height: 30px;
  width: 30px;
  border-bottom-left-radius: 12px;
  background: #0e0f11;
  -webkit-box-shadow: 0 12px 0 0 #191b1e;
          box-shadow: 0 12px 0 0 #191b1e;
}

.card_container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  place-self: center;
  max-width: 1400px;
  padding: 30px 0;
}

.card_container .card {
  display: -ms-grid;
  display: grid;
  max-width: 400px;
  width: 30%;
  border-radius: 8px;
  padding: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background: var(--component);
}

.card_container .card .gradient_text {
  font-size: 42px;
  font-weight: 400;
  background-image: -webkit-gradient(linear, right top, left top, from(#0052e3), to(#7eb4ea));
  background-image: linear-gradient(-90deg, #0052e3, #7eb4ea);
}

.card_container .card.plan_card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.card_container .card.dev_card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.IMG_Lines {
  position: absolute;
  display: none;
  width: 110vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mainTitle {
  font-family: gr-bold;
  font-size: 70px;
  white-space: nowrap;
}

.mainTitle > .titleHighlight {
  font-size: inherit;
  font-family: inherit;
  color: var(--background);
  background: var(--text);
  padding: 0 1rem;
}

h1 {
  font-size: 26px;
}

h3 {
  font-family: 'gr-bold';
  font-size: 11px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  opacity: 0.9;
  text-align: center;
}

h6 {
  letter-spacing: 0.6px;
  font-size: 14px;
  font-weight: 400;
  font-variant: all-petite-caps;
}

p {
  font-weight: 300;
  opacity: 0.8;
}

a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  padding: 5px 0;
}

button {
  height: 38px;
  width: 150px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  place-self: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: var(--background);
  background: var(--text);
  -webkit-transition: -webkit-filter 400ms;
  transition: -webkit-filter 400ms;
  transition: filter 400ms;
  transition: filter 400ms, -webkit-filter 400ms;
}

button:hover {
  opacity: 0.6;
}

.gradient_text {
  color: var(--text);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

t:after {
  padding-right: 12px;
  content: '\2714';
  color: #ff6301;
}

.gt_p {
  background-image: -webkit-gradient(linear, left top, right top, from(#f00085), to(#9400df));
  background-image: linear-gradient(90deg, #f00085, #9400df);
}

.gt_b {
  background-image: -webkit-gradient(linear, left top, right top, from(#007cf0), to(#00dfd8));
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}

.gt_r {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa500), to(#ff0000));
  background-image: linear-gradient(90deg, #ffa500, #ff0000);
}

.gt_g {
  background-image: -webkit-gradient(linear, left top, right top, from(#00ffd0), to(#04a235));
  background-image: linear-gradient(90deg, #00ffd0, #04a235);
}

@media only screen and (max-width: 1250px) {
  .Servers {
    display: none;
  }
  .IMG_Lines {
    display: block;
  }
  .S_Main .mainContainer {
    padding: 0 10%;
    place-content: start;
  }
}

@media only screen and (max-width: 1000px) {
  .mainTitle {
    font-size: 55px;
  }
  .S_Spotlight .Showcase {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: auto;
  }
  .S_Spotlight .Showcase div {
    height: auto;
    width: 100%;
    line-height: 22px;
    background: #282c32;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .S_Spotlight .Figures {
    display: none;
  }
  .S_FFF .Features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 290px;
  }
  .S_FFF .Features > img {
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }
  .S_FFF .Features > img[src="/assets/homepage/features/nanode.svg"] {
    display: none;
  }
  .S_Plans .nanode_plans {
    gap: 20px;
  }
  .S_Plans .nanode_plans .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 90%;
    max-width: 700px;
    max-height: 200px;
  }
  .S_Plans .nanode_plans .card:nth-child(1):hover {
    -webkit-box-shadow: -5px 0 0 -1px #1bc99f;
            box-shadow: -5px 0 0 -1px #1bc99f;
  }
  .S_Plans .nanode_plans .card:nth-child(2):hover {
    -webkit-box-shadow: -5px 0 0 -1px #1c99c2;
            box-shadow: -5px 0 0 -1px #1c99c2;
  }
  .S_Plans .nanode_plans .card:nth-child(3):hover {
    -webkit-box-shadow: -5px 0 0 -1px #1cb1b1;
            box-shadow: -5px 0 0 -1px #1cb1b1;
  }
  .S_Plans .nanode_plans .card > * {
    position: absolute;
  }
  .S_Plans .nanode_plans .card .gradient_text {
    font-size: 34px;
  }
  .S_Plans .nanode_plans .card .plan_title {
    top: 20px;
    width: 240px;
    left: calc(25% - 120px);
  }
  .S_Plans .nanode_plans .card .plan_size {
    top: 20px;
    width: 180px;
    right: calc(25% - 90px);
  }
  .S_Plans .nanode_plans .card .plan_price {
    top: 100px;
    width: 180px;
    right: calc(25% - 90px);
  }
  .S_Plans .nanode_plans .card button {
    bottom: 20px;
    left: calc(25% - 75px);
  }
  .S_Plans .nanode_plans .card divide {
    height: 60px;
    width: 0;
    border-right: 1px solid;
  }
  .S_Plans .nanode_plans .card:nth-child(2) {
    max-height: 230px;
  }
  .S_Plans .nanode_plans .card:nth-child(2) .plan_size {
    top: 6px;
  }
  .S_Plans .nanode_plans .card:nth-child(2) .plan_price {
    top: 72px;
  }
  .S_Chip {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
  }
  .mainTitle {
    font-size: 48px;
  }
  .S_FFF {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 100px 0;
  }
  .S_FFF .Features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin: 0 10px;
  }
  .S_Plans {
    margin: 100px 0;
  }
  .S_Plans > .plans {
    gap: 5px;
    text-align: left;
    padding: 0 5%;
  }
  .S_Plans > .plans span {
    display: none;
  }
  .S_Plans > .plans > .gradient_text {
    text-align: left;
  }
  .S_Development {
    margin: 100px 0;
  }
  .S_Development > .nanode_development {
    gap: 20px;
    padding: 20px;
  }
  .S_Development > .nanode_development .card {
    height: auto;
    width: 100%;
    gap: 5px;
    background: var(--comp_dark);
  }
  .S_Development > .nanode_development .card h4 {
    font-size: 20px;
    border: none;
  }
  .S_Development > .nanode_development .card p {
    font-size: 15px;
  }
  .S_Development > .nanode_development .card h5 {
    height: 15px;
  }
  footer .made_with {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  footer .made_with div {
    width: 135px;
    text-align: center;
  }
  footer .contact_us div h6 {
    width: 150px;
  }
}

@media only screen and (max-width: 700px) {
  .flex-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .S_Main > img {
    display: none;
  }
  .mainTitle {
    font-size: 42px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    position: absolute;
    padding: 50px 0 0;
  }
  .header_links {
    display: none;
  }
  .S_Main .Central > .mainTitle {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  .S_Main .Central .titleHighlight {
    padding: 0 8px;
  }
  .S_Main .Central p {
    display: none;
  }
  .S_Main .Central .mainNav {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    bottom: 8%;
  }
  .S_Main .Central .mainNav a {
    width: 80%;
  }
  .S_FFF > .featuresFilesFuture {
    width: auto;
    padding: 0 20px;
  }
  .S_FFF > .Features {
    display: none;
  }
  .S_Plans > .nanode_plans > .card:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
  }
  .S_Plans > .nanode_plans > .card span:nth-child(1) {
    top: 20%;
  }
  .S_Plans > .nanode_plans > .card button {
    width: 120px;
    bottom: 20%;
    left: calc(25% - 60px);
  }
  .S_Plans > .nanode_plans > .card p {
    display: none;
  }
  .S_Plans > .nanode_plans > .card .gradient_text {
    font-size: 30px;
  }
}
/*# sourceMappingURL=home.css.map */