:root {
  --highlight-color:  #18ec58;
}

.pageBlockOut {
  position: absolute;
  height: 100vh;
  width: calc(100vw - 50px);
  right: 0;
  overflow-y: overlay;
  background: #f1f1f3;
  z-index: 1000;
}

.dark-theme .pageBlockOut {
  background: #1b1b1f;
}

.panelContainer {
  position: fixed;
  height: 100%;
  width: 300px;
  left: -300px;
  top: 0;
  padding: 20px 10px 20px 20px;
  font-family: 'Helvetica';
  background: #dcdcdc;
  -webkit-box-shadow: 2px 0px 4px 0px #b3b3b3;
          box-shadow: 2px 0px 4px 0px #b3b3b3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
}

.dark-theme .panelContainer {
  background: #1a1a1d;
  -webkit-box-shadow: 2px 0px 4px 0px #050505;
          box-shadow: 2px 0px 4px 0px #050505;
}

.Displayed_Page {
  left: 50px;
  -webkit-transition: left 0.8s ease-in-out;
  transition: left 0.8s ease-in-out;
}

.CodexContainer {
  padding: 10px 16px 20px 15px;
}

.CodexContainer .CodexSwitchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50px;
  width: 100%;
  font-weight: 400;
  border-bottom: 1px solid #505050;
  margin-bottom: 8px;
  color: #505058;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: border 300ms;
  transition: border 300ms;
}

.dark-theme .CodexContainer .CodexSwitchContainer {
  color: #f1f1f1;
}

.CodexContainer .CodexSwitchContainer > div {
  border: 1px solid transparent;
  padding: 12px 15px;
  height: 38px;
  line-height: 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: border 600ms;
  transition: border 600ms;
}

.CodexContainer .CodexSwitchContainer > div:hover {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid;
}

.CodexContainer .CodexSwitchContainer > div.selectedCodex {
  border: 1px solid var(--highlight-color);
}

.CodexContainer .codexUploader {
  position: relative;
  height: 36px;
  width: 100%;
  font-size: 12px;
  background: transparent;
  color: #505058;
}

.dark-theme .CodexContainer .codexUploader {
  color: #f1f1f1;
}

.CodexContainer .codexUploader div {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.CodexContainer .codexUploader .CodexItemButton {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  color: #f5f5f7;
  background: var(--highlight-color);
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

.dark-theme .CodexContainer .codexUploader .CodexItemButton {
  color: #1a1a1d;
}

.CodexContainer .codexUploader .CodexItemButton:hover {
  height: 40px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  padding-top: 8px;
}

.CodexContainer .codexUploader .CodexItemButton#UploadCodexItem {
  right: 0;
}

.CodexContainer .codexUploader #codexUploadProgress {
  position: absolute;
  height: 15px;
  width: 160px;
  top: 24px;
  left: 52px;
  opacity: 0;
}

.CodexContainer .codexUploader #CUCount {
  opacity: 0;
  position: absolute;
  left: 50px;
}

.CodexContainer .codexUploader #CUSize {
  opacity: 0;
  position: absolute;
  right: 50px;
}

.CodexContainer .codexWrapper {
  height: calc(100% - 240px);
  padding: 0 10px 10px 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.CodexContainer .codexWrapper::-webkit-scrollbar {
  width: 5px;
}

.CodexContainer .codexWrapper::-webkit-scrollbar-thumb {
  background: #e7e7ea;
  border-radius: 0px;
}

.dark-theme .CodexContainer .codexWrapper::-webkit-scrollbar-thumb {
  background: #1a1a1d;
}

.CodexContainer .codexWrapper::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6;
}

.dark-theme .CodexContainer .codexWrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 53, 53, 0.8);
}

.CodexContainer .codexWrapper .codexItem {
  position: relative;
  height: auto;
  padding: 4px 8px;
  color: #000;
  border-bottom: 1px solid #a1a1a1;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dark-theme .CodexContainer .codexWrapper .codexItem {
  color: #f1f1f1;
}

.CodexContainer .codexWrapper .codexItem:hover {
  background: rgba(0, 0, 0, 0.1);
}

.dark-theme .CodexContainer .codexWrapper .codexItem:hover {
  background: rgba(255, 255, 255, 0.2);
}

.CodexContainer .codexWrapper .codexItem.selectedCodexItem {
  border-left: 6px solid var(--highlight-color);
  background: rgba(0, 0, 0, 0.1) !important;
}

.dark-theme .CodexContainer .codexWrapper .codexItem.selectedCodexItem {
  background: rgba(255, 255, 255, 0.2) !important;
}

.CodexContainer .codexWrapper .codexItem h4 {
  width: 100%;
  margin-bottom: 4px;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark-theme .CodexContainer .codexWrapper .codexItem h4 {
  color: #ccccdd;
}

.CodexContainer .codexWrapper .codexItem div {
  position: absolute;
  height: 100%;
  width: 65px;
  top: 0;
  right: 5px;
  padding: 5px 0;
  opacity: 0.6;
  font-weight: 100;
  font-family: monospace;
  overflow: hidden;
}

.CodexContainer .codexWrapper .codexItem div h5 {
  font-size: 13px;
  font-weight: 400;
  font-variant: all-petite-caps;
}

.dark-theme .CodexContainer .codexWrapper .codexItem div h5 {
  color: #c8c8dc;
}

.CodexContainer .codexWrapper .codexItem span {
  display: block;
  height: 35px;
  width: 155px;
  font-size: 12px;
  opacity: 0.5;
  line-height: 13px;
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
}

.CodexContainer .codexWrapper .codexItem-Placeholder {
  background: rgba(0, 0, 0, 0.1);
  height: 60px;
}

.dark-theme .CodexContainer .codexWrapper .codexItem-Placeholder {
  background: #2f3035;
}

.CodexContainer .codexWrapper .codexItem-Hover {
  border: 1px solid var(--highlight-color);
}

.CodexContainer .codexWrapper .codexItemFolder {
  height: 54px;
}

.CodexContainer .codexWrapper .codexItemFolder i {
  position: absolute;
  height: 44px;
  width: 44px;
  background-image: url(//drive.nanode.one/assets/FileIcons/folder.svg);
  background-size: cover;
}

.CodexContainer .codexWrapper .codexItemFolder h4 {
  position: absolute;
  height: 30px;
  width: calc(100% - 60px) !important;
  top: 16px;
  left: 60px;
}

.CodexContainer .codexWrapper .codexItemFolder div {
  display: none;
}

.CodexContainer .codexWrapper .codexItemFolder input {
  position: absolute;
  height: 30px;
  width: calc(100% - 60px) !important;
  top: 13px;
  left: 60px;
  font-size: inherit;
  font-weight: 400;
  border: none;
  color: inherit;
  background: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CodexContainer .codexWrapper .codexItemFolder input:focus {
  border-bottom: 1px solid var(--highlight-color);
}

.CodexContainer .codexWrapper .codexItemText h4 {
  width: 154px;
}

.CodexContainer .codexWrapper .codexItemVideo {
  height: 55px;
}

.CodexContainer .codexWrapper .codexItemVideo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  width: 100%;
  top: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.CodexContainer .codexWrapper .codexItemAudio {
  height: 55px;
}

.CodexContainer .codexWrapper .codexItemAudio div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  width: 100%;
  top: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.CodexContainer .codexControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 26px;
  width: 100%;
  margin: 4px 0;
  color: #626269;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.dark-theme .CodexContainer .codexControls {
  color: #f1f1f1;
}

.CodexContainer .codexControls i {
  height: 100%;
  width: 30px;
  padding-top: 4px;
  opacity: 0.6;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.CodexContainer .codexControls i:hover {
  opacity: 1;
}

.CodexContainer .codexControls .CC_Directory {
  width: 160px;
  line-height: 16px;
  padding-top: 4px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CodexContainer .codexControls .CC_Directory:hover {
  border-bottom: 1px solid var(--highlight-color);
}

.CodexContainer .codexControls .CC_Dir-Hover {
  background: rgba(0, 0, 0, 0.2);
}

.dark-theme .CodexContainer .codexControls .CC_Dir-Hover {
  background: rgba(255, 255, 255, 0.2);
}

.CodexContainer .codexAudioPlayer {
  position: relative;
  height: 100px;
  width: 100%;
  padding: 10px 5px;
  font-size: 22px;
}

.dark-theme .CodexContainer .codexAudioPlayer {
  color: #c5c5c5;
}

.CodexContainer .codexAudioPlayer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 22px;
  width: 100%;
}

.CodexContainer .codexAudioPlayer span i {
  color: #3d3d3f;
  cursor: pointer;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.dark-theme .CodexContainer .codexAudioPlayer span i {
  color: #b9bbbe;
}

.CodexContainer .codexAudioPlayer span i:hover {
  color: var(--highlight-color);
}

.CodexContainer .codexAudioPlayer span i.CAP_Small {
  font-size: 18px;
  opacity: 0.4;
  padding-top: 3px;
}

.CodexContainer .codexAudioPlayer span i.CAP_Medium {
  opacity: 0.7;
}

.CodexContainer .codexAudioPlayer span i.CAP_Large {
  font-size: 28px;
  margin-top: -5px;
}

.CodexContainer .codexAudioPlayer h3 {
  position: absolute;
  width: 100%;
  top: 40px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #505058;
}

.dark-theme .CodexContainer .codexAudioPlayer h3 {
  color: #f1f1f1;
}

.CodexContainer .codexAudioPlayer .CAP_Slider {
  position: absolute;
  width: 70%;
  top: 50px;
  left: 40px;
}

.CodexContainer .codexAudioPlayer .CAP_Slider input {
  width: 100%;
  height: 3px;
  background: #bbb;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.dark-theme .CodexContainer .codexAudioPlayer .CAP_Slider input {
  background: #36393f;
}

.CodexContainer .codexAudioPlayer .CAP_Slider input::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #36393f;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
}

.dark-theme .CodexContainer .codexAudioPlayer .CAP_Slider input::-webkit-slider-thumb {
  background: #dcdcdc;
}

.CodexContainer .codexAudioPlayer .CAP_Cur_Time {
  position: absolute;
  left: 0;
  font-size: 13px;
  font-weight: 400;
  top: 62px;
  opacity: 0.8;
}

.CodexContainer .codexAudioPlayer .CAP_Dur_Time {
  position: absolute;
  right: 0;
  font-size: 13px;
  font-weight: 400;
  top: 62px;
  opacity: 0.8;
}

.CodexContentContainer {
  position: absolute;
  height: 100%;
  width: calc(100% - 350px);
  top: 0;
  left: -100vw;
  z-index: 5;
  color: #121214;
  background: #e4e4e6;
}

.dark-theme .CodexContentContainer {
  color: #f1f1f1;
  background: #121214;
}

.CodexContentContainer.Displayed_Container {
  -webkit-transition: left 800ms ease-in-out, width 800ms ease-in-out;
  transition: left 800ms ease-in-out, width 800ms ease-in-out;
}

.CodexContentContainer .codexVideoContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark-theme .CodexContentContainer .codexVideoContainer {
  background: black;
}

.CodexContentContainer .codexVideoContainer video {
  position: absolute;
  max-width: 100%;
  max-height: 90%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.CodexContentContainer .codexTextContainer > pre {
  position: absolute;
  height: 90%;
  width: 70%;
  max-width: 800px;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 20px;
  background: #161617;
  -webkit-box-shadow: 0 0 16px 0px #090909;
          box-shadow: 0 0 16px 0px #090909;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-family: 'Inter', sans-serif;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.CodexContentContainer .codexContentExpand {
  position: absolute;
  height: 35px;
  width: 35px;
  left: 22px;
  top: 22px;
  font-size: 19px;
  padding: 8px;
  border-radius: 30px;
  opacity: 0.6;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.CodexContentContainer .codexContentExpand:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 16px 0px #2e2e2e;
          box-shadow: 0 0 16px 0px #2e2e2e;
  background: #1c1c1c;
}

.BinContainer .binWrapper {
  height: calc(100% - 70px);
  padding: 10px 10px 0 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.BinContainer .binWrapper::-webkit-scrollbar {
  width: 5px;
}

.BinContainer .binWrapper::-webkit-scrollbar-thumb {
  background: #e7e7ea;
  border-radius: 0px;
}

.dark-theme .BinContainer .binWrapper::-webkit-scrollbar-thumb {
  background: #1a1a1d;
}

.BinContainer .binWrapper::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6;
}

.dark-theme .BinContainer .binWrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 53, 53, 0.8);
}

.BinContainer .BinParent {
  position: absolute;
  height: 22px;
  width: 80px;
  top: 58px;
  right: 18px;
  font-size: 14px;
  line-height: 20px;
  border: 0;
  -webkit-box-shadow: inset 0 0 0 1px grey;
          box-shadow: inset 0 0 0 1px grey;
  color: #121214;
  background: transparent;
  cursor: pointer;
}

.dark-theme .BinContainer .BinParent {
  color: #f1f1f1;
}

.BinContainer .BinParent::before, .BinContainer .BinParent::after {
  position: absolute;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
}

.BinContainer h2 {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 400;
  margin: 4px 0 8px 0;
  border-bottom: 1px solid #505050;
  padding-bottom: 28px;
}

.dark-theme .BinContainer h2 {
  color: #f1f1f1;
}

.BinContainer > h5 {
  position: absolute;
  top: 88px;
  color: #505058;
  opacity: 0.6;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  font-family: monospace;
}

.dark-theme .BinContainer > h5 {
  color: #c8c8dc;
}

.BinContainer > h5.BinInfo {
  top: 58px;
  font-size: 13px;
  opacity: 1;
}

.BinContainer .binWrapper > div {
  position: relative;
  height: 80px;
  width: 100%;
  margin: 15px 0;
  padding: 0 24px;
  border-radius: 8px;
  color: #141416;
  background: #f8f8f8;
  -webkit-transition: padding 600ms;
  transition: padding 600ms;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.dark-theme .BinContainer .binWrapper > div {
  color: #f6f6f6;
  background: #141416;
}

.BinContainer .binWrapper > div:hover {
  padding: 0 36px;
}

.BinContainer .binWrapper > div h3 {
  color: #202020;
  font-size: 16px;
  font-weight: 400;
}

.dark-theme .BinContainer .binWrapper > div h3 {
  color: #f1f1f1;
}

.BinContainer .binWrapper > div h4 {
  font-family: 'Segoe UI';
  font-weight: 100;
  opacity: 0.6;
  font-size: 13px;
}

.BinContainer .binWrapper > div .binActBtns {
  position: absolute;
  height: 16px;
  width: 80px;
  top: 32px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: center;
  font-variant: all-small-caps;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: inter, sans-serif;
  line-height: 14px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background: #f8f8f8;
}

.dark-theme .BinContainer .binWrapper > div .binActBtns {
  background: #141416;
}

.BinContainer .binWrapper > div h5 {
  right: -30px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-top: 1px solid #b50c0c;
}

.BinContainer .binWrapper > div h5:hover {
  height: 32px;
  top: 24px;
  line-height: 25px;
  background: #b50c0c !important;
}

.BinContainer .binWrapper > div h6 {
  font-size: 14px;
  top: 31px;
  line-height: 18px;
  left: -32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: #3eb916 !important;
}

.BinContainer .binWrapper > div h6:hover {
  height: 28px;
  top: 26px;
  line-height: 28px;
  -webkit-transform: rotate(-90deg) translateY(8px);
          transform: rotate(-90deg) translateY(8px);
}

.SettingsContainer .settingsWrapper {
  height: calc(100% - 50px);
  padding-right: 10px;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.SettingsContainer .settingsWrapper::-webkit-scrollbar {
  width: 5px;
}

.SettingsContainer .settingsWrapper::-webkit-scrollbar-thumb {
  background: #e7e7ea;
  border-radius: 0px;
}

.dark-theme .SettingsContainer .settingsWrapper::-webkit-scrollbar-thumb {
  background: #1a1a1d;
}

.SettingsContainer .settingsWrapper::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6;
}

.dark-theme .SettingsContainer .settingsWrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 53, 53, 0.8);
}

.SettingsContainer h2 {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 400;
  margin: 4px 0 8px 0;
}

.dark-theme .SettingsContainer h2 {
  color: #f1f1f1;
}

.SettingsContainer h4 {
  color: #505058;
  font-size: 16px;
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid #505050;
}

.dark-theme .SettingsContainer h4 {
  color: #ccccdd;
}

.SettingsContainer h5 {
  color: #505058;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.dark-theme .SettingsContainer h5 {
  color: #c8c8dc;
}

.SettingsContainer span {
  font-size: 15px;
  font-weight: 400;
  display: block;
  margin: 12px 0;
  font-variant: all-petite-caps;
}

.SettingsContainer input {
  height: 28px;
  width: 100%;
  margin: 7px 0px;
  padding: 8px;
  border-radius: 5px;
  background: #f1f1f1;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #202020;
}

.dark-theme .SettingsContainer input {
  background: #141416;
  color: white;
  border-bottom: 1px solid var(--highlight-color);
}

.SettingsContainer input[type=button]:hover {
  background: #cfcfcf;
}

.dark-theme .SettingsContainer input[type=button]:hover {
  background: #f1f1f1;
  color: #000;
}

.SettingsContainer input.SW_Selected {
  border: 1px solid #1a1a1a !important;
}

.dark-theme .SettingsContainer input.SW_Selected {
  border: 1px solid var(--highlight-color) !important;
}

.SettingsContainer input.SWBtnOne {
  border: none;
  padding: 2px;
  cursor: pointer;
}

.SettingsContainer input.SWBtnTwo {
  width: 46%;
  margin: 2%;
  padding: 2px;
  cursor: pointer;
  border: none;
}

.SettingsContainer input.SWBtnThree {
  width: 31%;
  margin: 1%;
  padding: 2px;
  cursor: pointer;
  border: none;
}

.SettingsContainer a {
  color: #0ac8fa;
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.SettingsContainer a:hover {
  text-decoration: underline;
  opacity: 1;
}

.Border-Animation {
  -webkit-transition: -webkit-box-shadow 1500ms ease-out;
  transition: -webkit-box-shadow 1500ms ease-out;
  transition: box-shadow 1500ms ease-out;
  transition: box-shadow 1500ms ease-out, -webkit-box-shadow 1500ms ease-out;
}

.Border-Animation::before, .Border-Animation::after {
  border: 1px solid transparent;
  height: 0;
  width: 0;
}

.Border-Animation::before {
  top: 0;
  left: 0;
}

.Border-Animation::after {
  bottom: 0;
  right: 0;
}

.Border-Animation:hover {
  -webkit-box-shadow: inset 0 0 0 1px var(--highlight-color);
          box-shadow: inset 0 0 0 1px var(--highlight-color);
}

.Border-Animation:hover::before, .Border-Animation:hover::after {
  height: 100%;
  width: 100%;
}

.Border-Animation:hover::before {
  border-top-color: var(--highlight-color);
  border-right-color: var(--highlight-color);
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.Border-Animation:hover::after {
  border-bottom-color: var(--highlight-color);
  border-left-color: var(--highlight-color);
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
/*# sourceMappingURL=pages.css.map */