<div class='PageContainer'>
  <div class='PageHeader' style="flex-direction: column;">
    <div class='Switch SW_Bin'>
      <div class='Slider SL_Bin'></div>
      <div swOpPos=1 class='SwitchSelected'>Main</div>
      <div swOpPos=2>Blocks</div>
      <div swOpPos=3>Lists</div>
    </div>
  </div>

  <div class='PageData'>
    <div class='binContainer'></div>

    <div class="binIsEmpty"><img src="/assets/nanode/logo/282c32.svg" alt="Empty Bin"><p>Items deleted in the last 30 days will show here</p></div>
  </div>
  
  <div class='binInfoPopup'>Items left in the bin will be permanently deleted after 30 days.<i class="fas fa-times"></i></div>
</div>


<div class='PageInformation'>
  <div class='binInformation'>
    <p class='binSize'></p>
  
    <div class='binUsage'><div></div></div>
  
    <div class='binItemData'></div>
  
    <div class='binEmptyContainer'>
      <button class='binBtn binEmptyBtn'>Empty Bin</button>
    </div>

  </div>
</div>

<script text="text/javascript" src="/JS/drive/bin/bin.js"></script>