<div class='PageContainer'>
  <div class='PageHeader flex-even-cent'>
    <div class='Switch SW_Bin'>
      <div class='Slider SL_Bin'></div>
      <div swOpPos=1 class='SwitchSelected'>Main</div>
      <div swOpPos=2>Blocks</div>
      <div swOpPos=3>Lists</div>
    </div>
  </div>

  <div class='PageData'>
    <div class='Content binContainer grid-items-center'><div></div></div>
    
    <div class='PageInformation'>
      <div class='binInfo flex-column-cent'>
        <p class='binSize'></p>
      
        <div class='binUsage'><div></div></div>
      
        <div class='binItemData'></div>
      
        <div class='binEmptyContainer'>
          <button class='rb-btn-full red-full binEmptyBtn'>Empty Bin</button>
        </div>
    
      </div>
    </div>
  </div>
</div>






<script text="text/javascript" src="/JS/drive/bin/bin.js"></script>