<div class='PageContainer'>
  
  <div class='PageHeader' style="flex-direction: column;">
    <div class='Switch SW_Bin'>
      <div class='Slider SL_Bin'></div>
      <div>Main</div>
      <div>Blocks</div>
      <div>Lists</div>
    </div>
  </div>

  <div class='PageData'>
    <div class='binContainer'></div>

    <div class="binIsEmpty"><img src="/assets/logo/Logo_282c32.svg" alt="Empty Bin"><p>Items deleted in the last 30 days will show here</p></div>
  </div>
  
  <div class='binInfoPopup'>Items left in the bin will be permanently deleted after 30 days.<i class="fas fa-times"></i></div>

</div>


<div class='PageInformation'>
  <div class='binInformation'>
    <p class='binSize'>Bin Size: 3.3GB</p>
  
    <div class='binUsage'><div></div></div>
  
    <div class='binItemData'>
      <p>Holiday Photos 2020</p>
  
      <table>
        <tbody>
          <tr><td>Size</td> <td>1.2GB</td></tr>
          <tr><td>Type</td> <td>Folder</td></tr>
          <tr><td>Deleted</td> <td>05/01/2021</td></tr>
          <tr><td>Contents</td> <td>23 Items</td></tr>
        </tbody>
      </table>
  
      <button class='binBtn binRestoreBtn'>Restore</button>
      <button class='binBtn binDeleteBtn'>Delete</button>
  
    </div>
  
    <div class='binEmptyContainer'>
      <button class='binBtn binEmptyBtn'>Empty Bin</button>
    </div>

  </div>
</div>

<script text="text/javascript" src="/JS/drive/bin/bin.js"></script>