<div class='PageContainer homePageContainer'>
  
  <div class='PageHeader'>
    <div class='PageControls'>
      <span class="navigateBackward" title="Back"><i class="fas fa-chevron-left"></i></span>
      <span class="navigateForward" title="Forward"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class='directoryLocation' type='text' placeholder='Current Directory'></div>


    <span class='searchContainer'>
      <input class='search' type="text" placeholder="Search...">
      <div class='searchParams'><i class="fas fa-cog"></i></div>
      <div class='searchDropdown'>
        <div class='searchParamsContainer'>
          <div class='searchSelectors'>
            <form>
              <p>Within</p>
              <span><input type="radio" name="searchWithin" value="withinAll" checked> <label>All</label></span>
              <span><input type="radio" name="searchWithin" value="withinParent"> <label>Current</label></span>
            </form>
            <form>
              <p>By</p>
              <span><input type="checkbox" name="Colour" value="color" search='ColorSelect'> <label>Colour</label></span>
              <span><input type="checkbox" name="Type" value="type" search='TypeSelect'> <label>Type</label></span>
            </form>
            <form>
              <p>In Range</p>
              <span><input type="checkbox" name="Date" value="date" search='DateRange'> <label>Date</label></span>
              <span><input type="checkbox"name="Size" value="size" search='SizeRange'> <label>Size</label></span>
            </form>
            <form>
              <p>Only For</p>
              <span><input type="checkbox" name="searchFor" value="onlyFolders"> <label>Folders</label></span>
              <span><input type="checkbox" name="searchFor" value="onlyFiles"> <label>Files</label></span>
            </form>
            <form>
              <p>Include</p>
              <span><input type="checkbox" name="Description" value="description" checked> <label>Description</label></span>
              <span><input type="checkbox" name="Previous Names" value="prevNames" checked> <label>Previous Names</label></span>
            </form>
          </div>
          <span class='searchOptionInput'></span>
        </div>
        <div class='searchResultsContainer'>
          <table class='searchResults tableTemplate'><tbody></tbody></table>
        </div>
      </div>
    </span>
  </div>

  <div class='PageData' rc='File_Container'>
    <div class='fileContainer' rc='File_Container'></div>
  </div>
</div>


<div class='PageInformation'>
  <div class='New' title="New Folder or Upload Files"><i class='fas fa-plus'></i>New</div>
  <div class='Switch SW_View' style='top: 14px;right: 10px;' onclick="ToggleView()">
    <div class='Slider SL_View'></div> <div><i class="fas fa-bars"></i></div> <div><i class="fas fa-th-large"></i></div>
  </div>
  <div class='ItemInformation'></div>
</div>


<script>$.ajaxPrefilter(function(options) { options.async = true; });</script>
<script text="text/javascript" src="/JS/drive/main/listeners.js"></script>
<script text="text/javascript" src="/JS/drive/main/viewer.js"></script>
<script text="text/javascript" src="/JS/drive/main/navigate.js"></script>