<!-- .settingsInput {
  height: 28px;
  width: 100%;
  font-size: 14px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid var(--highlight-color);
  border-radius: 5px;
  text-align: left;
  background: none;
  .dark-theme & {
    color: #ccc;
  }
}
.settingsInputHalf {
  width: 120px;
} -->

<!-- <form class='PageInformation'
      action='https://drive.nanode.one/test_upload'
      method='POST'
      encType='multipart/form-data'
      onsubmit='return false'>
    <input type="file" name="sampleFile" />
    <input type='submit' value='Upload!' />
</form> -->