<div class='PageContainer'>
  
  <div class='PageHeader'>
    <div class='PageControls'>
      <span id="directoryControlBack" title="Back"><i class="fas fa-chevron-left"></i></span>
      <span id="directoryControlForward" title="Forward"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div id='directoryLocation' type='text' placeholder='Current Directory'></div>
    <input class='search' type="text" placeholder="Search...">
    <!-- <div class='PageInformationToggle'><i class='fas fa-chevron-right'></i></div> -->
  </div>

  <div class='PageData'>
    <div class='fileContainer' rc='File_Container'></div>
  </div>
</div>


<div class='PageInformation'>
  <div class='New' title="New Folder or Upload Files"><i class='fas fa-plus'></i>New</div>
  <div class='Switch SW_View' style='top: 14px;right: 10px;'>
    <div class='Slider SL_View'></div> <div><i class="fas fa-bars"></i></div> <div><i class="fas fa-th-large"></i></div>
  </div>
  <div class='ItemInformation'></div>
</div>


<script>$.ajaxPrefilter(function(options) { options.async = true; });</script>
<script text="text/javascript" src="/JS/drive/home/user.js"></script>
<script text="text/javascript" src="/JS/drive/home/listeners.js"></script>
<script text="text/javascript" src="/JS/drive/home/viewer.js"></script>